<div class="anchaanfang" ng-controller="chouchaViewCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">抽查</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">详情</span><span class="tag-right"></span>
        		<div style="overflow: hidden;"><button type="button" class="btn btn-primary" ng-click="goBack()" style="position: absolute;right: 20px;bottom: 20px;">返回</button></div>
        	</div>
		</div>
        
    	<div class="panel panel-default">
        	<div class="panel-body">
        		<ul class="js-tab">
        			<li class="basis tab-active" >基础资料</li>        			
        			<li class="check">检查结果</li>
        		</ul>
        		<div class="panel-body js-con">
        			<div class="basis-con con">        				
			    		<div class="panel-body">
							<form class="form-inline" style="padding-left: 25%;">
								<div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">标题</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                    </div>
			                    <div class="input-group form-item">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查区域</font></font></label>
			        				<select ng-model="type" class="form-control select-short" style="width: 160px;">
			                        	<option value=""></option>
			                        	<option value="0">已上报</option>
			                        	<option value="1">已退回</option>
			                        	<option value="2">未上报</option>
			                        </select>
				                </div>
				                <br />
				                <div class="input-group date date_picker form-item" id="J-searchTime">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查日期</font></font></label>
			        				<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
			                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				                </div>
			                    <div class="input-group form-item" style="position: relative;left: 5px;">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查河道</font></font></label>
			        				<select ng-model="type" class="form-control select-short" style="width: 160px;">
			                        	<option value=""></option>
			                        	<option value="0">已上报</option>
			                        	<option value="1">已退回</option>
			                        	<option value="2">未上报</option>
			                        </select>
				                </div>
				                <br />
				                <div class="input-group form-item">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">任务类型</font></font></label>
			        				<select ng-model="type" class="form-control select-short" style="width: 160px;">
			                        	<option value=""></option>
			                        	<option value="0">临时任务</option>
			                        	<option value="1">常规任务</option>
			                        </select>
				                </div>
				                <div class="input-group form-item" style="position: relative;left: 5px;">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下发人员</font></font></label>
			        				<select ng-model="type" class="form-control select-short" style="width: 160px;">
			                        	<option value=""></option>
			                        	<option value="0">人员一</option>
			                        	<option value="1">人员二</option>
			                        	<option value="2">人员三</option>
			                        </select>
				                </div>			                           			                 
							</form>				
			    		</div>
        			</div>
        			
					<div class="check-con con tab-show">
        				<div class="panel-body"> 
        					<div style="overflow: hidden">
        						<form class="form-inline" style="float:left;padding-left: 15%;">
	        						<div class="form-item" >
				                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>检查时间</font></label>
				                        <input type="text" class="form-control input-short" ng-model="title">
				                    </div>
				                    <br />
				                    <div class="form-item">
				                    	<div style="height: 34px; position: relative;left: -95px;">
				                    		<label>问题1</label>
					                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上报问题类型</font></label>
					                        <input type="text" class="form-control input-short" ng-model="title">
				                    	</div>			                    	
				                        <br />
				                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上报问题描述</font></label>
	                        			<textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="issuer" rows="3" style="width: 160px;max-width: 160px;"></textarea>
				                    </div>
				                    <br />
				                    <div class="form-item">
				                    	<div style="height: 34px; position: relative;left: -95px;">
				                    		<label>问题2</label>
					                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上报问题类型</font></label>
					                        <input type="text" class="form-control input-short" ng-model="title">
				                    	</div>
				                    	
				                        <br />
				                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上报问题描述</font></label>
	                        			<textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="issuer" rows="3" style="width: 160px;max-width: 160px;"></textarea>
				                    </div>
				                    <br />
				                    <div class="form-item">
				                    	<div style="height: 34px; position: relative;left: -95px;">
				                    		<label>问题2</label>
					                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上报问题类型</font></label>
					                        <input type="text" class="form-control input-short" ng-model="title">
				                    	</div>
				                    	
				                        <br />
				                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上报问题描述</font></label>
	                        			<textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="issuer" rows="3" style="width: 160px;max-width: 160px;"></textarea>
				                    </div>
	        					</form>
		        					
		        				<form class="form-inline" style="float:left;">
	        						<div class="form-item" >
				                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上报人</font></label>
				                        <input type="text" class="form-control input-short" ng-model="title">
				                    </div>
				                    <br />
				                    <div class="form-item">
				                    	<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>扣分</font></label>
				                    	<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>22分</font></label>
				                    	<br />
				                    	<label style="position: relative;left: -195px;top: 25px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上传照片</font></label>
				                    	<div style="display: inline-block;margin-left: 95px;">
				                        	<img src="https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=0fd5d24f9f45d688bc02b4a494c27dab/4b90f603738da977f53a9d57bd51f8198618e3b1.jpg" alt="" style="width: 100px;height: 100px;"/>
				                        	<img src="https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=0fd5d24f9f45d688bc02b4a494c27dab/4b90f603738da977f53a9d57bd51f8198618e3b1.jpg" alt="" style="width: 100px;height: 100px" />
											<button type="button" class="btn btn-primary" style="margin-top: 65px;">预览</button>
				                    	</div>
				                    	
				                    </div>
				                    <br />
				                    <div class="form-item">
				                    	<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>扣分</font></label>
				                    	<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>22分</font></label>
				                    	<br />
				                    	<label style="position: relative;left: -195px;top: 25px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>上传照片</font></label>
				                    	<div style="display: inline-block;margin-left: 95px;">
				                        	<img src="https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=0fd5d24f9f45d688bc02b4a494c27dab/4b90f603738da977f53a9d57bd51f8198618e3b1.jpg" alt="" style="width: 100px;height: 100px;"/>
				                        	<img src="https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=0fd5d24f9f45d688bc02b4a494c27dab/4b90f603738da977f53a9d57bd51f8198618e3b1.jpg" alt="" style="width: 100px;height: 100px" />
											<button type="button" class="btn btn-primary" style="margin-top: 65px;">预览</button>
										</div>
				                    </div>
	        					</form>
    						</div>
        					
        					<div style="text-align: center;margin: 35px 0;">
				                <button type="button" class="btn btn-primary" style="margin: 0 50px;" ng-click="submit()" >查看事件</button>
			                </div>
        				</div>
        			</div>
        			
        		</div> 
        		
        	</div>
       	</div>
    </div>
</div>