<div class="" ng-controller="kaohepingfenViewCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">地表水质评分管理</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">详情</span><span class="tag-right"></span>
        		<div style="overflow: hidden;"><button type="button" class="btn btn-primary" ng-click="goBack()" style="position: absolute;right: 20px;bottom: 20px;">返回</button></div>
        	</div>
		</div>
        
    	<div class="panel panel-default">
        	<div class="panel-body">
        		<div>
        			<h3 style="font-size: 16px;font-weight: 700;display: inline-block;">{{surTitle}}</h3>
					<div style="display: inline-block;float: right;">
						<button type="button" class="btn btn-info" ng-click="add()" ng-if="num == 1">新增</button>
						<input type="file" class="hidden" id="J-attandUploader" ng-model="attandUrl" onchange="angular.element(this).scope().uploadFile(this)"/>
						<button class="btn btn-success" onclick="document.getElementById('J-attandUploader').click()" ng-if="num == 1">导入(.xls)</button>
						<!--<a class="btn btn-info" ng-if="num == 1" ng-href="http://10.0.0.196/api/download/uhope/infomation/20181102145942915_地表水.xlsx" target="_blank"  class="downOrLook">下载导入模板</a>-->
						<a class="btn btn-info" ng-if="num == 1" ng-href="{{fileUrl}}/uhope/infomation/20190515155816798_20181102145942915_地表水.xlsx" target="_blank"  class="downOrLook">下载导入模板</a>
					</div>
        		</div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                	<tr class='tHeader'>
	                                    <th width="10%">序号</th>
	                                    <th width="30%">行政区域</th>
	                                    <th width="30%">考核得分</th>
	                                    <th width="15%" ng-if="num == 1">操作</th>
	                                </tr>
                                	<tr ng-repeat="item in detailList">
	                                    <td>{{$index+1}}</td>
	                                    <td>{{item.popedom}}</td>
	                                    <td>{{item.grade}}</td>
										<td ng-if="num == 1">
											<button type="button" class="btn btn-primary btn-sm" ng-if="status != 0" ng-click="edit(item)">修改</button>
											<button type="button" class="btn btn-danger btn-sm" ng-if="status != 0" ng-click="delete(item.id)">删除</button>
										</td>
	                                </tr>	                               
                            	</tbody>
                            </table>
                			<!--<tm-pagination conf="paginationConf"></tm-pagination>-->
                        </div>
                    </div>
                    <div class="tab-pane" id="chartStatistics">
                        <div id="patrolChart" class="tj-chart-con"></div>
                    </div>
                </div>
                
        	</div>
       </div>    	
    </div>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						{{type == 1 ? "修改" : "新增"}}条目
					</h4>
				</div>
				<div class="modal-body" style="height: 200px;">
					<form class="form-inline">
						<div class="input-group form-item">
							<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">行政区域</font></font></label>
							<select ng-model="area" class="form-control select-short" style="width: 160px;">
								<option value="">请选择</option>
								<option value="{{item}}" ng-repeat="item in allArea">{{item}}</option>
							</select>
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>
						<div class="form-item">
							<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">考核分数</font></font></label>
							<input name="number" min="0" max="100"  step="0.01" class="form-control input-short" ng-model="score">
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="save()">保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
				</div>
			</div>
		</div>
	</div>

</div>