<div ng-controller="waterEditCtrl">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3">水系编辑</h1>
	</div>
	<div class="wrapper-md">
		<div class="panel panel-default m-all-0">
			<div class="panel-body">
				<form id="hydroNetAddForm" class="form-inline" method="get" novalidate="novalidate">
					<div class="form-item">
						<label>水系名称</label>
						<input type="text" class="form-control input-short" ng-model="water_name"  ng-blur="isRepeat()"/>
                        <span class="required">*</span>
					</div>
					<div class="form-item">
						<label>所属流域</label>
						<select ng-init="belongDrainage()" ng-model="b_Water.basinCode" ng-options="pm.basinCode as pm.basinName for pm in belongDrainages"
                                ng-change="drainege_Change(b_Water.basinCode)" class="form-control select-short">
                            <option  value="">请选择</option>
                        </select>
                        <span class="required">*</span>
					</div>
					<br/>
                    <div class="form-item">
                        <label>概述</label>
                    </div>
                    <div id="editor">
                    </div>
					<br/>
					<div class="form-item">
						<label>备注</label>
						<textarea class="form-control textarea-long" ng-model="remark" rows="4" maxlength="512"></textarea>
					</div>
				</form>
			</div>
			<div class="panel-footer m-b-10">
				<div class="btn-box">
					<button type="submit" class="btn btn-primary" ng-click="submit()">
						<i class="fa fa-plus"></i>确定
					</button>
					<button type="submit" class="btn btn-default" ng-click="back()">
						<i class="fa fa-reply"></i>返回
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    var ue =  CKEDITOR.replace( 'editor' );
</script>