<div ng-controller="imRiverDetail" ng-init="init()">
	<div class="wrapper-md">
		<div class="panel panel-default m-n">
			<div class="panel-body" style="position: relative;">
				<span class="tag">河流管理</span><span class="tag-right"></span><span
					class="tag-right tag-left"></span><span class="tag tag1">详情</span><span
					class="tag-right"></span>
			</div>
		</div>
		<div class="panel panel-default m-n">
			<div class="panel-body">
				<div class="panel-content proMgr-container-box">
					<div>
						<form id="riverAddForm" class="form-inline" method="get" novalidate="novalidate">
							<div class="form-item">
								<label>河流名称</label>
								<input type="text" class="form-control input-short" ng-model="riverDetail.riverName" readonly="readonly"/>
							</div>
							<div class="form-item">
	                            <label>河流长度</label>
	                            <input type="text" class="form-control input-short-o" ng-model="riverDetail.length" readonly="readonly"/>
	                            <a class="input-group-addon"><i>km</i></a>
	                            <span class="required">*</span>
	                        </div>
	                      	<div class="form-item">
								<label>河流类型</label>
	                            <input type="text" class="form-control input-short" ng-model="riverDetail.riverTypeName" readonly="readonly"/>
							</div>
							<br/>
	                        <div class="form-item">
	                            <label>河流等级</label>
	                            <input type="text" class="form-control input-short" ng-model="riverDetail.gradeName" readonly="readonly"/>
	                        </div>
							<div class="form-item">
								<label>所属水系</label>
	                            <input type="text" class="form-control input-short" ng-model="riverDetail.waterName" readonly="readonly"/>
							</div>
							<div class="form-item">
		                        <label>所属区域</label>
	                            <input type="text" class="form-control input-short" ng-model="riverDetail.regionName" readonly="readonly"/>
		                    </div>
		                    <br/>
							<div class="form-item">
	                            <label>起点</label>
	                            <input type="text" class="form-control input-short" ng-model="riverDetail.startPoint" readonly="readonly"/>
	                        </div>
	                        <div class="form-item">
	                            <label>终点</label>
	                            <input type="text" class="form-control input-short" ng-model="riverDetail.endPoint" readonly="readonly"/>
	                        </div>
	                        <div class="form-item">
	                            <label>河流编码</label>
	                            <input type="text" class="form-control input-short" ng-model="riverDetail.riverCode" readonly="readonly"/>
	                        </div>
							<br/>

							<br/>
                            <div class="form-item">
                                <label>概述</label>
                            </div>
                            <div id="editor" readonly="readonly">
                            </div>
							<br/>
							<div class="form-item">
								<label>备注</label>
								<textarea class="form-control textarea-long" ng-model="riverDetail.remark" rows="4" readonly="readonly"></textarea>
							</div>
						</form>
					</div>
					<!-- map -->
					<div class="right-panel wid-35">
						<div class="proMgr-basin_map"></div>
					</div>
				</div>
			</div>
			<div class="panel-footer m-b-10">
				<div class="btn-box">
					<button type="submit" class="btn btn-default" ng-click="back()">
						<i class="fa fa-reply"></i>返回
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    var ue =  CKEDITOR.replace( 'editor' );
</script>