<div ng-controller="mainBodyCtrl" ng-init="init()">

    <div id="mainBody" class="mainBody row m-all-0">
        <div class="left-panel col-xs-3 p-all-0">
            <div id="weather" class="panel panel-default weather-default m-all-0">
                <div class="panel-body weather-panel">
                    <div class="mainbody-tips">
						<span>
	        				天气情况
	        			</span>
                    </div>
                    <div class="clearfix">
                        <div class="weather-iframe">
                            <iframe allowtransparency="true" frameborder="0" width="180" height="36" scrolling="no"
                                    src="//tianqi.eastday.com/plugin/widget_v1.html?sc=3&z=2&t=1&v=0&d=3&bd=0&k=&f=ffffff&q=1&a=1&c=54511&w=180&h=36&align=left"></iframe>
                        </div>
                        <div class="weather-date">
                            <p class="date">{{weatherDate.year}}年{{weatherDate.month}}月{{weatherDate.day}}日</p>
                            <p class="time">{{weatherDate.hour}}:{{weatherDate.min}}:{{weatherDate.second}}</p>
                        </div>
                    </div>
                    <div class="patr-count">
                        <span>今日巡河:</span>
                        <span>市:{{countHZOnline.cityCount}}</span>
                        <span>区:{{countHZOnline.countyCount}}</span>
                        <span>镇:{{countHZOnline.townCount}}</span>
                        <span>村:{{countHZOnline.villageCount}}</span>
                    </div>
                </div>
            </div>
            <div style="margin-top:5px;display: flex;flex: 1;justify-content: space-between;flex-direction: column">
                <div id="news-l" class="panel panel-default m-all-0">
                    <div class="panel-body">
                        <div class="mainbody-tips">
							<span>
								河长制工作动态信息
							</span>
                        </div>
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title panel-active" ng-click="tab1()">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion1"
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            工作动态
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="!isShow1"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="isShow1"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div ng-repeat="list in bulletin2" class="titleAndTime">
                                            <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                <span>{{list.postTime}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title" ng-click="tab2()">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion1" href="#collapseTwo" aria-expanded="false"
                                           aria-controls="collapseTwo">
                                            工作简报
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="isShow2"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="!isShow2"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div ng-repeat="list in bulletin3" class="titleAndTime">
                                            <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                <span>{{list.postTime}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="check-active" class="panel panel-default m-all-0" style="margin-top: 5px;">
                    <div class="panel-body">
                        <div class="mainbody-tips">
                            <span>河长制工作通报</span>
                        </div>
                        <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title panel-active" ng-click="tab3()">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion2"
                                           href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                            暗查暗访
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="!isShow3"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="isShow3"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div ng-repeat="list in bulletin1" class="titleAndTime">
                                            <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                <span>{{list.postTime}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title" ng-click="tab4()">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion2" href="#collapseFour" aria-expanded="false"
                                           aria-controls="collapseFour">
                                            督导检查
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="isShow4"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="!isShow4"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div ng-repeat="list in bulletin4" class="titleAndTime">
                                            <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                <span>{{list.postTime}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title" ng-click="tab5()">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion2" href="#collapseFive" aria-expanded="false"
                                           aria-controls="collapseFive">
                                            考核通报
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="isShow5"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="!isShow5"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                     aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class="titleAndTime">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                {{bulletin.title}}
                            </h4>
                        </div>
                        <div class="modal-body" ng-bind-html="bulletin.detail"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mid-panel col-xs-6 p-all-0">
            <div id="mid-map" class="panel panel-default m-all-0">
                <div class="panel-body">
                    <div id="map" class="main-map">

                        <!--全屏操作-->
                        <div class="mapCtrl">
                            <a href="javascript:void(0);" id="fullScreen" ng-click="fullScreen();"><i
                                    class="fa fa-expand"></i></a>
                            <a href="javascript:void(0);" id="exitScreen" ng-click="exitScreen();"
                               style="display: none"><i class="fa fa-compress"></i></a>
                        </div>

                        <!--地图部件操作-->
                        <div class="unitCtrl">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="img/unitIcon-1.png"/>
                                        <span>入河排污口</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="img/unitIcon-2.png"/>
                                        <span>污水处理厂</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="img/unitIcon-3.png"/>
                                        <span>公示牌</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="img/unitIcon-4.png"/>
                                        <span>监测断面</span>
                                    </a>
                                </li>
                            </ul>
                        </div>


                        <div id="mapTips"></div>

                        <div class="city-select form-group">
                            <label class="label-tittle">区域选择</label>
                            <select class="form-control" ng-model="region"
                                    ng-options="region as region.name for region in regionlist"
                                    ng-change="regionChange(region)">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                        <div class="map-legend">
                            <span>图标类别</span>
                            <ul>
                                <li>
                                    <img class="legendImg" src="img/esri-icon/patrol/walkR.gif"/>
                                    巡河：{{rightStausCount.countPatrol}}人
                                </li>
                                <li>
                                    <img class="legendImg" src="img/esri-icon/hzstatus/riverChief.png"/>
                                    在线：{{rightStausCount.countOnline}}人
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-panel col-xs-3 p-all-0">
            <div id="cityRank" class="panel panel-default m-all-0">
                <div class="panel-body">
                    <div class="mainbody-tips">
						<span>
	        				全市考核排名
	        			</span>
                    </div>
                    <div id="main1" style="min-width: 350px;height:250px;"></div>
                </div>
            </div>

            <div id="water-quality" class="panel panel-default m-all-0 m-t-10">
                <div class="panel-body">
                    <div class="mainbody-tips">
						<span>
							天津市水质情况
						</span>
                    </div>
                    <div id="main" style="min-width: 350px;height:150px;"></div>
                </div>
            </div>

            <div id="reach-table" class="panel panel-default m-all-0 m-t-10">
                <div class="panel-body">
                    <div class="mainbody-tips">
						<span>
							河湖问题汇总
						</span>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tableStatistics"
                             style="height: 250px; overflow-x: hidden; overflow-y: auto">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" style="margin-top: 2px;">
                                    <tbody>
                                    <th width="5%">序号</th>
                                    <th width="10%">所在区域</th>
                                    <th width="15%">河段名称</th>
                                    <th width="10%">河长</th>
                                    <th width="15%">问题类型</th>

                                    <tr ng-repeat="lst in problemList">
                                        <td>{{$index+1}}</td>
                                        <td>{{lst.regionName}}</td>
                                        <td>{{lst.riverName}}</td>
                                        <td>{{lst.chairmanName}}</td>
                                        <td>{{lst.problemType}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="chartStatistics">
                            <div id="patrolChart" class="tj-chart-con"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<script>
    var myChart = echarts.init(document.getElementById('main'));
    var myChart1 = echarts.init(document.getElementById('main1'));
    var option = {
        tooltip: {
            trigger: 'item',
            confine: true,
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        color: ['#ff0000', '#000000', '#000099', '#008000', '#ffff00', '#00dd88'],
        legend: [
            {
                orient: 'vertical',
                x: '60%',
                y: '35%',
                bottom: '13%',
                data: ['Ⅰ类', 'Ⅱ类', 'Ⅲ类']
            },
            {
                orient: 'vertical',
                x: '78%',
                y: '35%',
                bottom: '13%',
                data: ['Ⅳ类', 'Ⅴ类', 'VI类']
            }
        ],
        series: [{
            name: '水质情况',
            type: 'pie',
            radius: ['30%', '50%'],
            center: ['28%', '45%'],
            data: [{
                value: 335,
                name: 'Ⅰ类'
            },
                {
                    value: 310,
                    name: 'Ⅱ类'
                },
                {
                    value: 234,
                    name: 'Ⅲ类'
                },
                {
                    value: 135,
                    name: 'Ⅳ类'
                },
                {
                    value: 548,
                    name: 'Ⅴ类'
                },
                {
                    value: 848,
                    name: 'VI类'
                }
            ],
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            },
            label: {
                normal: {
                    textStyle: {
                        color: '#000'
                    }
                }
            }
        }]
    };
    // 使用刚指定的配置项和数据显示图表。

    var option1 = {
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        color: ['#ff0000', '#000000', '#000099', '#008000', '#00dd88'],
        grid: {
            top: '17%',
            left: '15%',
            height: '120'
        },
        xAxis: [{
            type: 'value',
            position: 'top',
            min: 0,
            max: 250,
            interval: 50,
            axisLabel: {
                formatter: '{value} '
            },
            axisPointer: {
                type: 'shadow'
            },
            axisTick: {
                alignWithLabel: false
            }
        }],
        yAxis: {
            type: 'category',
            data: ['蓟州区', '静海区', '宁河区', '滨海新区', '宝坻区', '武清区', '北辰区', '津南区', '西青区', '东丽区', '红桥区', '河北区', '南开区', '河西区', '河东区', '和平区'],
            nameLocation: 'start',
            nameTextStyle: {
                fontSize: 10
            },
        },
        series: [{
            name: '',
            type: 'bar',
            data: [60, 88, 118, 90, 160, 103, 134, 70, 94, 175, 120, 70, 99, 100, 220, 88],
            barWidth: '30%',
            barGap: '1%',
            itemStyle: {   //配置样式，设置每个柱子的颜色
                normal: {
                    color: function (params) {
                        var colorList = ['#60a6ec', '#0473e2', '#00ae4f', '#ffc000', '#de1414', '#60a6ec', '#0473e2', '#00ae4f', '#ffc000', '#de1414', '#60a6ec', '#0473e2', '#00ae4f', '#ffc000', '#de1414', '#00ae4f'];
                        return colorList[params.dataIndex];
                    }
                }
            }
        }]
    };
    myChart.setOption(option);
    myChart1.setOption(option1);
</script>
