<div ng-controller="mainBodyCtrl" ng-init="init()">

    <div id="mainBody" class="mainBody row m-all-0">
        <div class="left-panel col-xs-3 p-all-0">
            <div id="weather" class="panel panel-default weather-default m-all-0">
                <div class="panel-body weather-panel" style="margin-top: 5px;">
                    <!--<div class="mainbody-tips" style="margin-top: -10px;">-->
						<!--<span>-->
	        				<!--天气情况-->
	        			<!--</span>-->
                    <!--</div>-->
                    <div class="clearfix" style="padding: 7px">
                        <div class="weather-iframe">
                            <!--<iframe allowtransparency="true" frameborder="0" width="180" height="36" scrolling="no"-->
                                    <!--src="//tianqi.eastday.com/plugin/widget_v1.html?sc=3&z=2&t=1&v=0&d=3&bd=0&k=&f=ffffff&q=1&a=1&c=54511&w=180&h=36&align=left"></iframe>-->
                            <iframe width="400" scrolling="no" height="50" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=12&color=%23FFFFFF&bgc=%23&icon=1&num=1&site=16"></iframe>
                        </div>
                        <div class="weather-date">
                            <p class="date">{{weatherDate.year}}年{{weatherDate.month}}月{{weatherDate.day}}日</p>
                            <p class="time">{{weatherDate.hour}}:{{weatherDate.min}}:{{weatherDate.second}}</p>
                        </div>
                    </div>
                    <div class="patr-count">
                        <span style="font-size: 14px;">今日巡河<span style="font-size: 10px;">&nbsp;&nbsp;次数</span></span>
                        <div>
                            <span style="font-size: 14px;">{{countHZOnline.cityCount ? countHZOnline.cityCount : 0}}<span style="font-size: 10px;">市级</span></span>
                            <span style="font-size: 14px;">{{countHZOnline.countyCount ? countHZOnline.countyCount : 0}}<span style="font-size: 10px;">区级</span></span>
                            <span style="font-size: 14px;">{{countHZOnline.townCount ? countHZOnline.townCount : 0}}<span style="font-size: 10px;">镇级</span></span>
                            <span style="font-size: 14px;">{{countHZOnline.villageCount ? countHZOnline.villageCount : 0}}<span style="font-size: 10px;">村级</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top:5px;display: flex;flex: 1;justify-content: space-between;flex-direction: column">
                <div id="news-l" class="panel panel-default m-all-0">
                    <div class="panel-body">
                        <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading titleBgActive" role="tab" id="headingOne">
                                    <h4 class="panel-title panel-active" ng-click="tab1()">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion1"
                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="titleActive">
                                            <i class="fa fa-file-text-o" aria-hidden="true" style="position: absolute;left: 0px;top: 2px;"></i>
                                            <strong style="font-size: 15px;margin: 0 20px;">工作动态</strong>
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="!isShow1"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="isShow1"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div ng-repeat="list in bulletin2" class="titleAndTime">
                                            <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                <!--<span class="dot"></span>-->
                                                <span>{{list.post_time}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading titleBg" role="tab" id="headingTwo">
                                    <h4 class="panel-title" ng-click="tab2()">
                                        <a class="collapsed title" role="button" data-toggle="collapse"
                                           data-parent="#accordion1" href="#collapseTwo" aria-expanded="true"
                                           aria-controls="collapseTwo">
                                            <i class="fa fa-file-excel-o" aria-hidden="true" style="position: absolute;left: 0px;top: 2px;"></i>
                                            <strong style="font-size: 15px;margin: 0 20px;">工作简报</strong>
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="!isShow2"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="isShow2"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div ng-repeat="list in bulletin3" class="titleAndTime">
                                            <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                <span>{{list.post_time}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading titleBg" role="tab" id="headingThree">
                                    <h4 class="panel-title panel-active" ng-click="tab3()">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion1"
                                           href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="title">
                                            <i class="fa fa-folder-o" aria-hidden="true" style="position: absolute;left: 0px;top: 2px;"></i>
                                            <strong style="font-size: 15px;margin: 0 20px;">暗查暗访</strong>
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="!isShow3"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="isShow3"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div ng-repeat="list in bulletin1" class="titleAndTime">
                                            <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                <span>{{list.post_time}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading titleBg" role="tab" id="headingFour">
                                    <h4 class="panel-title" ng-click="tab4()">
                                        <a class="collapsed title" role="button" data-toggle="collapse"
                                           data-parent="#accordion1" href="#collapseFour" aria-expanded="true"
                                           aria-controls="collapseFour">
                                            <i class="fa fa-bookmark-o" aria-hidden="true" style="position: absolute;left: 0px;top: 2px;"></i>
                                            <strong style="font-size: 15px;margin: 0 20px;">督导检查</strong>
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="!isShow4"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="isShow4"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingFour">
                                    <div class="panel-body">
                                        <div ng-repeat="list in bulletin4" class="titleAndTime">
                                            <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                <span>{{list.post_time}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading titleBg" role="tab" id="headingFive">
                                    <h4 class="panel-title" ng-click="tab5()">
                                        <a class="collapsed title" role="button" data-toggle="collapse"
                                           data-parent="#accordion1" href="#collapseFive" aria-expanded="true"
                                           aria-controls="collapseFive">
                                            <i class="fa fa-minus-square-o" aria-hidden="true" style="position: absolute;left: 0px;top: 2px;"></i>
                                            <strong style="font-size: 15px;margin: 0 20px;">考核通报</strong>
                                            <i class="fa fa-caret-down" aria-hidden="true" ng-show="!isShow5"></i>
                                            <i class="fa fa-caret-up" aria-hidden="true" ng-show="isShow5"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse in" role="tabpanel"
                                     aria-labelledby="headingFive">
                                    <div class="panel-body">
                                        <div class="titleAndTime">
                                            <div ng-repeat="list in bulletin5" class="titleAndTime">
                                                <a href="javascript:void(0);" ng-click="viewBulletin(list.id)">
                                                    <span>{{list.title.length > 18 ? list.title.substring(0,15) + "..." : list.title }}</span>
                                                    <span>{{list.post_time}}</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="mid-panel col-xs-6 p-all-0">
            <div id="mid-map" class="panel panel-default m-all-0">
                <div class="panel-body">
                    <div id="map" class="main-map">

                        <!--全屏操作-->
                        <div class="mapCtrl">
                            <a href="javascript:void(0);" id="fullScreen" ng-click="fullScreen();"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                            <a href="javascript:void(0);" id="exitScreen" ng-click="exitScreen();"
                               style="display: none"><i class="fa fa-arrows-alt" aria-hidden="true"></i></a>
                        </div>

                        <!--地图部件操作-->
                        <div class="unitCtrl">
                            <ul>
                                <!--<li>-->
                                    <!--<a href="javascript:void(0);" id="outfall" ng-click="loadComponent('1');">-->
                                        <!--<img src="img/unitIcon-1.png"/>-->
                                        <!--<span>入河排污口</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li>
                                    <a href="javascript:void(0);" id="wsclc" ng-click="loadComponent('2');">
                                        <img src="img/unitIcon-2.png"/>
                                        <span>污水处理厂</span>
                                    </a>
                                </li>
                                <!--<li>-->
                                    <!--<a href="javascript:void(0);" id="billboard" ng-click="loadComponent('3');">-->
                                        <!--<img src="img/unitIcon-3.png"/>-->
                                        <!--<span>公示牌</span>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li>
                                    <a href="javascript:void(0);" id="section" ng-click="loadComponent('4');">
                                        <img src="img/unitIcon-4.png"/>
                                        <span>监测断面</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!--水质断面弹窗-->
                        <div id="layui-section-form" style="display: none;">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="150" style="background-color: #f5f5f5"></col>
                                    <col width="350"></col>
                                </colgroup>
                                <tr>
                                    <td>采样日期</td>
                                    <td>{{sectionData.samplingtime}}</td>
                                </tr>
                                <tr>
                                    <td>断面名称</td>
                                    <td>{{sectionData.name}}</td>
                                </tr>
                                <tr>
                                    <td>河流</td>
                                    <td>{{sectionData.rivername}}</td>
                                </tr>
                                <tr>
                                    <td>所属区县</td>
                                    <td>{{sectionData.regionName}}</td>
                                </tr>
                                <tr>
                                    <td>目标水质</td>
                                    <td>{{sectionData.targetquality}}</td>
                                </tr>
                                <tr>
                                    <td>水质成绩</td>
                                    <td>{{sectionData.grade}}</td>
                                </tr>
                                <tr>
                                    <td>指标</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th width="100" style="text-align: center">上月值</th>
                                                <th width="100" style="text-align: center">本月值</th>
                                                <th width="100" style="text-align: center">环比</th>
                                                <th width="100" style="text-align: center">同比</th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>总磷</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th width="100" style="text-align: center">{{sectionData.totalPhosphorusLastMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.totalPhosphorusThisMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.totalPhosphorusChain}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.totalPhosphorusYearOnYearBasis}}</th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>氨氮</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th width="100" style="text-align: center">{{sectionData.ammoniaNitrogenLastMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.ammoniaNitrogenThisMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.ammoniaNitrogenChain}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.ammoniaNitrogenYearOnYearBasis}}</th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>高猛酸盐</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th width="100" style="text-align: center">{{sectionData.permanganateIndexLastMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.permanganateIndexThisMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.permanganateIndexChain}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.permanganateIndexYearOnYearBasis}}</th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>溶解氧</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th width="100" style="text-align: center">{{sectionData.dOLastMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.dOThisMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.dOChain}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.dOYearOnYearBasis}}</th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>水质类别</td>
                                    <td>
                                        <table>
                                            <tr>
                                                <th width="100" style="text-align: center">{{sectionData.levelLastMonth}}</th>
                                                <th width="100" style="text-align: center">{{sectionData.levelThisMonth}}</th>
                                                <th width="100" style="text-align: center">-</th>
                                                <th width="100" style="text-align: center">-</th>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>


                        <div id="layui-section1-form" style="display: none;">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col width="150" style="background-color: #f5f5f5"></col>
                                    <col width="350"></col>
                                </colgroup>
                                <tr>
                                    <td>断面名称</td>
                                    <td>{{sectionData.name}}</td>
                                </tr>
                                <tr>
                                    <td>河流</td>
                                    <td>{{sectionData.rivername}}</td>
                                </tr>
                                <tr>
                                    <td>所属区县</td>
                                    <td>{{sectionData.regionname}}</td>
                                </tr>
                            </table>
                        </div>



                        <!--地图点位名称弹窗-->
                        <div id="mapTips" class="mapTips" style="display: none;"></div>

                        <div class="city-select form-group">
                            <label class="label-tittle">区域选择</label>
                            <select class="form-control" ng-model="region"
                                    ng-options="region as region.name for region in regionlist"
                                    ng-change="regionChange(region)">
                                <option value="">--请选择--</option>
                            </select>
                        </div>
                        <div class="map-legend">
                            <span>图标类别</span>
                            <ul>
                                <li>
                                    <img class="legendImg" src="img/esri-icon/patrol/walkR.gif"/>
                                    巡河：{{rightStausCount.countPatrol}}人
                                </li>
                                <li>
                                    <img class="legendImg" src="img/esri-icon/hzstatus/riverChief.png"/>
                                    在线：{{rightStausCount.countOnline}}人
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-panel col-xs-3 p-all-0">
            <div id="cityRank" class="panel panel-default m-all-0">
                <div class="panel-body">
                    <div class="mainbody-tips">
						<span>
	        				月度考核排名({{regionSortList[0].issue}})
	        			</span>
                    </div>
                    <div id="main1" style="min-width: 350px;height:250px;"></div>
                </div>
            </div>

            <div id="water-quality" class="panel panel-default m-all-0 m-t-10">
                <div class="panel-body">
                    <div class="mainbody-tips">
						<span>
							水质情况({{waterList.issue}})
						</span>
                    </div>
                    <div id="main" style="min-width: 350px;flex: 1;"></div>
                </div>
            </div>

            <div id="reach-table" class="panel panel-default m-all-0 m-t-10">
                <div class="panel-body">
                    <div class="mainbody-tips">
						<span>
							河湖问题汇总
						</span>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tableStatistics"
                             style="height: 180px; overflow-x: hidden; overflow-y: auto">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover" style="margin-top: 2px;">
                                    <tbody>
                                    <th width="5%">序号</th>
                                    <th width="10%">所在区域</th>
                                    <th width="15%">河段名称</th>
                                    <th width="10%">河长</th>
                                    <th width="15%">问题类型</th>

                                    <tr ng-repeat="lst in problemList">
                                        <td>{{$index+1}}</td>
                                        <td>{{lst.regionName}}</td>
                                        <td>{{lst.riverName}}</td>
                                        <td>{{lst.chairmanName}}</td>
                                        <td>{{lst.problemType}}</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="chartStatistics">
                            <div id="patrolChart" class="tj-chart-con"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                        &times;
                    </button>
                    <button type="button" class="close" aria-hidden="true" ng-click="enlarge()" style="margin: 0 20px;">
                        <i class="fa fa-square-o" aria-hidden="true" style="font-size: 15px;position: relative;top: -1px;"></i>
                    </button>
                    <button type="button" class="close" aria-hidden="true" ng-click="shrink()">
                        <i class="fa fa-minus" aria-hidden="true" style="font-size: 15px;position: relative;top: -1px;"></i>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{bulletin.title}}
                    </h4>
                </div>
                <div class="modal-body" style="overflow-x: hidden">
                    <p ng-bind-html="bulletin.detail"></p>
                    <img src="{{bulletin.attand_url}}" alt="" ng-if="showImg">
                    <div id="pdfOb" ng-if="!showImg" style="margin:10px 0;height: 300px;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // var myChart = echarts.init(document.getElementById('main'));
    // var myChart1 = echarts.init(document.getElementById('main1'));
    // var option = {
    //     tooltip: {
    //         trigger: 'item',
    //         confine: true,
    //         formatter: "{a} {b} : {c} ({d}%)"
    //     },
    //     color: ['#ff0000', '#a777e8', '#58aeff', '#f47a8f', '#ff9800', '#00dd88'],
    //     legend: [
    //         {
    //             orient: 'vertical',
    //             icon: "circle",
    //             x: '65%',
    //             y: '25%',
    //             itemWidth: 10,  // 设置宽度
    //             itemHeight: 10, // 设置高度
    //             itemGap: 5 ,// 设置间距
    //             bottom: '15%',
    //             data: ['Ⅱ类', 'Ⅲ类'],
    //             // textStyle: {
    //             //     color: '#fff'
    //             // },
    //             // inactiveColor:'#ccc'
    //         },
    //         {
    //             orient: 'vertical',
    //             icon: "circle",
    //             x: '80%',
    //             y: '25%',
    //             itemWidth: 10,  // 设置宽度
    //             itemHeight: 10, // 设置高度
    //             itemGap: 5 ,// 设置间距
    //             bottom: '15%',
    //             data: [ 'Ⅳ类', 'Ⅴ类','VI类'],
    //             // textStyle: {
    //             //     color: '#fff'
    //             // },
    //             // inactiveColor:'#ccc'
    //         }
    //     ],
    //     series: [{
    //         name: '水质情况',
    //         type: 'pie',
    //         radius: ['30%', '50%'],
    //         center: ['30%', '35%'],
    //         data: [
    //             {
    //                 value: 310,
    //                 name: 'Ⅱ类'
    //             },
    //             {
    //                 value: 234,
    //                 name: 'Ⅲ类'
    //             },
    //             {
    //                 value: 135,
    //                 name: 'Ⅳ类'
    //
    //             },
    //             {
    //                 value: 348,
    //                 name: 'Ⅴ类'
    //             },
    //             {
    //                 value: 368,
    //                 name: 'VI类'
    //             }
    //         ],
    //         itemStyle: {
    //             emphasis: {
    //                 shadowBlur: 10,
    //                 shadowOffsetX: 0,
    //                 shadowColor: 'rgba(0, 0, 0, 0.5)'
    //             }
    //         },
    //         label: {
    //             normal: {
    //                 textStyle: {
    //                     color: '#333'
    //                 }
    //             }
    //         },
    //         labelLine: {
    //             normal: {
    //                 show: true
    //             }
    //         }
    //     }]
    // };
    // // 使用刚指定的配置项和数据显示图表。
    //
    // var option1 = {
    //     tooltip: {
    //         trigger: 'axis',
    //         axisPointer: {
    //             type: 'cross',
    //             crossStyle: {
    //                 color: '#999'
    //             }
    //         }
    //     },
    //     color: ['#ff0000', '#000000', '#000099', '#008000', '#00dd88'],
    //     grid: {
    //         top: '3%',
    //         left: '15%',
    //         height: '110'
    //     },
    //     xAxis: [{
    //         type: 'value',
    //         position: 'bottom',
    //         min: 0,
    //         max: 250,
    //         interval: 50,
    //         axisLabel: {
    //             formatter: '{value} '
    //         },
    //         axisPointer: {
    //             type: 'shadow'
    //         },
    //         axisTick: {
    //             alignWithLabel: false
    //         }
    //     }],
    //     yAxis: {
    //         type: 'category',
    //         data: ['蓟州区', '静海区', '宁河区', '滨海新区', '宝坻区', '武清区', '北辰区', '津南区', '西青区', '东丽区', '红桥区', '河北区', '南开区', '河西区', '河东区', '和平区'],
    //         // data:$scope.sortRegion,
    //         nameLocation: 'start',
    //         nameTextStyle: {
    //             fontSize: 10
    //         },
    //     },
    //     series: [{
    //         name: '',
    //         type: 'bar',
    //         data: [60, 88, 118, 90, 160, 103, 134, 70, 94, 175, 120, 70, 99, 100, 220, 88],
    //         // data:$scope.sortRegionScore,
    //         barWidth: '30%',
    //         barGap: '1%',
    //         itemStyle: {   //配置样式，设置每个柱子的颜色
    //             normal: {
    //                 color: function (params) {
    //                     var colorList = ['#60a6ec', '#0473e2', '#00ae4f', '#ffc000', '#de1414', '#60a6ec', '#0473e2', '#00ae4f', '#ffc000', '#de1414', '#60a6ec', '#0473e2', '#00ae4f', '#ffc000', '#de1414', '#00ae4f'];
    //                     return colorList[params.dataIndex];
    //                 }
    //             }
    //         }
    //     }]
    // };
    // myChart.setOption(option);
    // myChart1.setOption(option1);

    // $('#collapseOne .titleAndTime').click(function (e) {
    //     alert(1)
    //     e.stopPropagation();
    //     $(this).find('.dot').css('display','none');
    // })
</script>
