<div ng-controller="pondCtrl" ng-init="init()">
    <div class="wrapper-md">
        <div class="panel panel-default m-all-0 border-bottom-n">
            <div class="panel-body">
                <form class="form-inline query-conditions-form" method="get">
                    <div class="form-item">
                        <label>坑塘名称</label>
                        <input type="text" class="form-control input-short" ng-model="pondName"/>
                    </div>
                    <div class="form-item">
                        <label>坑塘类型</label>
						<select ng-init="pondTypeList()" ng-model="pondType" ng-options="pd.typeValue as pd.typeName for pd in pondTypes" class="form-control select-short">
                            <option value="">请选择</option>
                        </select>
                    </div>
                   <div class="form-item">
                        <label>所属区域</label>
                        <input ng-model="regionName" type="text" class="form-control input-short-o" ng-click="regionShow()" readonly>
                        <a class="input-group-addon" ng-click="regionShow()"><i class="icon-jx_search"></i></a>
                    </div>
                    <button type="button" class="btn btn-search" ng-click="find()">搜 索</button>
					<button type="button" class="btn btn-reset" ng-click="reSet()">重 置</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="table-bar">
                        <button class="btn btn-primary" ng-click="pondAdd()">
                            <i class="icon-jx_add"></i> 新增
                        </button>
                      <!--   <button class="btn btn-default">
                            <a href="#/app/index/9805804528df43cebebad36098a44a70_1_537"><i class="icon-jx_import"></i> 导入</a>
                        </button> -->
                        <!-- <button class="btn btn-default" ng-click="dataExport()">
                            <i class="icon-jx_export"></i> 导出
                        </button> -->
                    </div>
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr>
                                <th width="90">序号</th>
                                <th>坑塘名称</th>
                                <th>坑塘类型</th>
                                <th>所属区域</th>
                                <th>面积/m&sup2;</th>
                                <th width="180">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="module in moduleList track by $index" ng-init="index=$index+1">
    							<td>{{index + (paginationConf.currentPage-1)*paginationConf.itemsPerPage}}</td>
                                <td>{{module.pondName}}</td>
                                <td>{{module.pondTypeName}}</td>
                                <td>{{module.regionName}}</td>
                                <td>{{module.acreage}}</td>
                                <td class="td-tool">
                                    <a class="btn btn-primary btn-xs" ng-click="pondDetail(module.id)" title="详细"><i class="fa fa-info"></i></a>
                                    <a class="btn btn-primary btn-xs" ng-click="pondEdit(module.id)" title="修改"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-primary btn-xs" ng-click="pondDelete(module.id,module.name)" title="删除"><i class="fa fa-trash-o"></i></a>

<!-- 
                                    <a class="btn btn-xs" ng-click="pondDetail(module.id)" title="详细"><i class="icon-jx_info"></i></a>
                                    <a class="btn btn-xs" ng-click="pondEdit(module.id)" title="修改"><i class="icon-jx_edit"></i></a>
                                    <a class="btn btn-xs" ng-click="pondDelete(module.id)" title="删除"><i class="icon-jx_delete_form"></i></a> -->
                                </td>
                            </tr>
                            </tbody>
                    </table>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
    <tree-modal modal-tree-info = "{{modalTreeInfo}}"></tree-modal>
</div>