<div class="bulletin" ng-controller="bulletinViewCtrl" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">信息发布</span><span class="tag-right"></span><span
                    class="tag-right tag-left"></span><span class="tag tag1">详情</span><span class="tag-right"></span>
                <div style="overflow: hidden;">
                    <button type="button" class="btn btn-primary" ng-click="goBack()"
                            style="position: absolute;right: 20px;bottom: 20px;">返回
                    </button>
                </div>
            </div>
        </div>
        <div class="bulletin-view-info text-right">
            <span>月份:{{bulletin.month}}</span>
            <span>上传人:{{bulletin.issuer}}</span>
            <span>上传时间:{{bulletin.post_time}}</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="tab-content">
                    <h1 class="bulletin-view-title">{{bulletin.title}}</h1>
                    <div class="bulletin-view-content" ng-bind-html="bulletin.detail"></div>
                    <p ng-if="!!bulletin.attand_url">
                        附件:<span>{{attandName}}</span>
                        <a href="http://10.0.0.196/api/download/{{bulletin.attand_url}}" target="_blank"
                           style="color: #3189e1;">下载</a>
                        <!--<a href="{{getServiceUrl}}/fm{{bulletin.attand_url}}" target="_blank"-->
                           <!--style="color: #3189e1;">预览</a>-->
                        <!--<a ng-href="http://10.0.9.196:8888/bulletin/v1/bulletin/download?attandUrl={{bulletin.attand_url}}"-->
                        <!--target="_blank" class="downOrLook">下载</a>-->
                        <a ng-href="{{getServiceUrl}}/bulletin/v1/bulletin/lookload?attand_url={{bulletin.attand_url}}"
                        target="_blank" class="downOrLook">预览</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>