<div class="anchaanfang" ng-controller="duchaListCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">督查</span><span class="tag-right"></span>
        	</div>
        	
        </div>
    	<div class="panel panel-default">
        	<div class="panel-body">
        		<div class="table-bar">
        			<form class="form-inline clearfix">        					                    
	        			<div class="input-group date date_picker form-item" id="J-searchTime">
	                        <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">印发日期</font></font></label>
	        				<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                    </div>
	        			<div class="form-item" >
	                        <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">文号</font></font></label>
	                        <input type="text" class="form-control input-short" ng-model="renumber">
	                    </div>
						<div class="form-item" >
							<label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">标题</font></font></label>
							<input type="text" class="form-control input-short" ng-model="title">
						</div>
	                    <div class="input-group form-item">
	                        <label class="near n"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">状态</font></font></label>
	        				<select ng-model="state" class="form-control select-short" style="width: auto;">
	                        	<option value="">请选择</option>
	                        	<option value="{{item.id}}" ng-repeat="item in stateList">{{item.state}}</option>
	                        </select>
	                    </div>	                                 
        				<div class="input-group">
		                    <button class="btn btn-primary" ng-click="search()">
		                    	<i class="fa fa-search"></i>搜索
		                    </button>
							<button type="button" class="btn btn-primary" ng-click="reset()" style="margin: 0 5px;">
								<i class="fa fa-refresh"></i>重置
							</button>
	                    </div>
	                    <div class="input-group fr" ng-if="num ==2">
		                    <button type="button" class="btn btn-primary" ng-click="add()">
		                        <i class="fa fa-plus"></i> 新增
		                    </button>
	                    </div>
                    </form>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                	<tr class='tHeader'>
	                                    <th width="5%">序号</th>
	                                    <th width="15%">标题</th>
	                                    <th width="15%">印发日期</th>
	                                    <th width="15%">文号</th>
	                                    <th width="15%">督查检查方式</th>
	                                    <th width="10%">状态</th>
	                                    <th width="13%">操作</th>
	                                </tr>
	                                <tr ng-repeat="item in moduleList">
	                                    <td>{{$index+1}}</td>
	                                    <td>{{item.title}}</td>
	                                    <td>{{item.printDate}}</td>
										<td>{{item.renumber}}</td>
	                                    <td>{{item.inspectType}}</td>
	                                    <td>
	                                    	<span class="label label-info" ng-if="item.state == 0">已上报</span>
	                                    	<span class="label label-danger" ng-if="item.state == 1">已下发</span>
	                                    	<span class="label label-warning" ng-if="item.state == 2">已通知</span>
	                                    	<span class="label label-primary" ng-if="item.state == 3">已通报</span>
	                                    	<span class="label label-default" ng-if="item.state == 4">已处理</span>
	                                    </td>
	                                    <td style="text-align: left;">
	                                    	<button type="button" class="btn btn-success" ng-click="view(item.id,item.oneregion,item.state)">查看</button>
											<button type="button" class="btn btn-danger" ng-if="item.state == 1 && num ==5" ng-click="oprate(item.id,1,item.oneregion,item.state)">上报</button>
											<button type="button" class="btn btn-info" ng-if="item.state == 0 && num == 2" ng-click="oprate(item.id,2,item.oneregion,item.state)">建组并通知</button>
											<button type="button" class="btn btn-warning" ng-if="item.state == 2 && num == 2" ng-click="oprate(item.id,3,item.oneregion,item.state)">检查并通报</button>
											<button type="button" class="btn btn-dark" ng-if="item.state == 3 && num == 5 && item.oneregion != 1" ng-click="oprate(item.id,4,item.oneregion,item.state)">处理</button>
											<button type="button" class="btn btn-dark" ng-if="item.state == 3 && num == 5 && item.oneregion && item.oneregion == 1" ng-click="oprate(item.id,5,item.oneregion,item.state)">一区一单</button>
										</td>
	                                </tr>
                            	</tbody>
                            </table>
                			<tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                    </div>
                    <div class="tab-pane" id="chartStatistics">
                        <div id="patrolChart" class="tj-chart-con"></div>
                    </div>
                </div>
        	
        	</div>
        </div>
    	
    </div>
</div>