<div class="conferenceCtrl chouchadudao anchaanfang" ng-controller="supervisingListCtrl" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">督办</span><span class="tag-right"></span>
            </div>
        </div>
        <div class="panel panel-default m-all-0">
            <div class="panel-body">
                <form method="get">
                    <div class="form-inline">
                        <div class="form-item">
                            <label>督办项目</label>
                            <input type="text" class="form-control input-short" ng-model="project"/>
                        </div>
                        <div class="form-item">
                            <label>督办对象</label>
                            <select class="form-control select-short" ng-change="selectChange();" ng-model="region">
                                <option value="">请选择</option>
                                <option value="{{item.regionId}}" ng-repeat="item in regionList">{{item.regionName}}</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label>开始时间</label>
                            <div class="input-group date date_picker" id="startTime">
                                <input type="text" class="form-control input-short-o" ng-model="startTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>结束时间</label>
                            <div class="input-group date date_picker" id="endTime">
                                <input type="text" class="form-control input-short-o" ng-model="endTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>督办文号</label>
                            <input type="text" class="form-control input-short" ng-model="proof"/>
                        </div>
                        <div class="form-item">
                            <label>是否办结</label>
                            <select class="form-control select-short" ng-model="status">
                                <option value="">全部</option>
                                <option value="1">未办结</option>
                                <option value="2">未按期整改</option>
                                <option value="3">已办结</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label>督办类型</label>
                            <select class="form-control select-short" ng-model="type">
                                <option value="">全部</option>
                                <option value="1">普通督办</option>
                                <option value="2">现场督办</option>
                                <option value="3">挂牌督办</option>
                            </select>
                        </div>
                        <button type="submit" ng-click="searchData()" class="btn btn-primary">
                            <i class="fa fa-search"></i>搜索
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="reset()" style="margin: 0 5px;">
                            <i class="fa fa-refresh"></i>重置
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="form-inline">
                        <div class="input-group fr">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="add()" style="margin:0 10px;">
                                <i class="fa fa-plus"></i> 发起督办
                            </button>
                            <!--<button type="button" class="btn btn-primary btn-sm" ng-click="export()">-->
                                <!--<i class="fa-sign-in"></i> 导出-->
                            <!--</button>-->
                        </div>
                    </div>
                    <table class="table table-bordered table-hover" data-filter="#filter">
                        <tr>
                            <th style="width: 3%;">序号</th>
                            <th style="width: 15%">督办事项
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','project')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','project')"></i>
                            </th>
                            <th style="width: 10%">督办对象
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','objectname')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','objectname')"></i>
                            </th>
                            <th style="width: 7%">督办文号</th>
                            <th style="width: 10%">应回复日期
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','deadlinedate')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','deadlinedate')"></i>
                            </th>
                            <th style="width: 10%">督办点位
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','address')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','address')"></i>
                            </th>
                            <th style="width: 7%">督办类型
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','type')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','type')"></i>
                            </th>
                            <th style="width: 7%">督办结果
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','resule')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','resule')"></i>
                            </th>
                            <th style="width: 8%">是否办结
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','status')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','status')"></i>
                            </th>
                            <th style="width: 8%">现场核查
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','whetherinspect')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','whetherinspect')"></i>
                            </th>
                            <th style="width: 10%">操作</th>
                        </tr>
                        <tr ng-repeat="module in moduleList"  style="cursor:pointer;">
                            <td>{{$index + 1 + (paginationConf.currentPage-1)*paginationConf.itemsPerPage}}</td>
                            <td>{{module.project}}</td>
                            <td>{{module.objectname}}</td>
                            <td>{{module.proof}}</td>
                            <td>{{module.deadlinedate}}</td>
                            <td>{{module.address}}</td>
                            <td>
                                <span ng-if="module.type == 1">普通督办</span>
                                <span ng-if="module.type == 2">现场督办</span>
                                <span ng-if="module.type == 3">挂牌督办</span>
                            </td>
                            <td>
                                <span ng-if="module.resule == 2">完成</span>
                                <span ng-if="module.resule == 1">未完成</span>
                            </td>
                            <td>
                                <span ng-if="module.status == 3" class="label label-danger">已办结</span>
                                <span ng-if="module.status == 1" class="label label-success">未办结</span>
                                <span ng-if="module.status == 2" class="label label-info">未按期整改</span>
                            </td>
                            <td>
                                <span ng-if="module.whetherinspect == 2">已核查</span>
                                <span ng-if="module.whetherinspect == 1">已发起</span>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" ng-click="view(module.id)"><i class="fa fa-info" title="查看"></i></a>
                                <a class="btn btn-primary btn-xs" ng-click="feedback(module)"><i class="fa fa-file-text-o" title="督办反馈"></i></a>
                                <a class="btn btn-primary btn-xs" ng-if="module.whetherinspect == 2" ng-click="check(module)"><i class="fa fa-chain-broken" title="现场核查"></i></a>
                            </td>
                        </tr>
                    </table>

                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>

        <!--描述：所属区域树-->
        <div class="modal fade" id="regionTreeModal" role="dialog_region" data-backdrop="static" style="z-index: 99999;">
            <div class="modal-dialog modal-jm " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">选择区域</h4>
                    </div>
                    <div class="modal-body">

                        <ul id="regionTreeContainer" class="ztree regionTreeContent"></ul>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getModalOk()">
                            <i class="fa fa-check"></i>
                            <span>确 定</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 发起督办（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            发起督办
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 500px;">
                        <form class="form-inline clearfix">
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办标题</font></font></label>
                                <input type="text" class="form-control input-long" ng-model="supervisingTitle">
                            </div>
                            <div class="form-item">
                                <label>下发日期</label>
                                <div class="input-group date date_picker" id="startTime1">
                                    <input type="text" class="form-control input-short-o" ng-model="startTime1">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办文号</font></font></label>
                                <input type="text" class="form-control input-short" ng-model="supervisingProof" style="width: 150px;">
                            </div>
                            <div class="form-item">
                                <label>截止日期</label>
                                <div class="input-group date date_picker" id="endTime1">
                                    <input type="text" class="form-control input-short-o" ng-model="endTime1">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办事项</font></font></label>
                                <input type="text" class="form-control input-long" ng-model="supervisingProject">
                            </div>
                            <div class="input-group form-item" style="z-index: 10;">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办对象</font></font></label>
                                <select id="slpk" class="form-control selectpicker" ng-change="getChange(supervisingObjectid)" multiple data-actions-box="true" data-size="8"  style="width: 426px;z-index: 0;" ng-model="supervisingObjectid">
                                </select>
                            </div>

                            <!--<div class="form-item">-->
                                <!---->
                            <!--</div>-->
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办点位</font></font></label>
                                <input type="text" class="form-control input-long" ng-model="supervisingAddress">
                            </div>
                            <div class="form-item">
                                <label>督办类型</label>
                                <select class="form-control select-short" ng-change="selectChange();" ng-model="supervisingType" style="width: 425px;">
                                    <option value="">请选择</option>
                                    <option value="1">普通督办</option>
                                    <option value="2">现场督办</option>
                                    <option value="3">挂牌督办</option>
                                </select>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办原因</font></font></label>
                                <textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="supervisingReason" rows="3" style="width: 425px;max-width: 425px;"></textarea>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">附件</font></font></label>
                                <button class="btn btn-info" ng-click="getUploadFile()"><i
                                        class="fa fa-css3"></i>上传附件
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="submit()">保存</button>
                        <button type="button" class="btn btn-default" ng-click="close()">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 查看督办详情（Modal） -->
        <div class="modal fade" id="myModalView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabelView">
                            查看详情
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 500px;">
                        <form class="form-inline clearfix">
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办标题</font></font></label>
                                <input type="text" readonly class="form-control input-long" ng-model="detailData.title">
                            </div>
                            <div class="form-item">
                                <label>下发日期</label>
                                <div class="input-group date date_picker">
                                    <input type="text" readonly class="form-control input-short-o" ng-model="detailData.issuedtime">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办文号</font></font></label>
                                <input type="text" readonly class="form-control input-short" ng-model="detailData.proof" style="width: 150px;">
                            </div>
                            <div class="form-item">
                                <label>截止日期</label>
                                <div class="input-group date date_picker">
                                    <input type="text" readonly class="form-control input-short-o" ng-model="detailData.deadlinedate">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办事项</font></font></label>
                                <input type="text" readonly class="form-control input-long" ng-model="detailData.project">
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办点位</font></font></label>
                                <input type="text" class="form-control input-long" readonly ng-model="detailData.address">
                            </div>
                            <div class="form-item">
                                <label>督办类型</label>
                                <select class="form-control select-short" disabled ng-change="selectChange();" ng-model="detailData.type" style="width: 425px;">
                                    <option value="">请选择</option>
                                    <option value="1">普通督办</option>
                                    <option value="2">现场督办</option>
                                    <option value="3">挂牌督办</option>
                                </select>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办原因</font></font></label>
                                <textarea class="form-control" readonly ng-model="detailData.reason" rows="3" style="width: 425px;max-width: 425px;"></textarea>
                            </div>
                            <div class="form-item" ng-if="fileList.length > 0">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">附件</font></font></label>
                            </div>
                            <div class="form-item" style="position: relative;width: 425px;">
                                <span ng-repeat="item in fileList" style="color: #333;cursor: pointer;display: block;margin: 8px 10px;" ng-click="downFile(item.previewURL)">{{item.name}}
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>


        <!--督办反馈-->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel12">
                            督办结果
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 400px;">
                            <form class="form-inline" ng-repeat="item in feedbackList">
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">反馈区域</font></font></label>
                                    <input type="text" class="form-control input-short" readonly ng-model="item.region_name">
                                </div>
                                <div class="form-item">
                                    <label>答复时间</label>
                                    <div class="input-group date date_picker">
                                        <input type="text" readonly class="form-control input-short-o" ng-model="item.replyList[0].replyDate">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-item" style="position: relative;left: -274px;">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">答复人</font></font></label>
                                    <input type="text" class="form-control input-short" readonly ng-model="item.replyList[0].replyPerson">
                                </div>
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">答复说明：</font></font></label>
                                    <textarea class="form-control" readonly ng-model="item.replyList[0].description" rows="3" style="width: 425px;max-width: 425px;"></textarea>
                                </div>
                                <div class="form-item" ng-if="item.replyList[0].fileList.length > 0">
                                    <label><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">附件</font></font></label>
                                </div>
                                <div class="form-item" style="position: relative;left: -20px;width: 425px;">
                                    <span ng-repeat="item in item.replyList[0].accessoryURL" style="color: #333;display: block;cursor: pointer;margin: 8px 10px;" ng-click="downFile(item.previewURL)">{{item.name}}
                                    </span>
                                </div>

                            </form>
                            <div class="form-item">
                                <label>处理结果</label>
                                <select class="form-control select-short"  ng-change="selectChange(dealStatus);" ng-model="dealStatus" style="width: 425px;">
                                    <option value="">请选择</option>
                                    <option value="3">已办结</option>
                                    <option value="1">未办结</option>
                                    <option value="2">未按期整改</option>
                                </select>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-show="isShow" ng-click="save(1)">重新办理</button>
                        <button type="button" class="btn btn-primary" ng-show="isShow" ng-click="save(2)">发起现场核查</button>
                        <button type="button" class="btn btn-primary" ng-show="!isShow" ng-click="save(3)">保存</button>
                        <button type="button" class="btn btn-primary" ng-click="closeModal()">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 修改督办详情（Modal） -->
        <div class="modal fade" id="myModalView1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabelView1">
                            重新发起督办
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 450px;">
                        <form class="form-inline clearfix">
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办标题</font></font></label>
                                <input type="text" readonly class="form-control input-long" ng-model="detailData.title">
                            </div>
                            <div class="form-item">
                                <label>下发日期</label>
                                <div class="input-group date date_picker">
                                    <input type="text" readonly class="form-control input-short-o" ng-model="detailData.issuedtime"  style="width: 173px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办文号</font></font></label>
                                <input type="text" readonly class="form-control input-short" ng-model="detailData.proof" style="width: 150px;">
                            </div>
                            <div class="form-item">
                                <label>截止日期</label>
                                <div class="input-group date date_picker" id="enddingTime">
                                    <input type="text" class="form-control input-short-o" ng-model="enddingTime"  style="width: 173px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>

                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办事项</font></font></label>
                                <input type="text" readonly class="form-control input-long" ng-model="detailData.project">
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办点位</font></font></label>
                                <input type="text" class="form-control input-long" readonly ng-model="detailData.address">
                            </div>
                            <div class="form-item">
                                <label>督办类型</label>
                                <select class="form-control select-short" disabled ng-change="selectChange();" ng-model="detailData.type" style="width: 425px;">
                                    <option value="">请选择</option>
                                    <option value="1">普通督办</option>
                                    <option value="2">现场督办</option>
                                    <option value="3">挂牌督办</option>
                                </select>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办原因</font></font></label>
                                <textarea class="form-control" readonly ng-model="detailData.reason" rows="3" style="width: 425px;max-width: 425px;"></textarea>
                            </div>
                            <div class="form-item" ng-if="fileList.length > 0">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">附件</font></font></label>
                            </div>
                            <div class="form-item" style="position: relative;width: 425px;">
                                <span ng-repeat="item in fileList" style="color: #333;cursor: pointer;display: block;margin: 8px 10px;" ng-click="downFile(item.previewURL)">{{item.name}}
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="reSave()">确定</button>
                    </div>
                </div>
            </div>
        </div>

        <!--现场核查-->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true" style="z-index: 9999;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeCheckModal()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel13">
                            现场核查结果
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 400px;">
                        <form class="form-inline">
                            <div class="form-item">
                                <label>核查时间</label>
                                <div class="input-group date date_picker" id="checkTime">
                                    <input type="text"  class="form-control input-short-o" ng-model="checkData.feedbacktime" style="width: 170px;">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">核查人</font></font></label>
                                <input type="text" class="form-control input-long"  ng-model="checkData.objectname">
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">核查说明：</font></font></label>
                                <textarea class="form-control"  ng-model="checkData.description" rows="3" style="width: 425px;max-width: 425px;"></textarea>
                            </div>
                            <div class="form-item" ng-if="fileList1.length > 0">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">附件预览</font></font></label>
                            </div>
                            <div class="form-item" style="position: relative;width: 425px;" id="layer-photos" >
                                <span ng-repeat="item in fileList1" style="color: #333;cursor: pointer;display: block;margin: 8px 10px;" ng-click="downFile(item.previewURL)">{{item.name}}
                                </span>
                                <img ng-show="mp3Url.length > 0" ng-repeat="item in mp3Url"
                                     style=" float: left; margin: 0 5px;width:60px; height:60px;}"
                                     src="img/music_img.png" ng-click="playAudio(item)" alt="巡河录音">
                                <img ng-show="mp4Url.length > 0" ng-repeat="item in mp4Url"
                                     style="float: left;margin: 0 5px;width:60px; height:60px;}" src="img/audio_img.png"
                                     ng-click="playVideo(item)"  alt="巡河视频">
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">上传附件</font></font></label>
                                <button class="btn btn-info" ng-click="getUploadFile()"><i
                                        class="fa fa-css3"></i>上传附件
                                </button>
                            </div>
                            <div class="form-item">
                                <label>核查结果</label>
                                <select class="form-control select-short" ng-change="selectChange(checkStatus);" ng-model="checkStatus" style="width: 425px;">
                                    <option value="">请选择</option>
                                    <option value="1">未办结</option>
                                    <option value="2">未按期整改</option>
                                    <option value="3">已办结</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-show="isShow" class="btn btn-primary" ng-click="checkSave(1)">重新办理</button>
                        <button type="button" class="btn btn-primary" ng-click="checkSave(2)">保存</button>
                        <button type="button" class="btn btn-primary" ng-click="closeCheckModal()">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="videoBox"
             style="position: absolute!important;;z-index: 99998!important;;left: 30%;top: 30%;display: none;background-color: #333;padding: 30px;">
            <span style="position: absolute;z-index: 9991;top: 10px;right: 10px;color: #fff;padding: 2px 8px;cursor: pointer;"
                  ng-click="closePlayer()">关闭</span>
            <div id="videoPlayerBox">
                <video id="my-player" class="video-js" controls preload="auto" data-setup='{}'>
                    <source class="source" src="" type="video/mp4"></source>
                </video>
            </div>
            <div id="audioPlayer">
                <audio controls src="" autoplay="true"></audio>
            </div>
        </div>

        <div id="openImg"
             style="position: absolute!important;;z-index: 99998!important;display: none;top: 0;left: 0;width: 100%;height: 100%;">
            <img src="" style="height: 50%;left: 30%;position: absolute;top: 20%; z-index: 100000">
            <a ng-click="closeImg()" style="position: absolute; top: 15px; right: 15px; width: 30px; height: 30px; color: #fff; font-size: 20px;
    z-index: 100000; text-align: center; line-height: 30px;"><i class="fa fa-close"></i></a>
            <div id="imgShade" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: #000; opacity: 0.9"></div>

        </div>

        <!--附件上传-->
        <div class="modal fade" id="coverModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <li class="fa fa-remove"></li>
                        </button>
                        <h4>上传附件</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="wid-100 announcementCoverPanel">
                                    <input class="uploadfile" id="problemFile" type="file" name="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    .
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getUpload()">
                            <i class="fa fa-check"></i>
                            <span>确定</span>
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">
                            <i class="fa fa-reply"></i>
                            <span>取消</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
</div>
<script>
    layui.use('layer', function () {
        layer.photos({
            photos: '#layer-photos'
            , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    });
    $(".uploadfile").fileinput({
        allowedFileExtensions: ['doc','docx','pdf','png','jpg','jpeg'],
        uploadAsync: true, //默认异步上传
        showRemove: true, //显示移除按钮
        maxFileCount: 5, //表示允许同时上传的最大文件个数
        language: 'zh', //设置语言
        uploadUrl: '#', //上传的地址
        showUpload: false, //显示批量上传按钮
        showCaption: true, //是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        showPreview: true, //是否显示预览
        dropZoneEnabled: false, //是否显示拖拽区域
        validateInitialCount: true,
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
</script>