<div class="anchaanfang" ng-controller="dubanViewCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">督办</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">详情</span><span class="tag-right"></span>
        		<div class="clearfix"><button type="button" class="btn btn-primary" ng-click="goBack()" style="position: absolute;right: 20px;bottom: 20px;">返回</button></div>
        	</div>
		</div>
        
    	<div class="panel panel-default">
			<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
				<ul class="layui-tab-title">
					<li class="layui-this">基础资料</li>
					<li ng-if="status !=0">回复反馈</li>
					<li ng-if="status !=0 && status !=1">处理反馈</li>
					<li  ng-if="status !=0 && status !=1 && status !=2  && status !=3">核查结果</li>
				</ul>
				<div class="layui-tab-content">
					<!--基础资料-->
					<div class="layui-tab-item layui-show">
						<div class="panel-body">
							<div class="clearfix">
								<form class="form-inline" style="float:left;padding-left: 25%;">
									<div class="form-item" >
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">标题</font></font></label>
										<input type="text" class="form-control input-short" ng-model="res.title" readonly>
									</div>
									<br />
									<div class="input-group date date_picker form-item" id="J-searchTime1">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下发日期</font></font></label>
										<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" ng-model="res.issuedtime" readonly placeholder="请选择日期" >
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<br />
									<div class="form-item">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办原因</font></font></label>
										<textarea class="form-control" id="deblock_udid1" name="deblock_udid"  rows="3" style="width: 160px;max-width: 160px;" readonly ng-model="res.reason"></textarea>
									</div>
								</form>
								<form class="form-inline" style="float:left;">
									<div class="form-item" >
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办项目</font></font></label>
										<input type="text" class="form-control input-short" readonly ng-model="res.project">
									</div>
									<br />
									<div class="input-group date date_picker form-item" id="J-searchTime2">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">期限时间</font></font></label>
										<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" ng-model="res.deadlinedate" readonly placeholder="请选择日期" >
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<br />
									<div class="form-item" >
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督办对象</font></font></label>
										<input type="text" class="form-control input-short" ng-model="res.objectname" readonly>
									</div>
									<br />
									<div class="form-item" >
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">附件</font></font></label>

									</div>
								</form>
							</div>
						</div>
					</div>
					<!--回复反馈-->
					<div  ng-if="status !=0" class="layui-tab-item">
						<div class="panel-body">
							<div style="display: flex;">
								<form class="form-inline" style="float:left;padding-left: 25%;">
									<div class="input-group date date_picker form-item" id="J-searchTime3">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复日期</font></font></label>
										<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" readonly ng-model="resAnswer.feedbacktime" placeholder="请选择日期" >
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
								</form>
								<form class="form-inline" style="float:left;">
									<div class="form-item">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复描述</font></font></label>
										<textarea class="form-control" id="deblock_udid3" name="deblock_udid" readonly ng-model="resAnswer.description" rows="3" style="width: 160px;max-width: 160px;"></textarea>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!--处理反馈-->
					<div  ng-if="status !=0 && status !=1" class="layui-tab-item">
						<div class="panel-body">
							<div class="clearfix">
								<form class="form-inline" style="float:left;padding-left: 25%;">
									<div class="form-item" >
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是否完成</font></font></label>
										<input type="text" class="form-control input-short" readonly ng-model="resDeal.whether">
									</div>
									<br />
									<div class="form-item">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">处理描述</font></font></label>
										<textarea class="form-control" id="deblock_udid2" name="deblock_udid" ng-model="resDeal.description" readonly rows="3" style="width: 160px;max-width: 160px;"></textarea>
									</div>
								</form>
								<form class="form-inline" style="float:left;">
									<div class="input-group date date_picker form-item" id="J-searchTime">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">完成日期</font></font></label>
										<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" ng-model="resDeal.feedbacktime" readonly placeholder="请选择日期" >
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<br />
									<div class="form-item" >
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">处理附件</font></font></label>
										<!--<input type="text" class="form-control input-short" ng-model="title">-->
										<!--<button type="button" class="btn btn-primary">预览</button>-->
									</div>
								</form>
							</div>
						</div>
					</div>
					<!--核查结果-->
					<div  ng-if="status !=0 && status !=1 && status !=2 && status !=3" class="layui-tab-item">
						<div class="panel-body">
							<div class="clearfix">
								<form class="form-inline" style="float:left;padding-left: 25%;">
									<div class="form-item" >
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">结果状态</font></font></label>
										<input type="text" class="form-control input-short" readonly ng-model="resResult.whether">
									</div>
									<br />
									<div class="form-item">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">信息描述</font></font></label>
										<textarea class="form-control" id="deblock_udid" name="deblock_udid" readonly ng-model="resResult.description" rows="3" style="width: 160px;max-width: 160px;"></textarea>
									</div>
								</form>
								<form class="form-inline" style="float:left;">
									<div class="input-group date date_picker form-item" id="J-searchTime4">
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">核查时间</font></font></label>
										<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" readonly  ng-model="resResult.feedbacktime" placeholder="请选择日期" >
										<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
									</div>
									<br>
									<div class="form-item" >
										<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">结果附件</font></font></label>
										<!--<input type="text" class="form-control input-short" ng-model="title">-->
										<!--<button type="button" class="btn btn-primary">预览</button>-->
									</div>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>

       	</div>
    </div>
</div>
<script>
    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });

    });
</script>