.esriPopup .actionsPane .zoomTo {
    display: none;
}

.esriPopup .titleButton.maximize {
    display: none;
}

.esriPopup .next .hidden {
    display: none;
}

.esriPopup .prev .hidden {
    display: none;
}