@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mhi97n');
  src:  url('../fonts/icomoon.eot?mhi97n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mhi97n') format('truetype'),
    url('../fonts/icomoon.woff?mhi97n') format('woff'),
    url('../fonts/icomoon.svg?mhi97n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jx_bottom:before {
  content: "\e900";
}
.icon-cz_nav_hezhanglz:before {
  content: "\e901";
}
.icon-jx_add:before {
  content: "\e902";
}
.icon-jx_addtask:before {
  content: "\e903";
  color: #808080;
}
.icon-jx_area:before {
  content: "\e904";
}
.icon-jx_banned:before {
  content: "\e905";
}
.icon-jx_close:before {
  content: "\e906";
}
.icon-jx_cog:before {
  content: "\e907";
}
.icon-jx_complete:before {
  content: "\e908";
}
.icon-jx_data:before {
  content: "\e909";
}
.icon-jx_date:before {
  content: "\e90a";
}
.icon-jx_delete_form:before {
  content: "\e90b";
}
.icon-jx_delete_image:before {
  content: "\e90c";
  color: #666;
}
.icon-jx_delete:before {
  content: "\e90d";
}
.icon-jx_delete2:before {
  content: "\e90e";
}
.icon-jx_deletetask:before {
  content: "\e90f";
  color: #808080;
}
.icon-jx_disable:before {
  content: "\e910";
}
.icon-jx_distance:before {
  content: "\e911";
}
.icon-jx_down:before {
  content: "\e912";
}
.icon-jx_download:before {
  content: "\e913";
}
.icon-jx_dropdown:before {
  content: "\e914";
}
.icon-jx_edit:before {
  content: "\e915";
}
.icon-jx_event:before {
  content: "\e916";
}
.icon-jx_export:before {
  content: "\e917";
}
.icon-jx_fb_record:before {
  content: "\e918";
}
.icon-jx_field:before {
  content: "\e919";
}
.icon-jx_fullscreen:before {
  content: "\e91a";
}
.icon-jx_history:before {
  content: "\e91b";
}
.icon-jx_image:before {
  content: "\e91c";
}
.icon-jx_import_form:before {
  content: "\e91d";
}
.icon-jx_import:before {
  content: "\e91e";
}
.icon-jx_info:before {
  content: "\e91f";
}
.icon-jx_installment:before {
  content: "\e920";
}
.icon-jx_instructions:before {
  content: "\e921";
}
.icon-jx_issued:before {
  content: "\e922";
}
.icon-jx_layer:before {
  content: "\e923";
}
.icon-jx_left:before {
  content: "\e924";
}
.icon-jx_mapinfo:before {
  content: "\e925";
}
.icon-jx_maplayer:before {
  content: "\e926";
}
.icon-jx_mapmark:before {
  content: "\e927";
}
.icon-jx_mapremove:before {
  content: "\e928";
}
.icon-jx_mapzoom:before {
  content: "\e929";
}
.icon-jx_menufold:before {
  content: "\e92a";
}
.icon-jx_mute:before {
  content: "\e92b";
}
.icon-jx_narrow:before {
  content: "\e92c";
}
.icon-jx_nav_-zhihezt:before {
  content: "\e92d";
}
.icon-jx_nav_hehugl:before {
  content: "\e92e";
}
.icon-jx_nav_shujudr:before {
  content: "\e92f";
}
.icon-jx_nav_shujufx:before {
  content: "\e930";
}
.icon-jx_nav_shujugl:before {
  content: "\e931";
}
.icon-jx_nav_xietongbg:before {
  content: "\e932";
}
.icon-jx_nav_xinxigl:before {
  content: "\e933";
}
.icon-jx_nav_xinxizs:before {
  content: "\e934";
}
.icon-jx_nav_xitongsz:before {
  content: "\e935";
}
.icon-jx_nav_yingjihs:before {
  content: "\e936";
}
.icon-jx_open:before {
  content: "\e937";
}
.icon-jx_parts:before {
  content: "\e938";
}
.icon-jx_project:before {
  content: "\e939";
}
.icon-jx_receive:before {
  content: "\e93a";
}
.icon-jx_remove:before {
  content: "\e93b";
}
.icon-jx_repeal:before {
  content: "\e93c";
}
.icon-jx_reset:before {
  content: "\e93d";
}
.icon-jx_resources:before {
  content: "\e93e";
}
.icon-jx_right:before {
  content: "\e93f";
}
.icon-jx_river:before {
  content: "\e940";
}
.icon-jx_riverchief:before {
  content: "\e941";
}
.icon-jx_search:before {
  content: "\e942";
}
.icon-jx_select:before {
  content: "\e943";
  color: #d8d8d8;
}
.icon-jx_selected:before {
  content: "\e944";
  color: #389ffd;
}
.icon-jx_table:before {
  content: "\e945";
}
.icon-jx_template:before {
  content: "\e946";
}
.icon-jx_top:before {
  content: "\e947";
}
.icon-jx_up:before {
  content: "\e948";
}
.icon-jx_update:before {
  content: "\e949";
}
.icon-jx_upload:before {
  content: "\e94a";
}
