<div ng-controller="drainageDetailCtrl" ng-init="init()">
	<div class="wrapper-md">
		<div class="panel panel-default m-all-0">
			<div class="panel-body pos-rlt panel-map">
				<!-- map -->
				<div ng-init="mapMin = true; mapType = 'polygon'; objOpera = 'view'">
					<basic-map obj="drainage" map-min="mapMin" map-type="mapType" obj-opera="objOpera"></basic-map>
				</div>
				<div class="drainageDetailContent m-t-20">
					<div class="form-item">
						<label>流域名称：</label>
						<span ng-bind="drainage.basinName"></span>
					</div>
					<div class="form-item">
						<label>流域编码：</label>
						<span ng-bind="drainage.basinCode"></span>
					</div>
					<div class="form-item">
						<label>流域面积：</label>
						<span ng-bind="drainage.acreage"></span> km<sup>2</sup>
					</div>
					<div class="form-item">
						<span ng-bind="drainage.longitude"></span>
						<label>流域经度：</label>
					</div>
					<div class="form-item">
						<label>流域纬度：</label>
						<span ng-bind="drainage.latitude"></span>
					</div>
					<br/>
					<div class="remark-panel">
						<label>概述内容：</label>
						<div class="remark-info">
							<p ng-bind-html="drainage.overView|trustHtml"></p>
						</div>
					</div>
					<div class="remark-panel">
						<label>备注信息：</label>
						<div class="remark-info">
							<p ng-bind="drainage.remark"></p>
						</div>
					</div>
					<div class="form-item">
						<label>图片</label>
						<div ng-repeat="img in drainage.jsonImages track by $index" class="file-thumbnail-block">
                            <div ng-if="['png','jpg','jpeg','gif'].indexOf(img.extension) > -1" style="height: 100%">
                                <a href="{{img.url}}" target="_blank" title="{{img.name}}">
                                    <img width="100%" ng-src={{img.url}}>
                                </a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-item">
						<label>文件</label>
						<div ng-repeat="file in drainage.jsonFiles track by $index" class="file-thumbnail-block">
                            <div ng-if="['doc','docx'].indexOf(file.extension) > -1" style="height: 100%">
                                <a href="{{file.url}}" title="{{file.name}}">
                                    <img style="margin: 10px 0 3px" ng-src="img/word.png">
                                    <p>{{file.name}}</p>
                                </a>
                            </div>
                            <div ng-if="['xls','xlsx','xlsm'].indexOf(file.extension) > -1" style="height: 100%">
                                <a href="{{file.url}}" title="{{file.name}}">
                                    <img style="margin: 10px 0 3px" ng-src="img/excel.png">
                                    <p>{{file.name}}</p>
                                </a>
                            </div>
                            <div ng-if="['pdf'].indexOf(file.extension) > -1" style="height: 100%">
                                <a href="{{file.url}}" title="{{file.name}}">
                                    <img style="margin: 10px 0 3px" ng-src="img/pdf.png">
                                    <p>{{file.name}}</p>
                                </a>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer m-b-10">
			<div class="btn-box">
				<button type="submit" class="btn btn-default" ng-click="back()">返回</button>
			</div>
		</div>
	</div>
</div>
