<div class="anchaanfang" ng-controller="duchaBasicCtrl" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">督查</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span
                    class="tag tag1">{{title}}</span><span class="tag-right"></span>
                <div style="overflow: hidden;">
                    <button type="button" class="btn btn-primary" ng-click="goBack()"
                            style="position: absolute;right: 20px;bottom: 20px;">返回
                    </button>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">基础资料</li>
                    <li>联络员名录</li>
                    <li ng-if="state !=1">督导组</li>
                    <li ng-show="isShow1" ng-if="state !=1 && state !=0">通报</li>
                    <li ng-show="isShow2" ng-if="state !=1 && state !=0 && state !=2">一区一单通报</li>
                    <li ng-if="state !=1 && state !=0 && state !=2">{{isShow2 ? '一区一单' : ''}}问题处理</li>
                </ul>
                <div class="layui-tab-content">
                    <!--基础资料-->
                    <div class="layui-tab-item layui-show">
                        <div class="panel-body">
                            <div style="overflow: hidden">
                                <form class="form-inline" style="float:left;">
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">标题</font></font></label>
                                        <input type="text" class="form-control input-short" readonly
                                               ng-model="resBasic.title">
                                    </div>
                                    <br/>
                                    <div class="input-group date date_picker form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">印发日期</font></font></label>
                                        <input type="text"
                                               class="form-control input-short-o ng-pristine ng-valid ng-touched"
                                               readonly placeholder="请选择日期" ng-model="resBasic.printDate"
                                               style="width: 160px;">
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">下发区域</font></font></label>
                                        <textarea class="form-control" readonly name="deblock_udid"
                                                  ng-model="resBasic.sentRegion" rows="2"
                                                  style="width: 160px;max-width: 160px;"></textarea>
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">检查内容</font></font></label>
                                        <textarea class="form-control" readonly name="deblock_udid"
                                                  ng-model="resBasic.content" rows="4"
                                                  style="width: 160px;max-width: 160px;"></textarea>
                                    </div>
                                </form>
                                <form class="form-inline" style="float:left;">
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">文号</font></font></label>
                                        <input type="text" class="form-control input-short" readonly
                                               ng-model="resBasic.renumber">
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">检查方式</font></font></label>
                                        <input type="text" class="form-control input-short" readonly
                                               ng-model="resBasic.inspectType">
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">下发单位</font></font></label>
                                        <textarea class="form-control" readonly name="deblock_udid"
                                                  ng-model="resBasic.sentUnit" rows="2"
                                                  style="width: 160px;max-width: 160px;"></textarea>
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">方案附件</font></font></label>
                                        <button class="btn btn-info" ng-click="viewFile(resBasic.pdfUrl)"><i class="fa fa-css3"></i>查看附件
                                        </button>
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">状态</font></font></label>
                                        <label>
                                            <font style="vertical-align: inherit;">
                                                <i class="fa fa-check-square" aria-hidden="true"
                                                   style="color: #30a4fe;"></i>
                                                <font style="vertical-align: inherit;"
                                                      ng-if="resBasic.state == 0">已上报</font>
                                                <font style="vertical-align: inherit;"
                                                      ng-if="resBasic.state == 1">已下发</font>
                                                <font style="vertical-align: inherit;"
                                                      ng-if="resBasic.state == 2">已通知</font>
                                                <font style="vertical-align: inherit;"
                                                      ng-if="resBasic.state == 3">已通报</font>
                                                <font style="vertical-align: inherit;"
                                                      ng-if="resBasic.state == 4">已处理</font>
                                            </font>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!--联络员名录-->
                    <div class="layui-tab-item">
                        <div class="panel-body">
                            <form class="form-inline clearfix">
                                <div class="input-group fr" ng-if="state == 1">
                                    <button type="button" class="btn btn-primary" ng-click="add(1)">
                                        <i class="fa fa-plus"></i> 新增联络员
                                    </button>
                                </div>
                            </form>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tableStatistics1">
                                    <div class="table-responsive" style="margin-top: 20px;">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                            <tr class='tHeader'>
                                                <th width="5%">序号</th>
                                                <th width="15%">姓名</th>
                                                <th width="15%">职务</th>
                                                <th width="15%">手机号</th>
                                                <th width="15%" ng-if="state ==1">操作</th>
                                            </tr>
                                            <tr ng-repeat="item in contactList">
                                                <td>{{$index+1}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.duty}}</td>
                                                <td>{{item.phone}}</td>
                                                <td style="text-align: center;" ng-if="state ==1">
                                                    <button type="button" class="btn btn-info" ng-click="update(item)">
                                                        修改
                                                    </button>
                                                    <button type="button" class="btn btn-danger"
                                                            ng-click="delete(item.id)">删除
                                                    </button>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--<tm-pagination conf="paginationConf"></tm-pagination>-->
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: center;margin: 35px 0;" ng-if="state ==1">
                                <button type="button" class="btn btn-primary" style="margin: 0 50px;"
                                        ng-click="report()">上报
                                </button>
                                <button type="button" class="btn btn-default" ng-click="back()">取消</button>
                            </div>
                        </div>
                    </div>
                    <!--督导组-->
                    <div class="layui-tab-item" ng-if="state !=1">
                        <div class="panel-body">
                            <form class="form-inline clearfix">
                                <div class="input-group fr" ng-if="state == 0">
                                    <button type="button" class="btn btn-primary" ng-click="add(2)">
                                        <i class="fa fa-plus"></i> 新建督导组
                                    </button>
                                </div>
                            </form>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tableStatistics2">
                                    <div class="table-responsive" style="margin-top: 20px;">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                            <tr class='tHeader'>
                                                <th width="5%">序号</th>
                                                <th width="10%">分组</th>
                                                <th width="10%">组长</th>
                                                <th width="15%">督导区</th>
                                                <th width="15%">组成部门</th>
                                                <th width="10%">联络员</th>
                                                <th width="15%">联系电话</th>
                                                <th width="10%">督查组联络员</th>
                                                <th width="15%">督查组联系电话</th>
                                            </tr>
                                            <tr ng-repeat="item in groupList">
                                                <td>{{$index+1}}</td>
                                                <td>{{item.grouping}}</td>
                                                <td>{{item.groupLeader}}</td>
                                                <td>{{item.area}}</td>
                                                <td>{{item.department}}</td>
                                                <td>{{item.contact}}</td>
                                                <td>{{item.phone}}</td>
                                                <td>{{item.supervisePerson}}</td>
                                                <td>{{item.personPhone}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--<tm-pagination conf="paginationConf"></tm-pagination>-->
                                    </div>
                                </div>
                            </div>

                            <div style="text-align: center;margin: 35px 0;" ng-if="state == 0">
                                <button type="button" class="btn btn-primary" style="margin: 0 50px;"
                                        ng-click="notice()">确定并下发通知
                                </button>
                                <button type="button" class="btn btn-default" ng-click="back()">取消</button>
                            </div>
                        </div>
                    </div>
                    <!--通报-->
                    <div class="layui-tab-item" ng-show="isShow1" ng-if="state !=1 && state !=0">
                        <div class="panel-body" ng-if="state == 2">
                            <div class="clearfix">
                                <form class="form-inline layui-form" style="float:left;">
                                    <div class="layui-form-item" style="margin: 8px 10px;">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">通报日期</font></font></label>
                                        <input type="text" class="layui-input" id="test12" ng-model="trafficDate"
                                               placeholder="请选择日期"
                                               style="width: 160px;height: 34px;margin-left: 25px;display: inline-block;">
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">通报内容</font></font></label>
                                        <textarea class="form-control" id="deblock_udid" name="deblock_udid"
                                                  ng-model="trafficContent" rows="3"
                                                  style="width: 160px;max-width: 160px;"></textarea>
                                    </div>
                                </form>
                                <form class="form-inline" style="float:left;">
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">一区一单</font></font></label>
                                        <label class="radio-inline i-checks" ng-repeat="type in typeList"
                                               style="margin-left: 15px;">
                                            <input type="radio" name="type" ng-model="isSelected"
                                                   ng-click="radioBtn(isSelected)" value="{{type.id}}"><i></i>
                                            {{type.typeName}}
                                        </label>
                                    </div>
                                    <br>
                                    <div class="input-group form-item" ng-show="isOneUnit">
                                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下发区域</font></font></label>
                                        <select ng-model="sentRegion" id="sentRegion" class="form-control select-short" style="width: 160px;z-index:0;">
                                        <option value="">请选择</option>
                                        <option value="{{item}}" ng-repeat="item in RegionList">{{item}}</option>
                                        </select>
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">通报附件</font></font></label>
                                        <button class="btn btn-info" ng-click="getUploadFile(1)"><i
                                                class="fa fa-css3"></i>上传附件
                                        </button>
                                    </div>
                                </form>

                            </div>
                            <div style="text-align: left;margin: 35px 0;">
                                <button type="button" class="btn btn-primary" style="margin: 0 50px;"
                                        ng-click="confirmReport()">确定并通报
                                </button>
                                <button type="button" class="btn btn-default" ng-click="back()">取消</button>
                            </div>
                        </div>

                        <div class="panel-body" ng-if="state != 2">
                            <div class="clearfix">
                                <form class="form-inline" style="float:left;">
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">通报日期</font></font></label>
                                        <input type="text"
                                               class="form-control input-short-o ng-pristine ng-valid ng-touched"
                                               readonly ng-model="resReport.trafficDate" style="width: 160px;">
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">通报内容</font></font></label>
                                        <textarea class="form-control" name="deblock_udid"
                                                  ng-model="resReport.trafficContent" readonly rows="3"
                                                  style="width: 160px;max-width: 160px;"></textarea>
                                    </div>
                                </form>
                                <form class="form-inline" style="float:left;">
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">一区一单</font></font></label>
                                        <label class="radio-inline i-checks" ng-repeat="type in typeList"
                                               style="margin-left: 15px;">
                                            <input type="radio" name="type" ng-model="resReport.oneregion" disabled
                                                   ng-click="radioBtn(isSelected)" value="{{type.id}}"><i></i>
                                            {{type.typeName}}
                                        </label>
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">通报附件</font></font></label>
                                        <button class="btn btn-info" ng-click="viewFile(resReport.pdfUrl)"><i class="fa fa-css3"></i>查看附件</button>
                                    </div>
                                </form>

                            </div>

                        </div>

                    </div>
                    <!--一区一单-->
                    <div class="layui-tab-item" ng-show="isShow2" ng-if="state !=1 && state !=0 && state !=2">
                        <div class="panel-body">
                            <div class="clearfix">
                                <form class="form-inline" style="float:left;">
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">一区一单处理日期</font></font></label>
                                        <input type="text"
                                               class="form-control input-short-o ng-pristine ng-valid ng-touched"
                                               readonly placeholder="" ng-model="searchTime3" style="width: 160px;">
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">通报内容</font></font></label>
                                        <textarea class="form-control" name="deblock_udid"
                                                  ng-model="resReport.trafficContent" readonly rows="3"
                                                  style="width: 160px;max-width: 160px;"></textarea>
                                    </div>
                                </form>
                                <form class="form-inline" style="float:left;">
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">下发区域</font></font></label>
                                        <textarea class="form-control" name="deblock_udid"
                                                  ng-model="resReport.region" readonly rows="2"
                                                  style="width: 160px;max-width: 160px;"></textarea>
                                    </div>
                                    <!--<div class="form-item">-->
                                        <!--<label><font style="vertical-align: inherit;"><font-->
                                                <!--style="vertical-align: inherit;">是否处理</font></font></label>-->
                                        <!--<label class="radio-inline i-checks" ng-repeat="type in typeList"-->
                                               <!--style="margin-left: 15px;">-->
                                            <!--<input type="radio" name="type" ng-model="isSelected" ng-model="resReport.oneregion" disabled-->
                                                   <!--ng-click="radioBtn(isSelected)" value="{{type.id}}"><i></i>-->
                                            <!--{{type.typeName}}-->
                                        <!--</label>-->
                                    <!--</div>-->
                                    <br>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">附件</font></font></label>
                                        <button class="btn btn-info" ng-if="state == 2" ng-click="getUploadFile(3)"><i
                                                class="fa fa-css3"></i>上传附件
                                        </button>
                                        <button class="btn btn-info" ng-if="state != 2"><i class="fa fa-css3"></i>查看附件
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div style="text-align: left;margin: 35px 0;" ng-if="state == 2">
                                <button type="button" class="btn btn-primary" style="margin: 0 50px;"
                                        ng-click="oneRegionReport()">处理并上报
                                </button>
                                <button type="button" class="btn btn-default" ng-click="back()">取消</button>
                            </div>
                        </div>
                    </div>
                    <!--问题处理-->
                    <div class="layui-tab-item" ng-if="state !=1 && state !=0 && state !=2">
                        <div class="panel-body">
                            <div class="clearfix">
                                <form class="form-inline layui-form" style="float:left;">
                                    <div class="layui-form-item" style="margin: 8px 10px;">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">处理日期</font></font></label>
                                        <input type="text" class="layui-input" id="test11" ng-model="sentDate"
                                               placeholder="请选择日期"
                                               style="width: 160px;height: 34px;display: inline-block;">
                                    </div>
                                    <br/>
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">处理附件</font></font></label>
                                        <button class="btn btn-info" ng-click="getUploadFile(2)" style="margin-left: -23px;"><i
                                                class="fa fa-css3"></i>上传附件
                                        </button>
                                    </div>
                                </form>

                                <form class="form-inline" style="float:left;">
                                    <div class="form-item">
                                        <label><font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">是否处理</font></font></label>
                                        <label class="radio-inline i-checks" ng-repeat="type in typeList"
                                               style="margin-left: 15px;">
                                            <input type="radio" name="type" ng-model="isSelected"
                                                   ng-click="radioBtn(isSelected)" value="{{type.id}}"><i></i>
                                            {{type.typeName}}
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div style="text-align: left;margin: 35px 0;">
                                <button type="button" class="btn btn-primary" style="margin: 0 50px;" ng-click="deal()">
                                    处理并上报
                                </button>
                                <button type="button" class="btn btn-default" ng-click="back()">取消</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- 联络员----模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{type == 2 ? '修改' : '新增'}}联络员信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">姓名</font></font></label>
                                <input type="text" class="form-control input-short" ng-model="username">
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="input-group form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">职务</font></font></label>
                                <select ng-model="duty" class="form-control select-short" ng-change="changDuty()" style="width: 160px;">
                                    <option value="">请选择</option>
                                    <option value="领导">领导</option>
                                    <option value="普通职员">普通职员</option>
                                </select>
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">手机号</font></font></label>
                                <input type="tel" name="tel1" class="form-control input-short" ng-model="phoneNum">
                                <span class="required" ng-show="show"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close(1)">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 督导组----模态框（Modal） -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            新增督导组
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 350px;">
                        <form class="form-inline">
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">组长</font></font></label>
                                <input type="text" class="form-control input-short" ng-model="groupLeader">
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">分组</font></font></label>
                                <input type="text" class="form-control input-short" ng-model="grouping">
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">联络员</font></font></label>
                                <input type="text" class="form-control input-short" ng-model="contact">
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系电话</font></font></label>
                                <input type="tel" name="tel1" class="form-control input-short" ng-model="phone">
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">督察组联络员</font></font></label>
                                <input type="text" class="form-control input-short" ng-model="supervisePerson">
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">督察组联系电话</font></font></label>
                                <input type="tel" name="tel1" class="form-control input-short" ng-model="personPhone">
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="input-group form-item" style="z-index: 100;">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">督导区</font></font></label>
                                <select id="slpk" class="form-control selectpicker" ng-multiple="true" multiple
                                        style="width: 160px;" ng-model="area">
                                </select>
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">组成部门</font></font></label>
                                <textarea class="form-control" id="deblock_udid3" name="deblock_udid"
                                          ng-model="department" rows="4"
                                          style="width: 160px;max-width: 160px;"></textarea>
                                <span class="required"><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">*</font></font></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="saveGroup()">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close(2)">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--描述：通报附件-->
        <div class="modal fade" id="coverModal1" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <li class="fa fa-remove"></li>
                        </button>
                        <h4>上传附件</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="wid-100 announcementCoverPanel">
                                    <input class="uploadfile" type="file" name="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    .
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getUpload(1)">
                            <i class="fa fa-check"></i>
                            <span>确定</span>
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">
                            <i class="fa fa-reply"></i>
                            <span>取消</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--描述：问题附件-->
        <div class="modal fade" id="coverModal2" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <li class="fa fa-remove"></li>
                        </button>
                        <h4>上传附件</h4>

                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="wid-100 announcementCoverPanel">
                                    <input class="uploadfile" id="problemFile" type="file" name="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    .
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getUpload(2)">
                            <i class="fa fa-check"></i>
                            <span>确定</span>
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">
                            <i class="fa fa-reply"></i>
                            <span>取消</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--描述：一区一单附件-->
        <div class="modal fade" id="coverModal3" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <li class="fa fa-remove"></li>
                        </button>
                        <h4>上传附件</h4>

                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="wid-100 announcementCoverPanel">
                                    <input class="uploadfile" id="oneregion" type="file" name="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getUpload(3)">
                            <i class="fa fa-check"></i>
                            <span>确定</span>
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">
                            <i class="fa fa-reply"></i>
                            <span>取消</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                            查看附件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div id="file" style="height: 400px;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        element.on('tab(test)', function (elem) {
            location.hash = 'test=' + $(this).attr('lay-id');
        });

    });

    $(".uploadfile").fileinput({
        allowedFileExtensions: [],
        uploadAsync: true, //默认异步上传
        showRemove: true, //显示移除按钮
        maxFileCount: 1, //表示允许同时上传的最大文件个数
        language: 'zh', //设置语言
        uploadUrl: '#', //上传的地址
        showUpload: false, //显示批量上传按钮
        showCaption: true, //是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        showPreview: true, //是否显示预览
        dropZoneEnabled: true, //是否显示拖拽区域
        validateInitialCount: true,
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
</script>