<div ng-controller="eventMgrCtrl" ng-init="init()">

    <aside class="aside-info" id="onlineChiefAside">
        <div class="tree-body">
            <ul class="nav nav-tabs nav-tabs-tj" role="tablist">
                <li class="active">
                    <a href="#region" onclick="return false;" data-toggle="tab">区域</a>
                </li>
                <li>
                    <a href="#parts" onclick="return false;" data-toggle="tab">河道</a>
                </li>
            </ul>
            <div class="tab-content tab-content-tj">
                <div class="tab-pane active" id="region">
					<ul id="regionTreeContainer" class="ztree"></ul>
				</div>
                <div class="tab-pane" id="parts">
					<ul id="reachTreeContainer" class="ztree"></ul>
                </div>
            </div>
        </div>
		<div class="dragDiv" style=" background-color: #d9e4ee; width: 4px;height: 100%;position: absolute;right: 0;top: 0;"></div>
    </aside>

    <a href="javascript:void(0);" class="tree-body-btn" ng-click="treeBodyShow($event)">
        <i class="fa fa-angle-left iconRight"></i>
    </a>

    <section class="container-tj">


        <!-- 地图工具栏 -->
        <div class="map-toolbar" id="measureTools">
            <ul>
                <li style="float: right"><a href="javascript:void(0);" id="toolbarClose" ng-click="toolbarClose()" class="toolbar-6" title="收缩"></a></li>
                <li><a href="javascript:void(0);" ng-click="mapResourceShow()" class="toolbar-1" title="资源层选择"></a></li>
                <li><a href="javascript:void(0);" ng-click="mapTypeShow()" class="toolbar-2" title="底图选择"></a></li>
                <li><a href="javascript:void(0);" ng-click="measureFunc('area')" class="toolbar-3" title="测面积"></a></li>
                <li><a href="javascript:void(0);" ng-click="measureFunc('distance')" class="toolbar-4" title="测量距离"></a>
                </li>
                <li><a href="javascript:void(0);" ng-click="measureFunc('clear')" class="toolbar-5" title="清除"></a></li>
                <div class="list-group" id="mapResource">
                    <label class="list-group-item">
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" name="mapResource" checked ng-click="changeMapResource('vecAnno')"><i></i> 矢量标注
                            </label>
                        </div>
                    </label>
                    <label class="list-group-item">
                        <div class="radio">
                            <label class="i-checks">
                                <input type="radio" name="mapResource" ng-click="changeMapResource('imgAnno')"><i></i> 影像标注
                            </label>
                        </div>
                    </label>
                </div>

                <div class="mapType-group" id="mapTypes">
                    <div class="mapType-group-item" ng-style="x" ng-repeat="x in types" ng-click="showMapTypes(x.style)"
                         ng-class="{'active':selected==x.style}"></div>
                </div>
            </ul>
            <div class="map-toolbar-bg"></div>
        </div>

        <div id="map" class="map-tj"></div>

    </section>
    <div class="infoCon-tj" id="infoCon-tj">
        <!-- 缩放按钮 -->
        <a href="javascript:void(0);" class="info-tj-btn-1" ng-click="infoTjShow($event)">
            <i class="fa fa-angle-right iconRight"></i>
        </a>
        <!-- 右侧内容框 -->
        <div class="info-tj">
            <div class="info-tj-tit" id="r-search">
                <h4>查询</h4>
            </div>
            <form class="form-horizontal info-tj-form" id="r-search-form">
                    
                <div class="form-group" style="margin: 0;">
                	<div class="input-tb">
	                    <label class="col-sm-2">开始时间</label>
	                    <div class="col-sm-10 input-group date date_picker" id="beginTime">
	                        <input type="text" class="form-control input-sm" ng-model="beginTime" />
	                        <span class="input-group-addon">
	                            <i class="fa fa-calendar"></i>
	                        </span>
	                    </div>
                    </div>
                	<div>
	                    <label class="col-sm-2">结束时间</label>
	                    <div class="col-sm-10 input-group date date_picker" id="endTime">
	                        <input type="text" class="form-control input-sm" ng-model="endTime" />
	                        <span class="input-group-addon">
	                            <i class="fa fa-calendar"></i>
	                        </span>
	                    </div>
                	</div>
                </div>
                <div class="form-group">
                	<div class="input-tb">
	                    <label class="col-sm-2">问题类型</label>
	                    <div class="col-sm-10 input-group" style="padding: 0">
	                        <select class="form-control input-sm" ng-options="item.id as item.name for item in typeList" ng-model="types" ng-change="type_Change(types)">
	                        	<option value="">请选择问题类型</option>
	                        </select>
	                    </div>
                    </div>
                	<div class="input-tb">
	                    <label class="col-sm-2">问题状态</label>
	                    <div class="col-sm-7" style="padding: 0">
	                        <select class="form-control input-sm" ng-options="x as y for (x,y) in statusList" ng-model="status" ng-change="status_Change(status)">
	                        	<option value="">请选择问题状态</option>
	                        </select>
	                    </div>
                        <div class="col-sm-2" style="float: right">
                            <button type="submit" class="btn btn-primary btn-sm" ng-click="eventSearchFuc()"><i class="fa fa-search"></i>搜索</button>
                        </div>
                    </div>
                </div>
            </form>
            
            <table class="table table-bordered table-hover table-tj eventTable">
            	<thead>
	                <tr id="tr-height">
	                    <th style="padding: 8px;">上报时间</th>
	                    <th>河道段</th>
	                    <th>姓名</th>
	                    <th>状态</th>
	                    <th>操作</th>
	                </tr>
            	</thead>
            	<tbody id="tbodyHeight">
	                <tr ng-repeat="item in eventList track by $index" ng-click="itemClick(item)">
	                    <td>{{item.createtime | date:'yyyy-MM-dd'}}</td>
	                    <td>{{item.eventreachname}}</td>
	                    <td>{{item.reportperson}}</td>
	                    <td>{{item.eventStatus}}</td>
	                    <td>
	                    	<button class="fa fa-print" ng-click="printModal($event,item)"></button>
	                    </td>
	                </tr>
            	</tbody>
            </table>
			
			<div class="form-group table-ft-tips" id="table-ft-panel">
				<div class="row tips-row border-tb">
	                <div class="col-sm-3 clzStatus">
		                <label>处理中:</label>
		                <span>{{eventCount.CLZ}}</span>
	                </div>
	                <div class="col-sm-3 yqStatus">
		                <label>延期:</label>
		                <span ng-if="eventCount">0</span>
	                </div>
	            	<div class="col-sm-3 dbStatus">
		                <label>待办:</label>
		                <span>{{eventCount.DB}}</span>
	                </div>
	               	<div class="col-sm-3 jaStatus">
		                <label>已结案:</label>
		                <span>{{eventCount.JA}}</span>
	                </div>
	                <div class="col-sm-3 eventCount">
		                <label>总数:</label>
		                <span>{{eventCount.eventCount}}</span>
	                </div>
				</div>
            </div>
        </div>
    </div>
    <!--问题详情模态框-->
    <div class="modal fade" id="eventDetailModal" tabindex="-1">
		<div id="remarkPanel" class="modal-dialog evetModal" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{evtDetails.eventreachname}}详细信息</h4>
				</div>
				<div id="remarkModalPanel" class="modal-body" style="max-height: 450px; overflow: hidden;overflow-y: auto;">
					<div class="panel panel-default">
						<div class="panel-heading font-bold">基础信息</div>
						<div class="panel-body">
				            <form class="bs-example form-horizontal eveDetail-panel">
					            <div class="form-inline">
					                <label class="eveDetail-label">问题编号:</label>
				                	<span class="eveDetail-value">{{evtDetails.serialno}}</span>
					            </div>
					            <div class="form-inline">
					                <label class="eveDetail-label">问题类型:</label>
				                	<span class="eveDetail-value">{{evtDetails.typename}}</span>
					            </div>
					            <div class="form-inline">
					                <label class="eveDetail-label">问题等级:</label>
				                	<span ng-if='evtDetails.eventlevel == "0"' class="eveDetail-value">一般</span>
				                	<span ng-if='evtDetails.eventlevel == "1"' class="eveDetail-value">紧急</span>
				                	<span ng-if='evtDetails.eventlevel == "2"' class="eveDetail-value">特级</span>
				                	<span ng-hide='evtDetails.eventlevel' class="eveDetail-value"></span>
					            </div>
				            </form>
				            <form class="bs-example form-horizontal eveDetail-panel">
				            	<div class="form-inline">
					                <label class="eveDetail-label">问题来源:</label>
				                	<span ng-if='evtDetails.eventresource == "A"' class="eveDetail-value">河长版APP</span>
				                	<span ng-if='evtDetails.eventresource == "B"' class="eveDetail-value">电话上报</span>
				                	<span ng-if='evtDetails.eventresource == "C"' class="eveDetail-value">公众版APP</span>
				                	<span ng-if='evtDetails.eventresource == "D"' class="eveDetail-value">河长制微信号</span>
				                	<span ng-if='evtDetails.eventresource == "F"' class="eveDetail-value">曝光台</span>
				                	<span ng-hide='evtDetails.eventresource' class="eveDetail-value"></span>
					            </div>
					            <div class="form-inline">
					                <label class="eveDetail-label">受理人员:</label>
				                	<span class="eveDetail-value">{{evtDetails.acceptperson}}</span>
					            </div>
					            <div class="form-inline">
					                <label class="eveDetail-label">受理时间:</label>
				                	<span class="eveDetail-value">{{evtDetails.reporttime}}</span>
					            </div>
				            </form>
				            <form class="bs-example form-horizontal eveDetail-panel">
					            <div class="form-inline">
					                <label class="eveDetail-label">水系名称:</label>
					                <span class="eveDetail-value">{{evtDetails.eventbasinname}}</span>
					            </div>
					            <div class="form-inline">
					                <label class="eveDetail-label">河道名称:</label>
					                <span class="eveDetail-value">{{evtDetails.eventrivername}}</span>
					            </div>
					            <div class="form-inline">
					                <label class="eveDetail-label">河段名称:</label>
					                <span class="eveDetail-value">{{evtDetails.eventreachname}}</span>
					            </div>
				            </form>
				            <form class="bs-example form-horizontal eveDetail-panel">
					            <div class="form-inline">
					                <label class="eveDetail-label">事发时间:</label>
					                <span class="eveDetail-value">{{evtDetails.createtime}}</span>
					            </div>
					            </br>
					            <div class="form-inline">
					                <label class="eveDetail-label">问题地点:</label>
					                <span class="eveDetail-value" style="width: 500px;">{{evtDetails.address}}</span>
					            </div>
					            </br>
					            <div class="form-inline">
					                <label class="eveDetail-label">事发地区:</label>
					                <span class="eveDetail-value" style="width: 500px;">{{evtDetails.address}}</span>
					            </div>
				            </form>
				            <form class="bs-example form-horizontal eveDetail-panel">
					            <div class="form-inline">
					                <label class="eveDetail-label">问题内容:</label>
					                <span class="eveDetail-value">{{evtDetails.content}}</span>
					            </div>
				            </form>
				            <form class="bs-example form-horizontal eveDetail-panel" style="margin-top: 5px;">
					            <div class="form-inline">
					                <label>处理前:</label>
				                	<div id="layer-photos-before" class="layer-photos-demo" style="margin-left: 30px;" ng-show="before">
									  	<img style="margin: 0 5px;" ng-repeat="item in before" layer-pid="" layer-src="{{eventImgUrl}}{{item.accessoryurl}}" src="{{eventImgUrl}}{{item.accessoryurl}}" alt="处理前图片" width="60px" height="60px">
									</div>
					            </div>
				            </form>
				            <form class="bs-example form-horizontal eveDetail-panel" style="margin-top: 5px;">
					            <div class="form-inline">
					                <label>处理后:</label>
				                	<div id="layer-photos-later" class="layer-photos-demo" style="margin-left: 30px;" ng-show="after">
									  	<img style="margin: 0 5px;" ng-repeat="item in after" layer-pid="" layer-src="{{eventImgUrl}}{{item.afterAccessory}}" src="{{eventImgUrl}}{{item.afterAccessory}}" alt="处理后图片" width="60px" height="60px">
									</div>
					            </div>
				            </form>
				        </div>
					</div>
					
					<!--<div class="panel panel-default">
						<div class="panel-heading font-bold">问题流转<span style="color: red;"></div>
						<div class="panel-body">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th style="width: 15%;">处理时间</th>
										<th style="width: 30%;">处理内容</th>
										<th style="width: 15%;">处理人</th>
										<th style="width: 15%;">下一处理人</th>
										<th style="width: 20%;">处理时长</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="event in evetData">
										<td style="text-align: left;padding-left: 15px;">{{event.createtime}}</td>
										<td style="text-align: left;padding-left: 15px;">{{event.resultdesc}}</td>
										<td style="text-align: left;padding-left: 15px;">{{event.handlername}}</td>
										<td style="text-align: left;padding-left: 15px;">{{event.handlerdept}}</td>
										<td style="text-align: left;padding-left: 15px;">{{event.longer}}</td>
									</tr>
								</tbody>
							</table>
						</div>	
					</div>	
					
					<div class="panel panel-default">
						<div class="panel-heading font-bold">领导批示<span style="color: red;"></div>
						<div class="panel-body">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th style="width: 15%;">批示时间</th>
										<th style="width: 30%;">批示人</th>
										<th style="width: 50%;">批示内容</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="comment in commentData">
										<td style="text-align: left;padding-left: 15px;">{{comment.resptime}}</td>
										<td style="text-align: left;padding-left: 15px;">{{comment.resqtime}}</td>
										<td style="text-align: left;padding-left: 15px;">{{comment.respcontent}}</td>
									</tr>
								</tbody>
							</table>
						</div>	
					</div>-->
				</div>
                    <!--<img src="img/evDetailImg.png" style="width: 100%;" />-->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	
	<!--打印模态框-->
    <div class="modal fade" id="printModal" tabindex="-1" style="width: 100%;height: 100%;margin: 0; padding: 0;background: #fff;overflow-y: hidden;">
		<div class="modal-dialog modal-lg printModal" role="document">
			<div class="modal-content" style="width: 100%;height: 100%;margin: 0; padding: 0;background: #fff;box-shadow: none;border: none;">
				<div class="modal-body" style="padding: 0;">
					<div id="printPanel">
						<h3>河湖问题处置</h3>
						<button type="button" class="btn btn-default hidden-print" ng-click="printFuc()">打印</button>
						<button type="button" class="btn btn-default hidden-print" data-dismiss="modal">关闭</button>
						<div class="panel panel-default">
							<table class="table table-bordered table-responsive">
								<tr>
									<th>问题编号</th>
									<td>{{printDetail.serialno}}</td>
									<th>上报时间</th>
									<td>{{printDetail.reporttime}}</td>
									<th>问题来源</th>
									<td ng-if='printDetail.eventresource == "A"' >河长版APP</td>
									<td ng-if='printDetail.eventresource == "B"' >电话上报</td>
									<td ng-if='printDetail.eventresource == "C"' >公众版APP</td>
									<td ng-if='printDetail.eventresource == "D"' >河长制微信号</td>
									<td ng-if='printDetail.eventresource == "F"' >曝光台</td>
								</tr>
								<tr>
									<th>行政区</th>
									<td colspan="2" style="text-align: left;padding-left: 15px;">{{printDetail.address}}</td>
									<th>问题处理状态</th>
									<td colspan="2">{{printDetail.eventStatus}}</td>
								</tr>
								<tr>
									<th>所属河道</th>
									<td style="text-align: left;padding-left: 15px;">{{printDetail.eventrivername}}</td>
									<th>所在河段</th>
									<td colspan="3" style="text-align: left;padding-left: 15px;">{{printDetail.eventrivername}}</td>
								</tr>
								<tr>
									<th>问题类型</th>
									<td colspan="5" style="text-align: left;padding-left: 15px;">{{printDetail.typename}}</td>
								</tr>
								<tr>
									<th>事发地点</th>
									<td colspan="5" style="text-align: left;padding-left: 15px;">{{printDetail.address}}</td>
								</tr>
								<tr>
									<th style="vertical-align: middle;">问题内容</th>
									<td colspan="5" style="text-align: left;height: 100px;">{{printDetail.content}}</td>
								</tr>
								<tr>
									<th style="vertical-align: middle;">办理结果</th>
									<td colspan="5" style="height: 100px;"></td>
								</tr>
								<tr>
									<th>交付时间</th>
									<td colspan="2"></td>
									<th>限期完成时间</th>
									<td colspan="2"></td>
								</tr>
								<tr>
									<th style="vertical-align: middle;">拟办意见</th>
									<td colspan="5" style="height: 100px;"></td>
								</tr>
								<tr>
									<th style="vertical-align: middle;">市河长办处理或批示</th>
									<td colspan="5" style="height: 100px;"></td>
								</tr>
								<tr>
									<th style="vertical-align: middle;">区河长办处理或批示</th>
									<td colspan="5" style="height: 100px;"></td>
								</tr>
								<tr>
									<th style="vertical-align: middle;">镇河长办处理或批示</th>
									<td colspan="5" style="height: 100px;"></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    
</div>
<script>
	layui.use('layer', function() {
		layer.photos({
		  photos: '#layer-photos-before'
		  ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
		}); 
	});
	layui.use('layer', function() {
		layer.photos({
		  photos: '#layer-photos-later'
		  ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
		}); 
	});

</script>
