<div class="fenxintongji" ng-controller="peopleCountingCtrl" ng-init="init()">
    <div class="wrapper-md">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">各级河湖长人数统计</span><span class="tag-right"></span>

            </div>
        </div>
        <div class="panel panel-default panel-m" style="border-top: none;">
            <div class="panel-body">
                <form class="form-inline clearfix" method="get">
                    <button type="submit" class="btn btn-primary fr" ng-click="export()"><i class="fa fa-sign-in"></i>导出</button>
                </form>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover ">
                                <tbody class="bTable">
                                <tr class='tHeader'>
                                    <th>序号</th>
                                    <th>区名</th>

                                    <th>区级河长总数</th>
                                    <th>湖长总数</th>
                                    <th>河长兼任湖长（包含总、副湖长）的人数</th>
                                    <th>总计人数</th>

                                    <th>镇街级河长总数</th>
                                    <th>湖长总数</th>
                                    <th>河长兼任湖长（包含总、副湖长）的人数</th>
                                    <th>总计人数</th>

                                    <th>村级河长总数</th>
                                    <th>湖长总数</th>
                                    <th>河长兼任湖长（包含总、副湖长）的人数</th>
                                    <th>总计人数</th>

                                </tr>
                                <tr ng-repeat="lst in dataList" ng-init="index=$index+1">
                                    <td>{{index}}</td>
                                    <td><a ng-click="view(lst.regionId)">{{lst.regionName}}</a></td>


                                    <td><a ng-click="getPeopleList(lst.regionId,1)">{{lst.rivermanQNum}}</a></td>
                                    <td><a ng-click="getPeopleList(lst.regionId,2)">{{lst.lakemanQNum}}</a></td>
                                    <td><a ng-click="getPeopleList(lst.regionId,3)">{{lst.riverLakeQNum}}</a></td>
                                    <td style="font-weight: 600;"><a ng-click="getPeopleList(lst.regionId,4)">{{lst.sumQ}}</a></td>


                                    <td>{{lst.rivermanZNum}}</td>
                                    <td>{{lst.lakemanZNum}}</td>
                                    <td>{{lst.riverLakeZNum}}</td>
                                    <td style="font-weight: 600;">{{sumZ}}</td>

                                    <td>{{lst.rivermanCNum}}</td>
                                    <td>{{lst.lakemanCNum}}</td>
                                    <td>{{lst.riverLakeCNum}}</td>
                                    <td style="font-weight: 600;">{{lst.sumC}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="peopleModal" tabindex="-1" role="dialog"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="closeModal()">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            详情
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered table-hover ">
                            <tbody class="bTable">
                            <tr class='tHeader'>
                                <th>序号</th>
                                <th>河长姓名</th>
                                <th>区域</th>
                                <th>类型</th>
                                <th>职务</th>
                                <th>联系电话</th>
                            </tr>
                            <tr ng-repeat="people in peopleList" ng-init="index=$index+1">
                                <td>{{index}}</td>
                                <td>{{people.userName}}</td>
                                <td>{{people.regionName}}</td>
                                <td>{{people.type}}</td>
                                <td>{{people.position}}</td>
                                <td>{{people.telphone}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>