<div class="anchaanfang" ng-controller="scoreRuleCtrl" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">水质评分规则</span><span class="tag-right"></span>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline clearfix">
                    <div class="input-group fr">
                        <button type="button" class="btn btn-primary" ng-click="add1()">
                            <i class="fa fa-plus"></i> 新增
                        </button>
                    </div>
                </form>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                <tr class='tHeader'>
                                    <th width="5%">序号</th>
                                    <th width="10%">名称</th>
                                    <th width="10%">创建人</th>
                                    <th width="15%">创建时间</th>
                                    <!--<th width="15%">备注</th>-->
                                    <th width="10%">排序</th>
                                    <th width="20%">操作</th>
                                </tr>
                                <tr ng-repeat="item in moduleList">
                                    <td>{{$index+1}}</td>
                                    <td>{{item.ruleName}}</td>
                                    <td>{{item.creatorName}}</td>
                                    <td>{{item.createTime}}</td>
                                    <!--<td>{{item.remark}}</td>-->
                                    <td>{{item.sortOrder}}</td>
                                    <td style="text-align: center;">
                                        <button type="button" class="btn btn-success"
                                                ng-click="view(item.id,1)">F值明细
                                        </button>
                                        <button type="button" class="btn btn-info"
                                                ng-click="view(item.id,2)">K值明细
                                        </button>
                                        <button type="button" class="btn btn-warning"
                                                ng-click="add1(item)">修改
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                    </div>
                    <div class="tab-pane" id="chartStatistics">
                        <div id="patrolChart1" class="tj-chart-con"></div>
                    </div>
                </div>

            </div>
        </div>

        <!--水质评分规则---模态框-->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{id ? '修改' : '新增'}}水质评分规则
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 220px;">
                        <form class="form-inline">
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">规则名称</font></font></label>
                                <input type="text" class="form-control input-short" ng-model="ruleName">
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">排序</font></font></label>
                                <input name="number" min="1" class="form-control input-short" ng-model="sortOrder">
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">备注</font></font></label>
                                <textarea class="form-control" ng-model="remark" rows="3" style="width: 440px;"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="saveRule()">保存</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
