<div class="conferenceCtrl" ng-controller="infoPublicity" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">信息宣传情况</span><span class="tag-right"></span>
            </div>
        </div>
        <div class="panel panel-default m-all-0">
            <div class="panel-body">
                <form method="get">
                    <div class="form-inline">
                        <div class="form-item">
                            <label>开始时间</label>
                            <div class="input-group date date_picker" id="startTime">
                                <input type="text" class="form-control input-short-o" ng-model="startTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>结束时间</label>
                            <div class="input-group date date_picker" id="endTime">
                                <input type="text" class="form-control input-short-o" ng-model="endTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>行政区域</label>
                            <select class="form-control select-short" ng-model="regionName">
                                <option value="">请选择</option>
                                <option value="{{item.areaCode}}" ng-repeat="item in regionList">{{item.areaName}}</option>
                            </select>
                        </div>
                        <button type="submit" ng-click="searchData()" class="btn btn-primary">
                            <i class="fa fa-search"></i>搜索
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="reset()" style="margin: 0 5px;">
                            <i class="fa fa-refresh"></i>重置
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="form-inline">
                        <div class="input-group fr">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="add()" style="margin: 0 5px;">
                                <i class="fa fa-plus"></i> 新增
                            </button>
                            <button type="submit" class="btn btn-primary" ng-click="export()"><i class="fa fa-sign-in"></i>导出</button>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover" data-filter="#filter">
                        <tr>
                            <th style="width: 5%;">序号</th>
                            <th style="width: 15%">行政区域</th>
                            <th style="width: 10%">信息报道媒体</th>
                            <th style="width: 10%">信息报道内容</th>
                            <th style="width: 10%">是否新媒体</th>
                            <th style="width: 10%">附件</th>
                            <th style="width: 10%">操作</th>
                        </tr>
                        <tr ng-repeat="module in moduleList" style="cursor:pointer;">
                            <td>{{$index+1}}</td>
                            <td>{{module.region}}</td>
                            <td>{{module.infoReportMedia}}</td>
                            <td>{{module.infoReportContent.length > 20 ? module.infoReportContent.substring(0,20) + '...' : module.infoReportContent}}</td>
                            <td>{{module.isNewMedia == 2 ? '否' : '是'}}</td>
                            <td>
                                <a ng-click="downFile(item)" ng-repeat="item in module.file">{{item}}<br></a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" ng-click="view(module.id)"><i class="fa fa-info" title="查看"></i></a>
                                <a class="btn btn-primary btn-xs" ng-click="edit(module.id)" ><i class="fa fa-edit" title="修改"></i></a>
                                <a class="btn btn-primary btn-xs" ng-click="delete(module.id)"><i class="fa fa-trash-o" title="删除"></i></a>
                            </td>
                        </tr>
                    </table>

                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>


        <!-- 信息宣传情况（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            新增信息宣传情况
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 500px;">
                        <form class="form-inline">
                            <div class="form-item">
                                <div class="form-item">
                                    <label>报道时间</label>
                                    <div class="input-group date date_picker" id="J-Time">
                                        <input type="text" class="form-control input-short-o" ng-model="time">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </div>
                                <div class="form-item">
                                    <label>区域</label>
                                    <select class="form-control select-short" ng-model="region">
                                        <option value="">请选择</option>
                                        <option value="{{item.areaCode}}" ng-repeat="item in regionList">{{item.areaName}}</option>
                                    </select>
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </div>
                                <div class="form-item">
                                    <label>是否新媒体</label>
                                    <select class="form-control select-short" ng-model="isNewMedia">
                                        <option value="">请选择</option>
                                        <option value="1">是</option>
                                        <option value="2">否</option>
                                    </select>
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </div>
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">信息报道媒体</font></font></label>
                                    <input type="text" class="form-control input-long" style="float: inherit;width: 410px;" ng-model="infoReportMedia">
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </div>

                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">信息报道内容</font></font></label>
                                    <textarea class="form-control" rows="5" ng-model="infoReportContent" style="width: 410px;max-width: 410px"></textarea>
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>

                                </div>
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">备注</font></font></label>
                                    <textarea class="form-control" rows="3" ng-model="remark" style="width: 410px;max-width: 410px"></textarea>
                                </div>
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">附件</font></font></label>
                                    <button class="btn btn-info" ng-click="getUploadFile()"><i
                                            class="fa fa-css3"></i>上传附件
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="addSave()">保存</button>
                        <button type="button" class="btn btn-primary" ng-click="closeModal()">取消</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 修改信息宣传情况（Modal） -->
        <div class="modal fade" id="myModaledit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1edit">
                            修改信息宣传情况
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 500px;">
                        <form class="form-inline">
                            <div class="form-item">
                                <div class="form-item">
                                    <label>报道时间</label>
                                    <div class="input-group date date_picker" id="J-editTime">
                                        <input type="text" class="form-control input-short-o" ng-model="editTime">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </div>
                                <div class="form-item">
                                    <label>区域</label>
                                    <select class="form-control select-short" ng-model="editRegion">
                                        <option value="">请选择</option>
                                        <option value="{{item.areaCode}}" ng-repeat="item in regionList">{{item.areaName}}</option>
                                    </select>
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </div>
                                <div class="form-item">
                                    <label>是否新媒体</label>
                                    <select class="form-control select-short" ng-model="isNewMediaEdit">
                                        <option value="">请选择</option>
                                        <option value="1">是</option>
                                        <option value="2">否</option>
                                    </select>
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </div>
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">信息报道媒体</font></font></label>
                                    <input type="text" class="form-control input-long" style="float: inherit;width: 410px;" ng-model="infoReportMediaEdit">
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                </div>

                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">信息报道内容</font></font></label>
                                    <textarea class="form-control" rows="5" ng-model="infoReportContentEdit" style="width: 410px;max-width: 410px"></textarea>
                                    <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>

                                </div>
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">备注</font></font></label>
                                    <textarea class="form-control" rows="3" ng-model="remarkEdit" style="width: 410px;max-width: 410px"></textarea>
                                </div>
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">附件</font></font></label>
                                    <button class="btn btn-info" ng-click="getUploadFile()"><i
                                            class="fa fa-css3"></i>上传附件
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="updateSave()">保存</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 信息宣传情况详情（Modal） -->
        <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabelview">
                            信息宣传情况详情
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 500px;">
                        <form class="form-inline">
                            <div class="form-item">
                                <div class="form-item">
                                    <label>报道时间</label>
                                    <div class="input-group date date_picker">
                                        <input type="text" class="form-control input-short-o" readonly ng-model="detail.replyTime">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>区域</label>
                                    <select class="form-control select-short" ng-model="detail.region" disabled>
                                        <option value="">请选择</option>
                                        <option value="{{item.areaCode}}" ng-repeat="item in regionList">{{item.areaName}}</option>
                                    </select>
                                </div>
                                <div class="form-item">
                                    <label>是否新媒体</label>
                                    <select class="form-control select-short" disabled ng-model="detail.isNewMedia">
                                        <option value="">请选择</option>
                                        <option value="1">是</option>
                                        <option value="2">否</option>
                                    </select>
                                </div>

                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">信息报道媒体</font></font></label>
                                    <input type="text" class="form-control input-long" readonly style="float: inherit;width: 410px;" ng-model="detail.infoReportMedia">
                                </div>

                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">信息报道内容</font></font></label>
                                    <textarea class="form-control" rows="5" ng-model="detail.infoReportContent" readonly style="max-width: 425px"></textarea>

                                </div>
                                <div class="form-item">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">备注</font></font></label>
                                    <textarea class="form-control" rows="3" readonly ng-model="detail.remark" style="max-width: 425px"></textarea>
                                </div>
                                <div class="form-item" ng-if="fileList.length != 0">
                                    <label><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">附件</font></font></label>
                                </div>
                                <div class="form-item" style="position: relative;width: 426px;">
                                    <span ng-repeat="item in fileList" style="color: #333;cursor: pointer;display: block;margin: 8px 10px;" ng-click="downFile(item.previewURL)">{{item.name}}
                                        <!--<span style="color: #3189e1;" ng-click="downFile(item.downloadURL)">下载</span>-->
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>




        <!--附件上传-->
        <div class="modal fade" id="coverModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <li class="fa fa-remove"></li>
                        </button>
                        <h4>上传附件</h4>
                    </div>
                    <div class="modal-body">

                        <div>
                            <input type="file" class="hidden" id="J-attandUploader" ng-model="attandUrl"
                                   onchange="angular.element(this).scope().uploadFile(this)"/>
                            <input type="hidden" ng-model="attandName" value=""/>
                            <button class="btn btn-default" onclick="document.getElementById('J-attandUploader').click()">
                                选择文件
                            </button>
                        </div>


                        <div class="file-list-show">
                            <div class="file-list-content" ng-repeat="(index,item) in fileUploadList">
                                <span class="file-list-title">{{item.fileName}}</span>
                                <span class="file-list-delete" ng-click="deleteFile(index)">删除</span>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getUpload()">
                            <i class="fa fa-check"></i>
                            <span>确定</span>
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">
                            <i class="fa fa-reply"></i>
                            <span>取消</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>