<div class="kaohepingfen" ng-controller="wushuiListCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
				<span class="tag">污水处理厂</span><span class="tag-right"></span>
			</div>
        </div>
    	<div class="panel panel-default">
        	<div class="panel-body">
        		<div class="table-bar">
        			<form class="form-inline clearfix">
	        			<div class="input-group date date_picker form-item" id="J-searchTime">
	                        <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">期号</font></font></label>
	        				<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                    </div>
	        			<div class="input-group form-item" >
	                        <label class="near n"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">状态</font></font></label>
	        				<select ng-model="type" class="form-control select-short" style="width: auto;z-index: 0;">
	                        	<option value=""></option>
	                        	<option value="0">已上报</option>
	                        	<option value="1">已退回</option>
	                        	<option value="2">未上报</option>
	                        </select>
	                    </div>
	                    <div class="form-item">
	                        <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创建人</font></font></label>
	                        <input type="text" class="form-control input-short" ng-model="createuser">
	                    </div>
        				<div class="input-group">
		                    <button class="btn btn-primary" ng-click="search()">
		                    	<i class="fa fa-search"></i>搜索
		                    </button>
							<button type="button" class="btn btn-primary" ng-click="reset()" style="margin: 0 5px;">
								<i class="fa fa-refresh"></i>重置
							</button>
	                    </div>
	                   <div class="input-group fr" ng-if="num == 1">
		                    <button type="button" class="btn btn-primary" ng-click="add()">
		                        <i class="fa fa-plus"></i> 新增
		                    </button>
	                    </div>
                    </form>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                	<tr class='tHeader'>
	                                    <th width="5%">序号</th>
	                                    <th width="20%">标题
											<i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','title')"></i>
											<i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','title')"></i>
										</th>
	                                    <th width="10%">期号
											<i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','issue')"></i>
											<i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','issue')"></i>
										</th>
	                                    <th width="10%">状态
											<i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','status')"></i>
											<i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','status')"></i>
										</th>
	                                    <th width="15%">创建时间
											<i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','createtime')"></i>
											<i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','createtime')"></i>
										</th>
	                                    <th width="10%">创建人
											<i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','createuser')"></i>
											<i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','createuser')"></i>
										</th>
	                                    <th width="20%">备注</th>
	                                    <th width="10%">操作</th>
	                                </tr>
                                	<tr ng-repeat="item in sewageWaterList" ng-if="num != 2">
										<td>{{$index + 1 + (paginationConf.currentPage-1)*paginationConf.itemsPerPage}}</td>
										<td>{{item.title.length > 20 ? item.title.substring(0,20) + '...' : item.title}}</td>
										<td>{{item.issue}}</td>
	                                    <td>
	                                    	<span ng-if="item.status==0" class="label label-danger">已上报</span>
	                                    	<span ng-if="item.status==1" class="label label-info">已退回</span>
	                                    	<span ng-if="item.status==2" class="label label-success">未上报</span>
	                                    </td>
	                                    <td>{{item.createtime}}</td>
	                                    <td>{{item.createuser}}</td>
										<td>{{item.remark.length > 18 ? item.remark.substring(0,18) + '...' : item.remark}}</td>
										<td style="text-align: left;">
	                                    	<button type="button" class="btn btn-success btn-xs" ng-click="view(item.id , item.title ,item.issue ,item.status)">查看</button>
	                                    	<button ng-if="item.status == 2" type="button" class="btn btn-warning btn-xs" ng-click="edit(item.id)">修改</button>
	                                    	<button ng-if="item.status == 2" type="button" class="btn btn-info btn-xs" ng-click="report(item.id)">上报</button>
											<button ng-if="item.status!=0" type="button" class="btn btn-danger btn-xs"
													ng-click="delete (item.id)">删除
											</button>
	                                    </td>
	                                </tr>
                                	<tr ng-repeat="item in sewageWaterList" ng-if="num == 2">
										<td>{{$index + 1 + (paginationConf.currentPage-1)*paginationConf.itemsPerPage}}</td>
										<td>{{item.title}}</td>
	                                    <td>{{item.issue}}</td>
	                                    <td>
	                                    	<span ng-if="item.status==0" class="label label-danger">已上报</span>
	                                    	<span ng-if="item.status==1" class="label label-info">已退回</span>
	                                    </td>
	                                    <td>{{item.createtime}}</td>
	                                    <td>{{item.createuser}}</td>
	                                    <td>{{item.remark}}</td>
	                                    <td style="text-align: left;">
	                                    	<button type="button" class="btn btn-success btn-xs" ng-click="view(item.id , item.title ,item.issue,item.status)">查看</button>
	                                    	<button ng-if="item.status == 0" type="button" class="btn btn-primary btn-xs" ng-click="sendBack(item.id)">退回</button>
	                                    	<button ng-if="item.status == 2" type="button" class="btn btn-info btn-xs" ng-click="report(item.id)">上报</button>

	                                    </td>
	                                </tr>
                            	</tbody>
                            </table>
                			<tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                    </div>
                    <div class="tab-pane" id="chartStatistics">
                        <div id="patrolChart" class="tj-chart-con"></div>
                    </div>
                </div>

        	</div>
        </div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
			<div class="modal-dialog" style="width: 600px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							{{id ? '修改' : '新增'}}污水处理厂评分报告
						</h4>
					</div>
					<div class="modal-body" style="height: 300px;">
						<form class="form-inline">
							<div class="form-item">
								<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">标题</font></font></label>
								<input type="text" class="form-control input-short" ng-model="title">
								<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
							</div>
							<div class="form-item">
								<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创建时间</font></font></label>
								<input type="text" class="form-control input-short" ng-model="currentdate"  readonly="readonly" style="width: 162px;">
								<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
							</div>
							<div class="input-group date date_picker form-item" id="J-searchTime1">
								<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">期号</font></font></label>
								<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime1">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
							<div class="form-item" style="margin-left: 10px;">
								<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创建人</font></font></label>
								<input type="text" class="form-control input-short" ng-model="author">
								<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
							</div>
							<div class="form-item">
								<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">备注</font></font></label>
								<!--<input type="text" class="form-control input-short" ng-model="issuer">-->
								<textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="issuer" rows="3" style="width: 440px;max-width: 440px;"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" ng-click="submit()">保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>