<div class="anchaanfang" ng-controller="anchaanfangViewCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">暗查暗访</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">详情</span><span class="tag-right"></span>
        		<div style="overflow: hidden;"><button type="button" class="btn btn-primary" ng-click="goBack()" style="position: absolute;right: 20px;bottom: 20px;">返回</button></div>
        	</div>
		</div>
        
    	<div class="panel panel-default">
        	<div class="panel-body">
        		<ul class="js-tab">
        			<li class="basis tab-active" >基础资料</li>
        			<li class="reported">上报</li>
        			<li class="detail">通报详情</li>
        			<li class="deal">处理结果</li>
        		</ul>
        		<div class="panel-body js-con">
        			<div class="basis-con con">        				
			    		<div class="panel-body">
							<form class="form-inline" style="padding-left: 25%;">
								<div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">标题</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
			                    </div>
			                    <div class="input-group form-item">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查区域</font></font></label>
			        				<select ng-model="type" class="form-control select-short" style="width: 160px;">
			                        	<option value=""></option>
			                        	<option value="0">已上报</option>
			                        	<option value="1">已退回</option>
			                        	<option value="2">未上报</option>
			                        </select>
				                </div>
				                <br />
				                <div class="input-group date date_picker form-item" id="J-searchTime">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查日期</font></font></label>
			        				<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
			                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
				                </div>
			                    <div class="input-group form-item" style="position: relative;left: 5px;">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查河道</font></font></label>
			        				<select ng-model="type" class="form-control select-short" style="width: 160px;">
			                        	<option value=""></option>
			                        	<option value="0">已上报</option>
			                        	<option value="1">已退回</option>
			                        	<option value="2">未上报</option>
			                        </select>
				                </div>
				                <br />
				                <div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">带队领导</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
			                    </div>                    
				                <div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">问题点坐标</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
			                    </div>
			                    <br />
			                    <div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查内容</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
			                    </div> 
			                    <div class="form-item">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">问题点描述</font></font></label>
									<textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="issuer" rows="3" style="width: 160px;max-width: 160px;"></textarea>
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
			                    </div>
			                    <br />                 
			                    <div class="form-item">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">内容描述</font></font></label>
									<textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="issuer" rows="3" style="width: 160px;max-width: 160px;"></textarea>
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
			                    </div>  
			        			<div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">方案附件</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title" style="width: 90px;">
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
				                    <button type="button" class="btn btn-default" style="position: relative;top: -10px;">预览</button>
			                    </div>                    
							</form>				
			    		</div>
        			</div>
        			<div class="reported-con con tab-show">
        				<div class="panel-body">
        					<form class="form-inline" style="padding-left: 25%;">
								<div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上报</font></font></label>			                       
			                        <span>第1次</span>
			                    </div>
			                    <div class="" style="display: inline-block;margin-left: 130px;">
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上传照片</font></font></label>
			                        <div style="display: inline-block;margin-left: 15px;">
			                        	<img src="https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=0fd5d24f9f45d688bc02b4a494c27dab/4b90f603738da977f53a9d57bd51f8198618e3b1.jpg" alt="" style="width: 100px;height: 100px;"/>
			                        	<img src="https://ss1.baidu.com/-4o3dSag_xI4khGko9WTAnF6hhy/image/h%3D300/sign=0fd5d24f9f45d688bc02b4a494c27dab/4b90f603738da977f53a9d57bd51f8198618e3b1.jpg" alt="" style="width: 100px;height: 100px" />
			                        </div>
			                    </div>
			                    <br />
								<div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上报人</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                    </div>
			                    <div class="form-item" >
                    				<button type="button" class="btn btn-default" style="margin-left: 75px;">预览</button>			                        
			                    </div>
			                    <br />
			                    <div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">上报时间</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                    </div>
        					</form>        					
        				</div>
        			</div>
        			<div class="detail-con con tab-show">
        				<div class="panel-body">
        					<form class="form-inline" style="padding-left: 25%;">
        						<div class="form-item" style="margin-top: -2px;">
				                    <label><font style="vertical-align: inherit;"><b>通报详情</b></font></label>			                       
								</div>
								<br />
	        					<div class="form-item" style="margin-top: -2px;">
				                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">通报问题类别</font></font></label>			                       
				                    <span style="margin: 0 20px;">类别一</span>
				                    <span>类别二</span>
				                </div>
				                <div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">通报附件</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
				                    <button type="button" class="btn btn-default" style="position: relative;top: -10px;">预览</button>
			                    </div>		 
        					</form>        					
        				</div>
        			</div>
        			<div class="deal-con con tab-show">
        				<div class="panel-body">
        					<form class="form-inline" style="padding-left: 25%;">
        						<div class="form-item" style="margin-top: -2px;">
				                    <label><font style="vertical-align: inherit;"><b>处理结果</b></font></label>			                       
								</div>
								<br />
	        					<div class="form-item" style="margin-top: -2px;">
				                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">结果描述</font></font></label>			                       
                        			<textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="issuer" rows="3"></textarea>
				                </div>
				                <div class="form-item" >
			                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">通报附件</font></font></label>
			                        <input type="text" class="form-control input-short" ng-model="title">
			                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
				                    <button type="button" class="btn btn-default" style="position: relative;top: -10px;">预览</button>
			                    </div>		 
        					</form>
        				</div>
        			</div>
        			
        		</div> 
        		
        	</div>
       	</div>
    </div>
</div>