<div class="anchaanfang" ng-controller="duchaAddCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">督查</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">{{!id ? '新增' : '编辑'}}</span><span class="tag-right"></span>
        		<div style="overflow: hidden;"><button type="button" class="btn btn-primary" ng-click="goBack()" style="position: absolute;right: 20px;bottom: 20px;">返回</button></div>
        	</div>
        </div>
    	<div class="panel panel-default">
    		<div class="panel-body">
    			<div class="clearfix">
    				<form class="form-inline" style="float:left;">
						<div class="form-item" >
	                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">标题</font></font></label>
	                        <input type="text" class="form-control input-short" ng-model="title">
	                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
	                    </div>
	                    <br />
	                    <div class="input-group date date_picker form-item" id="J-searchTime">
	                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">印发日期</font></font></label>
	        				<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
		               </div>        
	                    <br />   
	                    <div class="form-item">
	                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查内容</font></font></label>
							<textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="content" rows="2" style="width: 160px;max-width: 160px;"></textarea>
	                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
	                    </div>
						<br>
						<div class="form-item" >
							<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">方案附件</font></font></label>
							<button class="btn btn-info" ng-click="getUploadFile()"><i class="fa fa-css3"></i>上传附件</button>
						</div>
					</form>
					<form class="form-inline" style="float:left;">
						<div class="form-item" >
	                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">文号</font></font></label>
	                        <input type="text" class="form-control input-short" ng-model="renumber">
	                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
	                    </div>
	                    <br />
	                    <div class="input-group form-item">
	                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查方式</font></font></label>
	        				<select ng-model="inspectType" class="form-control select-short" style="width: 160px;z-index:0;">
	                        	<option value="">请选择</option>
	                        	<option value="{{item.type}}" ng-repeat="item in CheckTypeList">{{item.type}}</option>
	                        </select>
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>
	                    <br />
	                    <div class="input-group form-item" style="z-index: 10;">
	                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下发区域</font></font></label>
	        				<!--<select ng-model="sentRegion" class="form-control select-short" style="width: 160px;z-index:0;">-->
	                        	<!--<option value="">请选择</option>-->
	                        	<!--<option value="{{item}}" ng-repeat="item in regionList">{{item}}</option>-->
	                        <!--</select>-->
							<select id="slpk" class="form-control selectpicker selectpicker1" multiple  style="width: 160px;z-index: 0;" ng-model="sentRegion">
							</select>
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>
		                <br />
						<div class="input-group form-item">
							<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下发单位</font></font></label>
							<!--<select ng-model="sentRegion" class="form-control select-short" style="width: 160px;z-index:0;">-->
							<!--<option value="">请选择</option>-->
							<!--<option value="{{item}}" ng-repeat="item in regionList">{{item}}</option>-->
							<!--</select>-->
							<select id="slpk1" class="form-control selectpicker" multiple  style="width: 160px;z-index: 0;" ng-model="sentUnit">
							</select>
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>
						<br>

					</form>
					
    			</div>
				
				<div style="text-align: left;margin: 35px 0;">
	                <button type="button" class="btn btn-primary" style="margin: 0 50px;" ng-click="submit()" >创建并下发</button>
                    <button type="button" class="btn btn-default" ng-click="back()">取消</button>
                </div>
    		
    		</div>
    	</div>
		<!--描述：附件-->
		<div class="modal fade" id="coverModal" data-backdrop="static">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							<li class="fa fa-remove"></li>
						</button>
						<h4>上传附件</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="wid-100 announcementCoverPanel">
									<input class="uploadfile" type="file" name="file">
								</div>
							</div>
						</form>
					</div>.
					<div class="modal-footer">
						<a href="javascript:;" class="btn btn-primary btn-o" ng-click="getUpload()">
							<i class="fa fa-check"></i>
							<span>确定</span>
						</a>
						<a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">
							<i class="fa fa-reply"></i>
							<span>取消</span>
						</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<script>
    $(".uploadfile").fileinput({
        allowedFileExtensions: [],
        uploadAsync: true, //默认异步上传
        showRemove: true, //显示移除按钮
        maxFileCount: 1, //表示允许同时上传的最大文件个数
        language: 'zh', //设置语言
        uploadUrl: '#', //上传的地址
        showUpload: false, //显示批量上传按钮
        showCaption: true, //是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        showPreview: true, //是否显示预览
        dropZoneEnabled: true, //是否显示拖拽区域
        validateInitialCount: true,
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
</script>
