<div ng-controller="reservoirAddCtrl" ng-init="init()">
	<div id="wrapperMd" class="wrapper-md">
		<div class="panel panel-default m-all-0">
			<div class="panel-body pos-rlt">
				<form id="reservoirAddForm" class="form-inline" method="get" novalidate="novalidate">
					<div id="left" class="left-panel wid-70 dis-i-blc">
						<div class="form-item">
							<label>水库名称</label>
							<input type="text" class="form-control input-short" ng-model="reservoir.reservoirName" ng-blur="isRepeat()"/>
                            <span class="required">*</span>
						</div>
						<div class="form-item">
	                        <label>所属区域</label>
							<input ng-model="reservoir.regionName" type="text" class="form-control input-short-o" ng-click="regionShow()" readonly>
							<a class="input-group-addon" ng-click="regionShow()"><i class="fa fa-search"></i></a>
                            <span class="required">*</span>
	                    </div>
						<div class="form-item">
							<label>所属水系</label>
							<input ng-model="reservoir.waterName" type="text" class="form-control input-short-o" ng-click="waterShow()" readonly>
							<a class="input-group-addon"  ng-click="waterShow()"><i class="fa fa-search"></i></a>
						</div>
						<div class="form-item">
							<label>水库类型</label>
							<select ng-init="reservoirTypeList()" ng-model="reservoir.reservoirType" ng-options="re.typeValue as re.typeName for re in reservoirTypes" class="form-control select-short">
                                <option  value="">请选择</option>
                            </select>
						</div>
						<div class="form-item">
							<label>水库岸别</label>
							<select ng-init="watershoreTypeList()" ng-model="reservoir.reservoirBank" ng-options="ws.typeValue as ws.typeName for ws in watershoreTypes" class="form-control select-short">
                                <option  value="">请选择</option>
                            </select>
						</div>
						<div class="form-item">
                            <label>管理单位</label>
                            <input type="text" class="form-control input-short" ng-model="reservoir.managementUnit">
                        </div>
	                    <div class="form-item">
							<label>水库面积</label>
							<input type="text" class="form-control input-short-o" ng-model="reservoir.acreage" disabled>
                            <span class="input-group-addon"><i>km<sup>2</sup></i></span>
						</div>
	                    <div class="form-item">
                            <label>水库经度</label>
                            <input type="text" class="form-control input-short" ng-model="reservoir.centerLongitude" disabled>
                        </div>
                        <div class="form-item">
                            <label>水库纬度</label>
                            <input type="text" class="form-control input-short" ng-model="reservoir.centerLatitude" disabled>
                        </div>
						<div class="form-item">
							<label>库容</label>
							<input type="text" class="form-control input-short-o" ng-model="reservoir.capacity">
                            <span class="input-group-addon"><i>km<sup>3</sup></i></span>
						</div>
						<br>
						<div class="form-item">
                            <label>位置描述</label>
                            <input type="text" class="form-control input-long" ng-model="reservoir.location">
                        </div>
                        <div class="form-item">
                            <label>所跨区域</label>
                            <input type="text" class="form-control input-long-o" ng-model="reservoir.throughAreaName" ng-click="regionShow('multiple')">
                            <a class="input-group-addon" ng-click="regionShow('multiple')"><i class="fa fa-search"></i></a>
                        </div>
                        <br>
						<remark-edit obj="reservoir"></remark-edit>
						<file-upload imgblock="true" fileblock="true" imgs="reservoir.jsonImages" files="reservoir.jsonFiles"></file-upload>
					</div>
					<!-- map -->
					<div class="float-right-panel wid-25 dis-i-blc" ng-class="{true:'expandMap', false:'compressMap'}[mapMin]" ng-init="mapMin = true; mapType = 'polygon'; objOpera = 'add'">
	                    <basic-map obj="reservoir" map-min="mapMin" map-type="mapType" obj-opera="objOpera"></basic-map>
                    </div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-body">
				<related-chief obj="reservoir" watertype="reservoir"></related-chief>
			</div>
			<div class="panel-footer m-b-10">
				<div class="btn-box">
					<button type="submit" class="btn btn-primary" ng-click="submit()">保存</button>
					<button type="submit" class="btn btn-default" ng-click="back()">返回</button>
				</div>
			</div>
		</div>
	</div>
	<tree-modal modal-tree-info = "{{modalTreeInfo}}"></tree-modal>
</div>