<div class="fenxintongji" ng-controller="patrolProblemStandingBook" ng-init="init()">
    <div class="wrapper-md">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">河长巡河问题台账</span><span class="tag-right"></span>

            </div>
        </div>
        <div class="panel panel-default panel-m" style="border-top: none;">
            <div class="panel-body">
                <form class="form-inline" method="get">
                    <div class="form-item">
                        <label>开始时间</label>
                        <div class="input-group date date_picker" id="startTime">
                            <input type="text" class="form-control input-short-o" ng-model="startTime">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>结束时间</label>
                        <div class="input-group date date_picker" id="endTime">
                            <input type="text" class="form-control input-short-o" ng-model="endTime">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="search()"><i class="fa fa-search"></i>搜索</button>
                    <button type="button" class="btn btn-primary" ng-click="reset()" style="margin: 0 5px;">
                        <i class="fa fa-refresh"></i>重置
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="export()"><i class="fa fa-sign-in"></i>导出</button>
                </form>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover ">
                                <tbody class="bTable">
                                <tr class='tHeader'>
                                    <th>序号</th>
                                    <th>区名</th>
                                    <th>问题总计</th>
                                    <th>未处理</th>
                                    <th>处理中</th>
                                    <th>已结案</th>
                                </tr>
                                <tr ng-repeat="lst in dataList" ng-init="index=$index+1">
                                    <td>{{index}}</td>
                                    <td><a ng-click="viewDetail(1 , lst)">{{lst.eventBelongCountry}}</a></td>
                                    <td><a ng-click="viewDetail(2 , lst)">{{lst.totalCount}}</a></td>
                                    <td><a ng-click="viewDetail(2 , lst)">{{lst.beginCount}}</a></td>
                                    <td><a ng-click="viewDetail(2 , lst)">{{lst.processCount}}</a></td>
                                    <td><a ng-click="viewDetail(2 , lst)">{{lst.endCount}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
