<div class="fenxintongji" ng-controller="fenxintongjiQuestionCtrl" ng-init="init()">
    <div class="wrapper">
        <div class="panel panel-default m-n">
            <div class="panel-body">
                <form class="form-inline" method="get">
                    <div class="form-item">
                        <label>行政区域</label>
                        <input type="text" class="form-control input-short-o" ng-model="regionName" readonly="">
                        <span class="input-group-addon" ng-click="regionTree();"><i class="fa fa-search"></i></span>
                    </div>
                    <div class="form-item">
                        <label>开始时间</label>
                        <div class="input-group date date_picker" id="startTime">
                            <input type="text" class="form-control input-short-o" ng-model="startTime">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>结束时间</label>
                        <div class="input-group date date_picker" id="endTime">
                            <input type="text" class="form-control input-short-o" ng-model="endTime">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-item">
						<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">事件来源</font></font></label>
	                    <select ng-model="type" class="form-control select-short">
	                    	<option value="">请选择</option>
	                    	<option value="1">通报</option>
	                    	<option value="2">每周动态</option>
	                    	<option value="3">月度考核简报</option>
	                    	<option value="4">督导检查通报</option>
	                    </select>
					</div>
                    <button type="submit" class="btn btn-primary" ng-click="search()"><i class="fa fa-search"></i>搜索</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default panel-m" style="border-top: none;">
            <div class="panel-body">                
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                	<tr>
	                                    <th rowspan="2" style='line-height: 50px;'>序号</th>
	                                    <th rowspan="2" style='line-height: 50px;'>区名</th>
	                                    <th colspan="2">分类（二级分类名称）</th>
	                                    <th colspan="2">分类（二级分类名称）</th>
	                                    <th colspan="2">分类（二级分类名称）</th>
	                                    <th colspan="2">合计</th>	                                    
	                                </tr>
	                                <tr>	                               
	                                	<td>已办结</td>
	                                	<td>待办</td>
	                                	<td>已办结</td>
	                                	<td>待办</td>
	                                	<td>已办结</td>
	                                	<td>待办</td>
	                                	<td>已办结</td>
	                                	<td>待办</td>
	                                </tr>
	                                <tr>
	                                	<td>1</td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                </tr>
	                            </tbody>
	                            <tfoot>
	                            	<tr>
	                            		<td>合计</td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                                	<td><a href="">1</a></td>
	                            	</tr>
	                            </tfoot>
                            </table>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>    
</div>

<!-- 行政区域树模态框 -->
<div class="modal fade" id="regionTree" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">行政区域选择</h4>
            </div>	                                	
            <div class="modal-body" style="max-height: 400px; overflow: auto">
                <ul id="regionTreeContainer" class="ztree"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="getRegion(regionId)">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>