<div class="" ng-controller="shuizhiUpdateCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">水质数据</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">详情</span><span class="tag-right"></span>
        		<div style="overflow: hidden;"><button type="button" class="btn btn-primary" ng-click="goBack()" style="position: absolute;right: 20px;bottom: 20px;">返回</button></div>
        	</div>
 		</div>
    	<div class="panel panel-default">
    		<div class="panel-body">
    			<form class="form-inline clearfix">
        			<div class="input-group form-item" >
						<label>断面</label>
						<div style="position: relative;display: inline-block;">
							<input class="form-control input-short-o" placeholder="断面名称"
								   style="width: 100%" ng-blur="showSectionList=false" ng-model="section1"
								   ng-change="searchSectionList()"/>
							<ul ng-show="showSectionList"
								style="position: absolute;top: 100%;left: 0;transition: height .2s;z-index: 100;width: 100%;border: 1px solid #999999;border-top: none"
								ng-click="selectSectionId($event.target.dataset.value)">
								<li ng-show="sectionList.length===0"
									style="cursor: not-allowed;padding: 4px 10px;width: 100%;">暂无匹配项
								</li>
								<li ng-repeat="item in sectionList" data-value="{{item}}"
									class="select-list-item">{{item}}
								</li>
							</ul>
						</div>
                        <!--<label class="near n"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">断面</font></font></label>-->
						<!--<select ng-model="section1"  ng-change="getSectionChange()" class="form-control select-short" style="width: 160px;z-index: 0;">-->
							<!--<option value="">请选择</option>-->
							<!--<option value="{{item.name}}" ng-repeat="item in nameOption">{{item.name}}</option>-->
						<!--</select>-->
                    </div>
                    <div class="input-group form-item" >
						<label>河流</label>
						<div style="position: relative;display: inline-block;">
							<input class="form-control input-short-o" placeholder="河流名称"
								   style="width: 100%" ng-blur="showRiverList=false" ng-model="riverName1"
								   ng-change="searchRiverList()"/>
							<ul ng-show="showRiverList"
								style="position: absolute;top: 100%;left: 0;transition: height .2s;z-index: 100;width: 100%;border: 1px solid #999999;border-top: none"
								ng-click="selectRiverId($event.target.dataset.value)">
								<li ng-show="riverList.length===0"
									style="cursor: not-allowed;padding: 4px 10px;width: 100%;">暂无匹配项
								</li>
								<li ng-repeat="item in riverList" data-value="{{item}}"
									class="select-list-item">{{item}}
								</li>
							</ul>
						</div>
                        <!--<label class="near n"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">河流</font></font></label>-->
        				<!--<select ng-model="riverName1" ng-change="getRiverChange()" class="form-control select-short" style="width: 160px;z-index: 0;">-->
							<!--<option value="">请选择</option>-->
							<!--<option value="{{item.riverName}}" ng-repeat="item in riverOption">{{item.riverName}}</option>-->
						<!--</select>						-->
                    </div>                    
    				<div class="input-group">
	                    <button class="btn btn-primary" ng-click="search()">
	                    	<i class="fa fa-search"></i>搜索
	                    </button>
                   </div>
					<div class="form-item" style="float: right;: right;height: 34px;">
						<button type="button" class="btn btn-primary" ng-click="add()" ng-if="num == 1">新增条目</button>
						<input type="file" class="hidden" id="J-attandUploader" ng-model="attandUrl" onchange="angular.element(this).scope().uploadFile(this)"/>
						<button class="btn btn-default" onclick="document.getElementById('J-attandUploader').click()" ng-if="num == 1">导入(.xls)</button>
						<!--<a class="btn btn-info" ng-if="num == 1" ng-href="http://10.0.0.196/api/download/uhope/infomation/20190109144516283_2018年12月份河道水质评分报告.xlsx" target="_blank"  class="downOrLook">下载导入模板</a>-->
						<a class="btn btn-info" ng-if="num == 1" ng-href="{{fileUrl}}/uhope/infomation/20190118094221392_20190109144516283_2018年12月份河道水质评分报告.xlsx" target="_blank"  class="downOrLook">下载导入模板</a>
					</div>


                </form>
				<div class="tab-content">
	                    <div class="tab-pane active" id="tableStatistics">
	                        <div class="table-responsive" style="margin-top: 20px;">
	                            <table class="table table-bordered table-hover">
	                                <tbody>
	                                	<tr class='tHeader'>
		                                    <th width="5%">分析编号</th>
		                                    <th width="5%">断面序号</th>
		                                    <th width="10%">断面名称</th>
		                                    <th width="10%">河流</th>
		                                    <th width="10%">采样日期</th>
		                                    <th width="10%">水温（℃）</th>	                                    
		                                    <th width="10%">总磷（mg/L）</th>	                                    
		                                    <th width="10%">氨氮（mg/L）</th>	                                    
		                                    <th width="10%">高锰酸盐指数（mg/L）</th>	                                    
		                                    <th width="10%">溶解氧（mg/L）</th>		                                    
		                                    <th width="15%" ng-if="num == 1">操作</th>
		                                </tr>
	                                	<tr ng-repeat="item in detailList">
											<td>{{$index + 1 + (paginationConf.currentPage-1)*paginationConf.itemsPerPage}}</td>
											<td>{{item.oldCode}}</td>
		                                    <td>{{item.name}}</td>
		                                    <td>{{item.riverName}}</td>
		                                    <td>{{item.samplingTime}}</td>
		                                    <td>{{item.water_temperature}}</td>
		                                    <td>{{item.total_phosphorus}}</td>
		                                    <td>{{item.ammonia_nitrogen}}</td>
		                                    <td>{{item.permanganate_index}}</td>
		                                    <td>{{item.dO}}</td>
											<td ng-if="num == 1">
												<button type="button" class="btn btn-primary btn-sm" ng-if="status !=0" ng-click="edit(item)">修改</button>
												<button type="button" class="btn btn-danger btn-sm"  ng-if="status !=0" ng-click="delete(item.id)">删除</button>
											</td>
		                                </tr>		                                
	                            	</tbody>
	                            </table>
	                			<tm-pagination conf="paginationConf"></tm-pagination>
	                        </div>
	                    </div>
	                    <div class="tab-pane" id="chartStatistics">
	                        <div id="patrolChart" class="tj-chart-con"></div>
	                    </div>
	                </div>
	        	
    		</div>
    	</div>

    </div>
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog" style="width: 610px;">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						{{type == 1 ? "修改" : "新增"}}条目
					</h4>
				</div>
				<div class="modal-body">
					<form class="form-inline">

						<div class="input-group form-item" ng-if="type == 2">
							<label style="width: 80px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">断面名称</font></font></label>
							<select ng-model="section" ng-options="s.id as s.name for s in nameOption" ng-change="getSectionChange(section)" class="form-control select-short" style="width: 160px;">
								<option value="">请选择</option>
							</select>
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>

						<div class="form-item" ng-if="type == 2">
							<label style="width: 80px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">河流</font></font></label>
							<input type="text" class="form-control input-short" ng-model="riverName" readonly="">
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>

						<div class="form-item">
							<label style="width: 80px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">采样日期</font></font></label>
							<div class="input-group date date_picker" id="samplingTime">
								<input type="text" class="form-control input-short-o" ng-model="samplingTime">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>

						<div class="form-item">
							<label style="width: 80px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">水温(℃)</font></font></label>
							<input type="number" min="0" max="100"  class="form-control input-short" ng-model="water_temperature">
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>

						<div class="form-item">
							<label style="width: 80px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">总磷(mg/L)</font></font></label>
							<input type="number" min="0" max="100"  class="form-control input-short" ng-model="total_phosphorus">
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>

						<div class="form-item">
							<label style="width: 80px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">氨氮(mg/L)</font></font></label>
							<input type="number" min="0" max="100"  class="form-control input-short" ng-model="ammonia_nitrogen">
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>

						<div class="form-item">
							<label style="width: 80px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">高锰酸盐指数(mg/L)</font></font></label>
							<input type="number" min="0" max="100"  class="form-control input-short" ng-model="permanganate_index">
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>

						<div class="form-item">
							<label style="width: 80px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">溶解氧(mg/L)</font></font></label>
							<input type="number" min="0" max="100"  class="form-control input-short" ng-model="DO">
							<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="save()">保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
				</div>
			</div>
		</div>
	</div>


</div>

