<div ng-controller="drainageAddCtrl">
	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3">流域新增</h1>
	</div>
	<div class="wrapper-md">
		<div class="panel panel-default m-all-0">
			<div class="panel-body">
				<form id="catManageAddForm" class="form-inline" method="get" novalidate="novalidate">
					<div class="form-item">
						<label>流域名称</label>
						<input type="text" class="form-control input-short" ng-model="basinName" lay-verify="required"
                               ng-blur="isRepeat()"/>
                        <span class="required">*</span>
					</div>
					<br/>
					<div class="form-item">
						<label>备注</label>
						<textarea class="form-control textarea-long" ng-model="reMark" rows="4" maxlength="512"></textarea>
					</div>
					<br/>
					<div class="form-item">
						<label>概述</label>
					</div>
					<div id="editor">
					</div>
				</form>
			</div>
			<div class="panel-footer m-b-10">
				<div class="btn-box">
					<button type="submit" class="btn btn-primary" ng-click="submit()">
						<i class="fa fa-plus"></i>确定
					</button>
					<button type="submit" class="btn btn-default" ng-click="back()">
						<i class="fa fa-reply"></i>返回
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var ue =  CKEDITOR.replace( 'editor' );
    CKEDITOR.instances.editor.setData(" ");
</script>