<div ng-controller="drainageCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">流域管理</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default m-all-0">
            <div class="panel-body">
                <form class="form-inline" method="get">
                    <div class="form-item">
                        <label>流域名称</label>
                        <input type="text" class="form-control input-short" ng-model="basinName"/>
                    </div>
                    <!--
                    	作者：jery_vip@163.com
                    	时间：2018-01-23
                    	描述：测试 ONE
                    -->
                    <!--<div class="form-item">-->
                        <!--<label>流水河湖库</label>-->
                        <!--<input ng-model="belongWater_one" type="text" class="form-control input-short-o" ng-click="show_one()">-->
						<!--<a class="input-group-addon" ng-click="show_one()"><i class="fa fa-search"></i></a>-->
                    <!--</div>-->
                      <!--
                    	作者：jery_vip@163.com
                    	时间：2018-01-23
                    	描述：测试END
                    -->
                    <!--
                    	作者：jery_vip@163.com
                    	时间：2018-01-23
                    	描述：测试 TWO
                    -->
                    <!--<div class="form-item">-->
                        <!--<label>流水河湖库段</label>-->
                        <!--<input ng-model="belongWater_two" type="text" class="form-control input-short-o" ng-click="show_two()">-->
						<!--<a class="input-group-addon" ng-click="show_two()"><i class="fa fa-search"></i></a>-->
                    <!--</div>-->
                      <!--
                    	作者：jery_vip@163.com
                    	时间：2018-01-23
                    	描述：测试END
                    -->
                    <!--
                    	作者：jery_vip@163.com
                    	时间：2018-01-23
                    	描述：测试 THREE
                    -->
                    <!--<div class="form-item">-->
                        <!--<label>流水段</label>-->
                        <!--<input ng-model="belongWater_three" type="text" class="form-control input-short-o" ng-click="show_three()">-->
						<!--<a class="input-group-addon" ng-click="show_three()"><i class="fa fa-search"></i></a>-->
                    <!--</div>-->
                      <!--
                    	作者：jery_vip@163.com
                    	时间：2018-01-23
                    	描述：测试END
                    -->
                    <!--
                    	作者：jery_vip@163.com
                    	时间：2018-01-23
                    	描述：测试 FOUR
                    -->
                    <!--<div class="form-item">-->
                        <!--<label>流水</label>-->
                        <!--<input ng-model="belongWater_four" type="text" class="form-control input-short-o" ng-click="show_four()">-->
						<!--<a class="input-group-addon" ng-click="show_four()"><i class="fa fa-search"></i></a>-->
                    <!--</div>-->
                      <!--
                    	作者：jery_vip@163.com
                    	时间：2018-01-23
                    	描述：测试END
                    -->
                    
                    <button type="submit" class="btn btn-primary" ng-click="find()">
                        <i class="fa fa-search"></i>搜索
                    </button>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="table-bar">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="drainageAdd()">
                            <i class="fa fa-plus"></i>新增
                        </button>
                    </div>
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th class="wid-5">序号</th>
                            <th class="wid-25">流域名称</th>
                            <th class="wid-25">流域编码</th>
                            <th class="wid-15">概述</th>
                            <th class="wid-10">备注</th>
                            <th class="wid-30">操作</th>
                        </tr>
                        <tr ng-repeat="module in moduleList" ng-init="index=$index+1">
							<!--<td ng-class-odd="'active'" ng-class-even="'bg-FFF">{{index + (paginationConf.currentPage-1)*paginationConf.itemsPerPage}}</td>-->
                            <td ng-class-odd="'active'" ng-class-even="'bg-FFF'">{{index + (paginationConf.currentPage-1)*paginationConf.itemsPerPage}}</td>
                            <td ng-class-odd="'active'" ng-class-even="'bg-FFF'">{{module.basinName}}</td>
                            <td ng-class-odd="'active'" ng-class-even="'bg-FFF'">{{module.basinCode}}</td>
                            <td ng-class-odd="'active'" ng-class-even="'bg-FFF'"><a ng-click="overView(module.id)">查看详情</a></td>
                            <td ng-class-odd="'active'" ng-class-even="'bg-FFF'">{{module.remark}}</td>
                            <td ng-class-odd="'active'" ng-class-even="'bg-FFF'" class="td-tool">
                            	<a class="btn btn-primary btn-xs" ng-click="moveUp(module.id)"  ng-if="moveIcon"><i class="fa fa-chevron-up" title="上移"></i></a>
                            	<a class="btn btn-primary btn-xs" ng-click="moveDown(module.id)" ng-if="moveIcon"><i class="fa fa-chevron-down" title="下移"></i></a>
                                <a class="btn btn-primary btn-xs" ng-click="drainageDetail(module.id)"><i class="fa fa-info" title="详细"></i></a>
                                <a class="btn btn-primary btn-xs" ng-click="drainageEdit(module.id)"><i class="fa fa-edit" title="修改"></i></a>
                                <a class="btn btn-primary btn-xs" ng-click="moduleDelete(module.id,module.name);"><i class="fa fa-trash-o" title="删除"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
    <!--描述：查看详情-->
	<div class="modal fade" id="overViewBox"  role="dialog_region" data-backdrop="static">
		<div class="modal-dialog water_dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">概述</h4>
				</div>
				<div class="modal-body" style="overflow: hidden;">
					<div id="ckeditorDetail">
						<div ng-bind-html="detailContent|trustHtml"></div>
					</div>
					<script>
						var ckeditorDetail = document.getElementById( 'ckeditorDetail' );
						ckeditorDetail.setAttribute( 'contenteditable', false );
					</script>
				</div>
				<div class="modal-footer">
					<a href="javascript:;" class="btn btn-primary btn-o"  data-dismiss="modal">
						<i class="fa fa-check"></i>
						<span>确 定</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--
    	作者：jery_vip@163.com
    	时间：2018-01-23
    	描述：TEST-ONE
    -->
    <!--<div class="modal fade" id="myModal_ztree_one"  role="dialog" data-backdrop="static">-->
		<!--<div class="modal-dialog water_dialog" role="document">-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-header">-->
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
					<!--<h4 class="modal-title" id="myModalLabel">选择水系</h4>-->
				<!--</div>-->
				<!--<div class="modal-body">-->
					<!--<div class="input-group">-->
				        <!--<input type="text" ng-model="waterName_one" class="form-control" placeholder="请输入水系名称">-->
				        <!--<span class="input-group-btn">-->
				        	<!--<button class="btn btn-default" type="button" ng-click="select_one()">查询</button>-->
				        <!--</span>-->
				    <!--</div>-->
					<!--<ul id="regionTree_one" class="ztree ztree_box_modal"></ul>-->
				<!--</div>-->
				<!--<div class="modal-footer text-l">-->
					<!--<a href="javascript:;" class="btn btn-primary btn-o" ng-click="modalOk_one()">-->
						<!--<i class="fa fa-check"></i>-->
						<!--<span>确 定</span>-->
					<!--</a>-->
					<!--&lt;!&ndash;<a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">-->
						<!--<i class="fa fa-reply"></i>-->
						<!--<span>关闭</span>-->
					<!--</a>&ndash;&gt;-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash;-->
    	<!--作者：jery_vip@163.com-->
    	<!--时间：2018-01-23-->
    	<!--描述：TEST END-->
    <!--&ndash;&gt;-->
    <!---->
    	<!--&lt;!&ndash;-->
    	<!--作者：jery_vip@163.com-->
    	<!--时间：2018-01-23-->
    	<!--描述：TEST-TWO-->
    <!--&ndash;&gt;-->
    <!--<div class="modal fade" id="myModal_ztree_two"  role="dialog" data-backdrop="static">-->
		<!--<div class="modal-dialog water_dialog" role="document">-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-header">-->
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
					<!--<h4 class="modal-title" id="myModalLabel">选择水系</h4>-->
				<!--</div>-->
				<!--<div class="modal-body">-->
					<!--<div class="input-group">-->
				        <!--<input type="text" ng-model="waterName_two" class="form-control" placeholder="请输入水系名称">-->
				        <!--<span class="input-group-btn">-->
				        	<!--<button class="btn btn-default" type="button" ng-click="select_two()">查询</button>-->
				        <!--</span>-->
				    <!--</div>-->
					<!--<ul id="regionTree_two" class="ztree ztree_box_modal"></ul>-->
				<!--</div>-->
				<!--<div class="modal-footer text-l">-->
					<!--<a href="javascript:;" class="btn btn-primary btn-o" ng-click="modalOk_two()">-->
						<!--<i class="fa fa-check"></i>-->
						<!--<span>确 定</span>-->
					<!--</a>-->
					<!--&lt;!&ndash;<a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">-->
						<!--<i class="fa fa-reply"></i>-->
						<!--<span>关闭</span>-->
					<!--</a>&ndash;&gt;-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash;-->
    	<!--作者：jery_vip@163.com-->
    	<!--时间：2018-01-23-->
    	<!--描述：TEST END-->
    <!--&ndash;&gt;-->
    <!---->
    	<!--&lt;!&ndash;-->
    	<!--作者：jery_vip@163.com-->
    	<!--时间：2018-01-23-->
    	<!--描述：TEST-THREE-->
    <!--&ndash;&gt;-->
    <!--<div class="modal fade" id="myModal_ztree_three"  role="dialog" data-backdrop="static">-->
		<!--<div class="modal-dialog water_dialog" role="document">-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-header">-->
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
					<!--<h4 class="modal-title" id="myModalLabel">选择水系</h4>-->
				<!--</div>-->
				<!--<div class="modal-body">-->
					<!--<div class="input-group">-->
				        <!--<input type="text" ng-model="waterName_three" class="form-control" placeholder="请输入水系名称">-->
				        <!--<span class="input-group-btn">-->
				        	<!--<button class="btn btn-default" type="button" ng-click="select_three()">查询</button>-->
				        <!--</span>-->
				    <!--</div>-->
					<!--<ul id="regionTree_three" class="ztree ztree_box_modal"></ul>-->
				<!--</div>-->
				<!--<div class="modal-footer text-l">-->
					<!--<a href="javascript:;" class="btn btn-primary btn-o" ng-click="modalOk_three()">-->
						<!--<i class="fa fa-check"></i>-->
						<!--<span>确 定</span>-->
					<!--</a>-->
					<!--&lt;!&ndash;<a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">-->
						<!--<i class="fa fa-reply"></i>-->
						<!--<span>关闭</span>-->
					<!--</a>&ndash;&gt;-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash;-->
    	<!--作者：jery_vip@163.com-->
    	<!--时间：2018-01-23-->
    	<!--描述：TEST END-->
    <!--&ndash;&gt;-->
    <!---->
    	<!--&lt;!&ndash;-->
    	<!--作者：jery_vip@163.com-->
    	<!--时间：2018-01-23-->
    	<!--描述：TEST-FOUR-->
    <!--&ndash;&gt;-->
    <!--<div class="modal fade" id="myModal_ztree_four"  role="dialog" data-backdrop="static">-->
		<!--<div class="modal-dialog water_dialog" role="document">-->
			<!--<div class="modal-content">-->
				<!--<div class="modal-header">-->
					<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
					<!--<h4 class="modal-title" id="myModalLabel">选择水系</h4>-->
				<!--</div>-->
				<!--<div class="modal-body">-->
					<!--<div class="input-group">-->
				        <!--<input type="text" ng-model="waterName_four" class="form-control" placeholder="请输入水系名称">-->
				        <!--<span class="input-group-btn">-->
				        	<!--<button class="btn btn-default" type="button" ng-click="select_three()">查询</button>-->
				        <!--</span>-->
				    <!--</div>-->
					<!--<ul id="regionTree_four" class="ztree ztree_box_modal"></ul>-->
				<!--</div>-->
				<!--<div class="modal-footer text-l">-->
					<!--<a href="javascript:;" class="btn btn-primary btn-o" ng-click="modalOk_four()">-->
						<!--<i class="fa fa-check"></i>-->
						<!--<span>确 定</span>-->
					<!--</a>-->
					<!--&lt;!&ndash;<a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">-->
						<!--<i class="fa fa-reply"></i>-->
						<!--<span>关闭</span>-->
					<!--</a>&ndash;&gt;-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--
    	作者：jery_vip@163.com
    	时间：2018-01-23
    	描述：TEST END
    -->
</div>
<!-- zTree_V3 -->
<script src="vendor/zTree_v3/js/jquery.ztree.core.js"></script> 
<script src="vendor/zTree_v3/js/jquery.ztree.excheck.js"></script> 
