<div class="conferenceCtrl" ng-controller="townStreetCtrl" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">镇街制度执行情况</span><span class="tag-right"></span>
            </div>

        </div>
        <div class="panel panel-default m-all-0">
            <div class="panel-body">
                <form method="get">
                    <div class="form-inline">
                        <div class="form-item">
                            <label>开始时间</label>
                            <div class="input-group date date_picker" id="startTime">
                                <input type="text" class="form-control input-short-o" ng-model="startTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>结束时间</label>
                            <div class="input-group date date_picker" id="endTime">
                                <input type="text" class="form-control input-short-o" ng-model="endTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>报送区域</label>
                            <input ng-model="regionName" type="text" class="form-control input-short-o" readonly="readonly" ng-click="getRegionShow()">
                            <a class="input-group-addon" ng-click="getRegionShow()"><i class="fa fa-search"></i></a>
                        </div>
                        <div class="form-item">
                            <label>制度类型</label>
                            <select class="form-control select-short" ng-model="status">
                                <option value="">全部</option>
                                <option value="1">工作督查制度</option>
                                <option value="2">考核问责与激励制度</option>
                                <option value="3">验收制度</option>
                            </select>
                        </div>
                        <button type="submit" ng-click="searchData()" class="btn btn-primary">
                            <i class="fa fa-search"></i>搜索
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="reset()" style="margin: 0 5px;">
                            <i class="fa fa-refresh"></i>重置
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="form-inline">
                        <div class="input-group fr">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="add()" ng-if="num == 5" style="margin: 0 5px;">
                                <i class="fa fa-pie-chart"></i> 新增
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" ng-click="download()">
                                <i class="fa fa-download"></i> 导出
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover" data-filter="#filter">
                        <tr>
                            <th style="width: 5%;">序号</th>
                            <th style="width: 15%">行政区域</th>
                            <th style="width: 10%">行政区域级别</th>
                            <th style="width: 10%">信息共享&报送制度</th>
                            <th style="width: 10%">报送日期</th>
                            <th style="width: 10%">执行情况</th>
                            <th style="width: 10%">报送状态</th>
                            <th style="width: 15%">操作</th>
                        </tr>
                        <tr ng-repeat="module in moduleList" style="cursor:pointer;">
                            <td>{{$index+1}}</td>
                            <td>{{module.administrationRegion}}</td>
                            <td>{{module.administrationLevel}}</td>
                            <td>
                                <span ng-if="module.informationSystem == 1">工作督查制度</span>
                                <span ng-if="module.informationSystem == 2">考核问责与激励制度</span>
                                <span ng-if="module.informationSystem == 3">验收制度</span>
                            </td>
                            <td>{{module.sentTime}}</td>
                            <td>{{module.executeCircumstance}}</td>
                            <td>
                                <span ng-if="module.sentState == 1" class="label label-danger">已上报</span>
                                <span ng-if="module.sentState == 2" class="label label-success">未上报</span>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" ng-click="view(module.id)"><i class="fa fa-info" title="查看"></i></a>
                                <a class="btn btn-primary btn-xs" ng-click="report(module.id)" ng-if="num == 5 && module.sentState == 2"><i class="fa fa-level-up" title="上报"></i></a>
                                <a class="btn btn-primary btn-xs" ng-click="delete(module.id)"><i class="fa fa-trash-o" title="删除"></i></a>
                            </td>
                        </tr>
                    </table>

                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>

        <!--描述：所属区域树-->
        <div class="modal fade" id="regionTreeModal" role="dialog_region" data-backdrop="static" style="z-index: 99999;">
            <div class="modal-dialog modal-jm " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">选择区域</h4>
                    </div>
                    <div class="modal-body">

                        <ul id="regionTreeContainer" class="ztree regionTreeContent"></ul>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getModalOk()">
                            <i class="fa fa-check"></i>
                            <span>确 定</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 镇街制度执行情况add（Modal） -->
        <div class="modal fade" id="addMyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeAddModal()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="addMyModalLabel1">
                            新增镇街制度执行情况
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">
                            <div class="form-item">
                                <label>制度类型</label>
                                <select class="form-control select-short" ng-model="informationSystem">
                                    <option value="">请选择</option>
                                    <option value="1">工作督查制度</option>
                                    <option value="2">考核问责与激励制度</option>
                                    <option value="3">验收制度</option>
                                </select>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">执行情况</font></font></label>
                                <textarea class="form-control" rows="3"  ng-model="executeCircumstance"></textarea>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">备注</font></font></label>
                                <textarea class="form-control" rows="3"  ng-model="remark"></textarea>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">附件</font></font></label>
                                <button class="btn btn-info" ng-click="getUploadFile()"><i
                                        class="fa fa-css3"></i>上传附件
                                </button>
                            </div>
                            <!--<div class="form-item" style="position: relative;top: -44px;left: 90px;width: 446px;">-->
                            <!--<span ng-repeat="item in fileUrlList" style="color: #3189e1;cursor: pointer;margin: 8px 10px;" ng-click="viewFile(item)">{{item}}</span>-->
                            <!--</div>-->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="save(1)">保存</button>
                        <button type="button" class="btn btn-primary" ng-click="save(2)">确认上报</button>
                        <button type="button" class="btn btn-primary" ng-click="closeAddModal()">取消</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 查看镇街制度情况详情（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            镇街制度执行情况详情
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline">

                            <div class="form-item">
                                <label>制度类型</label>
                                <select class="form-control select-short" disabled ng-model="detailData.informationSystem">
                                    <option value="">全部</option>
                                    <option value="1">工作督查制度</option>
                                    <option value="2">考核问责与激励制度</option>
                                    <option value="3">验收制度</option>
                                </select>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">执行情况</font></font></label>
                                <textarea class="form-control" rows="3" readonly ng-model="detailData.executeCircumstance"></textarea>
                            </div>
                            <div class="form-item" ng-if="detailData.fileList.length != 0">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">附件</font></font></label>
                            </div>
                            <div class="form-item" style="position: relative;left: -20px;width: 446px;">
                                <span ng-repeat="item in accessoryURL" style="color: #333;cursor: pointer;margin: 8px 10px;" ng-click="downFile(item.previewURL)">{{item.name}}
                                   <span style="color: #3189e1;" ng-click="downFile(item.downloadURL)">下载</span>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>


        <!--附件上传-->
        <div class="modal fade" id="coverModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <li class="fa fa-remove"></li>
                        </button>
                        <h4>上传附件</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="wid-100 announcementCoverPanel">
                                    <input class="uploadfile" id="problemFile" type="file" name="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    .
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getUpload()">
                            <i class="fa fa-check"></i>
                            <span>确定</span>
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">
                            <i class="fa fa-reply"></i>
                            <span>取消</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".uploadfile").fileinput({
        allowedFileExtensions: [],
        uploadAsync: true, //默认异步上传
        showRemove: true, //显示移除按钮
        maxFileCount: 5, //表示允许同时上传的最大文件个数
        language: 'zh', //设置语言
        uploadUrl: '#', //上传的地址
        showUpload: false, //显示批量上传按钮
        showCaption: true, //是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        showPreview: true, //是否显示预览
        dropZoneEnabled: true, //是否显示拖拽区域
        validateInitialCount: true,
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
</script>