<div class="conferenceCtrl chouchadudao anchaanfang" ng-controller="patrolMgtCtrl" ng-init="init()">

    <div class="wrapper-md">
		<div class="panel panel-default m-n">
			<div class="panel-body" style="position: relative;">
				<span class="tag">巡查管理</span><span class="tag-right"></span>
			</div>
		</div>

        <div class="panel panel-default m-all-0">
			<div class="panel-body">
				<form class="form-patrolMgt form-inline" method="get">
                    <div class="form-item">
                        <label>所属区域</label>
                        <select ng-model="regionName" id="region" ng-change="getChangeRegion(regionName)" class="form-control select-short">
                            <option value="">请选择</option>
                            <option value="{{item.areaCode}}" ng-repeat="item in regionList">{{item.areaName}}</option>
                        </select>
                    </div>
					<div class="form-item">
						<label>河湖</label>
                        <select ng-model="riverName" id="river" ng-change="getChangeRiver(riverName)" class="form-control select-short">
                            <option value="">请选择</option>
                            <option value="{{item.reachCode}}" ng-repeat="item in riverList">{{item.reachName}}</option>
                        </select>
					</div>
					<div class="form-item">
                        <label>河段</label>
                        <select ng-model="reachName" id="reach" class="form-control select-short">
                        	<option value="">请选择</option>
                            <option value="{{item.reachCode}}" ng-repeat="item in reachList">{{item.reachName}}</option>
                        </select>
                    </div>
					<div class="form-item">
	                    <label>开始日期</label>
	                    <div class="input-group date date_picker date-tj" id="beginTime">
	                        <input type="text" class="form-control input-short-o" ng-model="beginTime" />
	                        <span class="input-group-addon">
	                            <i class="fa fa-calendar"></i>
	                        </span>
	                    </div>
	                </div>
	                <div class="form-item">
	                    <label>结束日期</label>
	                    <div class="input-group date date_picker date-tj" id="endTime">
	                        <input type="text" class="form-control input-short-o" ng-model="endTime" />
	                        <span class="input-group-addon">
	                            <i class="fa fa-calendar"></i>
	                        </span>
	                    </div>
	                </div>
					<div class="form-item">
						<label>考核单位</label>
						<select ng-model="unitName" class="form-control select-short">
							<option value="">请选择</option>
                            <option value="{{item.dict_name}}" ng-repeat="item in unitList">{{item.dict_name}}</option>
                        </select>
					</div>
					<button type="submit" class="btn btn-primary" ng-click="getMdSearch()">
                        <i class="fa fa-search"></i>搜索
                    </button>
					<button type="button" class="btn btn-primary m-l-15" ng-click="getReSet()">
                        <i class="fa fa-refresh"></i>重置
                    </button>
				</form>
			</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive table-jm">
					<table class="table table-bordered table-hover table-patrolMgt" data-filter="#filter">
						<thead>
							<tr>
								<th class="wid-5">序号</th>
								<th class="wid-10">区域</th>
								<th class="wid-10">河湖名称</th>
								<th class="wid-10">河段</th>
								<th class="wid-10">巡查日期</th>
								<th class="wid-10">巡查里程(m)</th>
								<th class="wid-15">考核单位</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="module in moduleList" ng-init="index=$index+1">
								<td>{{index}}</td>
								<td>{{module.regionId}}</td>
								<td>{{module.riverId}}</td>
								<td>{{module.reachId}}</td>
								<td>{{module.patrolDate}}</td>
								<td>{{module.mileage.toFixed(3)}}</td>
								<td>{{module.unit}}</td>
								<td class="td-tool">
                                    <a class="btn btn-primary btn-xs" ng-click="getRiverPatrolLocus(module)">
                                        <i class="fa fa-align-left" title="巡查轨迹"></i>
                                    </a>
									<a class="btn btn-primary btn-xs" ng-click="getHydrologicDetail(module.id)">
										<i class="fa fa-info" title="问题列表"></i>
									</a>
                                    <a class="btn btn-primary btn-xs" ng-click="edit(module.id)">
                                        <i class="fa fa-pencil" title="修改"></i>
                                    </a>
									<a class="btn btn-primary btn-xs" ng-click="getHydrologicDelete(module.id)">
										<i class="fa fa-trash-o" title="删除"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
    </div>

    <div class="modal fade" id="riverPatrolLocus" tabindex="-1">
        <div class="modal-dialog modal-twoCol" role="document" style="width: 850px">
            <div class="modal-content" style="height: 600px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">巡查轨迹</h4>
                </div>
                <div class="modal-body" id="map" style="height: 480px;">
                    <div id="topData">
                        <span><b>区域</b>:{{topData.regionId}} </span>
                        <span><b>河湖</b>: {{topData.riverId}}</span>
                        <span><b>巡查时间</b>: {{topData.patrolDate}}</span>
                        <span><b>里程</b>: {{topData.mileage.toFixed(3)}}米</span>
                        <span><b>考核单位</b>: {{topData.unit}}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 修改巡查模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel1">
                        巡查详情
                    </h4>
                </div>
                <div class="modal-body" style="height: 350px;">
                    <form class="form-inline">
                        <div class="input-group form-item" style="z-index: 12;">
                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">巡查区域</font></font></label>
                            <select id="slpkRegion" class="form-control selectpicker" multiple data-size="8"  style="width: 426px;z-index: 0;" ng-model="sentRegion" ng-change="getChangeRegionlistener(sentRegion)">
                            </select>
                        </div>
                        <div class="input-group form-item" style="z-index: 11;">
                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">巡查河湖</font></font></label>
                            <select id="slpkRiver" class="form-control selectpicker selectpicker1" multiple data-size="8"  style="width: 426px;z-index: 0;" ng-model="sentRiver">
                            </select>
                        </div>
                        <div class="form-item">
                            <label>开始日期</label>
                            <div class="input-group date date_picker date-tj">
                                <input type="text" class="form-control input-short-o" readonly ng-model="patrolDetail.patrolDate" style="width: 163px;"/>
	                        </span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>结束日期</label>
                            <div class="input-group date date_picker date-tj">
                                <input type="text" class="form-control input-short-o" readonly ng-model="patrolDetail.endTime" style="width: 163px;"/>
	                        </span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">巡查时长</font></font></label>
                            <input type="text" class="form-control input-short" readonly ng-model="patrolDetail.allTime">分钟
                        </div>
                        <div class="form-item">
                            <label><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">巡查里程</font></font></label>
                            <input type="text" class="form-control input-short" readonly ng-model="patrolDetail.mileage">公里
                        </div>
                        <div class="form-item">
                            <label><font style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">巡查员</font></font></label>
                            <input type="text" class="form-control input-long" readonly ng-model="patrolDetail.userId" >
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="save()">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
                </div>
            </div>
        </div>
    </div>





</div>
