<div ng-controller="patrolDetailMgtCtrl" ng-init="init()">

    <div class="wrapper-md">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">巡查详情</span><span class="tag-right"></span>
            </div>
        </div>
        <div class="panel panel-default m-all-0">
            <div class="panel-body">
                <div class="panel-content">
                    <div class="patrolDetailContent">
                        <div class="form-item">
                            <label>河道名称：</label>
                            <span ng-bind="problemList.riverName"></span>
                        </div>
                        <div class="form-item">
                            <label>行政区域：</label>
                            <span ng-bind="problemList.region"></span>
                        </div>
                        <br />
                        <div class="form-item">
                            <label>河道问题：</label>
                            <span ng-bind="problemList.riverQuestion"></span>
                        </div>
                        <br />
                        <div class="form-item">
                            <label>扣分类型：</label>
                            <span ng-bind="problemList.typeName"></span>
                        </div>
                        <br />
                        <div class="form-item">
                            <label>所扣分数：</label>
                            <span ng-bind="problemList.buckleScores"></span>
                        </div>
                        <div class="form-item">
                            <label>巡查人员：</label>
                            <span ng-bind="problemList.patorPerson"></span>
                        </div>
                        <br />
                        <div class="form-item">
                            <label>巡查日期：</label>
                            <span ng-bind="problemList.patrolDate"></span>
                        </div>
                        <div class="form-item">
                            <label>所在位置：</label>
                            <span ng-bind="problemList.location"></span>
                        </div>
                        <br />
                        <div class="form-item">
                            <label>问题照片：</label>
                            <div id="layer-photos-before" class="layer-photos-demo" style="margin-left: 30px;">
                                <div style="display: inline-block;" id="layer-photos-check">
                                    <img style="margin: 0 5px;" ng-repeat="items in imgUrl"
                                         layer-pid="" layer-src="{{fileUrl}}{{items}}"
                                         src="{{fileUrl}}{{items}}" alt="问题照片" width="100px"
                                         height="100px" key="{{$index}}">
                                </div>
                                <img ng-show="mp3Url.length > 0" ng-repeat="item in mp3Url"
                                     style=" float: left; margin: 0 5px;width:60px; height:60px;}"
                                     src="img/music_img.png" ng-click="playAudio(item)" alt="巡河录音">
                                <img ng-show="mp4Url.length > 0" ng-repeat="item in mp4Url"
                                     style="float: left;margin: 0 5px;width:60px; height:60px;}" src="img/audio_img.png"
                                     ng-click="playVideo(item)"  alt="巡河视频">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="videoBox"
                 style="position: absolute!important;;z-index: 99998!important;;left: 30%;top: 30%;display: none;background-color: #333;padding: 30px;">
            <span style="position: absolute;z-index: 9991;top: 10px;right: 10px;color: #fff;padding: 2px 8px;cursor: pointer;"
                  ng-click="closePlayer()">关闭</span>
                <div id="videoPlayerBox">
                    <video id="my-player" class="video-js" controls preload="auto" data-setup='{}'>
                        <source class="source" src="" type="video/mp4"></source>
                    </video>
                </div>
                <div id="audioPlayer">
                    <audio controls src="" autoplay="true"></audio>
                </div>
            </div>

            <div id="openImg"
                 style="position: absolute!important;;z-index: 99998!important;display: none;top: 0;left: 0;width: 100%;height: 100%;">
                <img src="" style="height: 50%;left: 30%;position: absolute;top: 20%; z-index: 100000">
                <a ng-click="closeImg()" style="position: absolute; top: 15px; right: 15px; width: 30px; height: 30px; color: #fff; font-size: 20px;
    z-index: 100000; text-align: center; line-height: 30px;"><i class="fa fa-close"></i></a>
                <div id="imgShade" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: #000; opacity: 0.9"></div>

            </div>
            <div class="panel-footer m-b-10">
                <div class="btn-box">
                    <button type="submit" class="btn btn-default" ng-click="getBack()">
                        <i class="fa fa-reply"></i>返回
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //调用示例
    layui.use('layer', function () {
        layer.photos({
            photos: '#layer-photos-check',
            anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    });

</script>