<div class="aside-wrap">

    <div class="navi-wrap aside-main">
        <nav ui-nav ng-include="'tpl/blocks/nav.html'"></nav>
    </div>


    <!--<ul class="aside-main">
        <li ng-repeat="menu in appConfig">
            <a href="" ng-click="getSecondMenu($index,menu.seqId);" ui-sref="app.index({param:'1_'+menu.seqId})"
               ng-class="{'active' : menu.selected, '' : !menu.selected}">
                <i class="{{menu.icon}}"></i><label>{{menu.name}}</label>
            </a>
        </li>
    </ul>-->

</div>