<div class="anchaanfang" ng-controller="anchaanfangAddCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">暗查暗访</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">{{!id ? '新增' : '编辑'}}任务</span><span class="tag-right"></span>
        	</div>
        </div>
    	<div class="panel panel-default">
    		<div class="panel-body">
				<form class="form-inline">
					<div class="form-item" >
                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">标题</font></font></label>
                        <input type="text" class="form-control input-short" ng-model="title">
                        <span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                    </div>
					<div class="input-group date date_picker form-item" id="J-searchTime">
						<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查日期</font></font></label>
						<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
					</div>
	                <br />
					<div class="input-group form-item" style="z-index: 10;">
						<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查区域</font></font></label>
						<select ng-model="region" id="slpk" class="form-control select-short selectpicker" multiple style="width: 160px;" ng-change="getChangeRegion()">
						</select>
						<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
					</div>
					<div class="input-group form-item" style="z-index: 9;">
                        <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查河道</font></font></label>
        				<select ng-model="reach" id="slpkRiver" class="form-control select-short selectpicker1 selectpicker" multiple data-live-search="true" style="width: 160px;">
                        </select>
						<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
					</div>
	                <br />
					<div class="input-group form-item">
						<label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">下发人员</font></font></label>
						<select ng-model="personnel" id="slpk2" class="form-control select-short selectpicker2 selectpicker" multiple style="width: 160px;">
						</select>

						<span class="required"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
					</div>
				</form>
				<div style="text-align: left;margin: 35px 0;">
	                <button type="button" class="btn btn-primary" style="margin: 0 50px;" ng-click="submit()" >确认</button>
                    <button type="button" class="btn btn-default" ng-click="back()">取消</button>
                </div>
    		</div>
    	</div>
    	
    </div>
   
</div>

