<div ng-controller="chiefDirectory" ng-init="init()">
    <div class="wrapper-md">
        <div class="panel panel-default m-all-0 border-bottom-n">
            <div class="panel-body">
                <form class="form-inline query-conditions-form" method="get">
                    <div class="form-item">
                        <label>河长姓名</label>
                        <input type="text" class="form-control input-short" ng-model="chiefName">
                    </div>
                    <div class="form-item">
                        <label>所属区域</label>
                        <input ng-model="regionName" type="text" class="form-control input-short-o" ng-click="regionShow()" readonly>
						<a class="input-group-addon" ng-click="regionShow()"><i class="icon-jx_search"></i></a>
                    </div>
                    <button type="button" class="btn btn-search" ng-click="riverSearch()">搜 索</button>
                    <button type="button" class="btn btn-reset" ng-click="reSet()">重 置</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="table-bar">
                        <button class="btn btn-primary" ng-click="chiefAdd()">
                            <i class="icon-jx_add"></i> 新增
                        </button>
                       <!--  <button class="btn btn-default">
                            <a href="#/app/index/9805804528df43cebebad36098a44a70_1_537"><i class="icon-jx_import"></i> 导入</a>
                        </button> -->
                        <button class="btn btn-default" ng-click="dataExport()">
                            <i class="icon-jx_export"></i> 导出
                        </button>
                    </div>
                    <table class="table table-bordered table-hover text-center">
                        <thead>
                            <tr>
                                <th width="90">序号</th>
                                <th>河长姓名</th>
                                <th>区域</th>
                                <th>类型</th>
                                <th>职务</th>
                                <th>联系电话</th>
                                <th>文件名称</th>
                                <th>发文机构</th>
                                <th>印发日期</th>
                                <th>公告媒体</th>
                                <th>公告日期</th>
                                <th width="180">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="module in moduleList track by $index" ng-init="index=$index+1">
    							<td>{{index + (paginationConf.currentPage-1)*paginationConf.itemsPerPage}}</td>
                                <td>{{module.name}}</td>
                                <td>{{module.regionName}}</td>
                                <td>{{module.chairmanRole == 'null' ? '' : module.chairmanRole}}</td>
                                <td>{{module.position}}</td>
                                <td>{{module.cellphone}}</td>
                                <td>{{module.doc.filename}}</td>
                                <td>{{module.doc.keywords}}</td>
                                <td>{{module.doc.createdate | limitTo:10}}</td>
                                <td>{{module.doc.remark}}</td>
                                <td>{{module.doc.effectiveTime | limitTo:10}}</td>
                                <td class="td-tool">       
                                    <a class="btn btn-primary btn-xs" ng-click="chiefDetail(module.id)" title="详细"><i class="fa fa-info"></i></a>
                                    <a class="btn btn-primary btn-xs" ng-click="chiefEdit(module.id)" title="修改"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-primary btn-xs" ng-click="chiefDelete(module.id)" title="删除"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>
    </div>
    <tree-modal modal-tree-info = "{{modalTreeInfo}}"></tree-modal>
</div>