<div class="conferenceCtrl chouchadudao anchaanfang " ng-controller="reportStatistics" ng-init="init()">
    <div class="wrapper-md">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">社会监督举报统计</span><span class="tag-right"></span>
            </div>
        </div>
        <div class="panel panel-default panel-m" style="border-top: none;">
            <div class="panel-body">
                <form class="form-inline" method="get">
                    <div class="form-item">
                        <label>行政区域</label>
                        <select class="form-control select-short" ng-model="regionName">
                            <option value="">请选择</option>
                            <option value="{{item.areaCode}}" ng-repeat="item in regionList">{{item.areaName}}</option>
                        </select>
                    </div>
                    <div class="form-item">
                        <label>开始月份</label>
                        <div class="input-group date date_picker" id="startTime">
                            <input type="text" class="form-control input-short-o" ng-model="startTime">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-item">
                        <label>结束月份</label>
                        <div class="input-group date date_picker" id="endTime">
                            <input type="text" class="form-control input-short-o" ng-model="endTime">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="search()"><i class="fa fa-search"></i>搜索</button>
                    <button type="button" class="btn btn-primary" ng-click="reset()" style="margin: 0 5px;">
                        <i class="fa fa-refresh"></i>重置
                    </button>
                    <button type="submit" class="btn btn-primary" ng-click="export()"><i class="fa fa-sign-in"></i>导出</button>


                </form>

                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr class='tHeader'>
                                        <th>行政区</th>
                                        <th>举报问题数量</th>
                                        <th>已办结数量</th>
                                        <th>未办结数量</th>
                                        <th>办结率(%)</th>
                                    </tr>
                                    <tr ng-repeat="lst in dataList" ng-init="index = $index+1" style="cursor: pointer">
                                        <td>{{lst.regionName}}</td>
                                        <td>{{lst.total}}</td>
                                        <td>{{lst.overNum}}</td>
                                        <td>{{lst.noNum}}</td>
                                        <td>{{lst.lv}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
