<div ng-controller="eventDetail" ng-init="init()" style="height: calc(100vh - 50px);">
    <div class="wrapper-md" style="position: relative;">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">问题详情</span><span class="tag-right"></span>
            </div>
        </div>
        <div class="panel panel-default m-all-0">
            <div class="panel-body">
                <div class="search-form" style="padding-right: 340px;">
                    <form class="form-inline" method="get">
                        <div class="form-item">
                            <label>问题编号</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.serialno"
                                   readonly/>
                        </div>
                        <div class="form-item">
                            <label>问题类型</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.typename"
                                   readonly/>
                        </div>
                        <div class="form-item">
                            <label>问题等级</label>
                            <input type="text" class="form-control input-short" ng-model="eventLevel" readonly/>
                        </div>
                        <div class="form-item">
                            <label>问题来源</label>
                            <input type="text" class="form-control input-short" ng-model="recource" readonly/>
                        </div>
                    </form>
                    <form class="form-inline" method="get">
                        <div class="form-item">
                            <label>问题内容</label>
                            <textarea class="form-control textarea-long" rows="4" ng-model="detailData.content"
                                      readonly></textarea>
                        </div>
                    </form>
                    <form class="form-inline" method="get">
                        <div class="form-item">
                            <label>事发地</label>
                            <input type="text" class="form-control input-long" ng-model="detailData.address" readonly/>
                        </div>
                    </form>
                    <form class="form-inline" method="get">
                        <div class="form-item">
                            <label>发现时间</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.createtime"
                                   value="2017-12-06 08:07:08"/>
                        </div>
                        <div class="form-item">
                            <label>上报人</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.reportperson"
                                   value="detailData.reportperson"
                                   readonly/>
                        </div>
                        <div class="form-item">
                            <label>上报时间</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.reporttime"
                                   value="2017-12-06 08:07:08"/>
                        </div>
                        <!--<div class="form-item">-->
                            <!--<label>联系方式</label>-->
                            <!--<input type="text" class="form-control input-short" ng-model="detailData.reportphone"-->
                                   <!--value=""/>-->
                            <!--&lt;!&ndash;<span class="required">*</span>&ndash;&gt;-->
                        <!--</div>-->
                        <!-- <div class="form-item">
                            <label>受理人员</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.acceptperson" readonly/>
                        </div>
                        <div class="form-item">
                            <label>水系名称</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.eventbasinname"/>
                        </div> -->
                        <div class="form-item">
                            <label>河流名称</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.eventrivername"/>
                        </div>
                        <div class="form-item">
                            <label>河道名称</label>
                            <input type="text" class="form-control input-short" ng-model="detailData.eventreachname"/>
                        </div>
                    </form>
                    <div class="form-inline">
                        <div class="form-item" style="min-width: 350px;">
                            <label>处理前</label>
                            <div ng-repeat="item in beforeAccessory">
                                <div id="layer-photos-before" style="float: left">
                                    <img style="margin: 0 5px;"
                                         ng-show="item.accessorytype == 1||item.accessorytype == 2"
                                         layer-src="{{eventImgUrl}}{{item.accessoryurl}}"
                                         src="{{eventImgUrl}}{{item.accessoryurl}}" alt="处理前图片" width="60px"
                                         height="60px" ng-click="openImg(item)">
                                </div>
                                <img ng-show="item.accessorytype == 3"
                                     style=" float: left; margin: 0 5px;width:60px; height:60px;}"
                                     src="img/music_img.png" ng-click="playAudio(item)" alt="巡河录音">
                                <img ng-show="item.accessorytype == 4"
                                     style="float: left;margin: 0 5px;width:60px; height:60px;}" src="img/audio_img.png"
                                     ng-click="playVideo(item)" alt="巡河视频">
                            </div>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-item" style="min-width: 350px;">
                            <label>处理后</label>
                            <div ng-repeat="item in afterAccessory">
                                <div id="layer-photos-after" style="float: left">
                                    <img style="margin: 0 5px;"
                                         ng-show="item.accessorytype == 1||item.accessorytype == 2"
                                         layer-src="{{eventImgUrl}}{{item.accessoryurl}}"
                                         src="{{eventImgUrl}}{{item.accessoryurl}}" alt="处理后图片" width="60px"
                                         height="60px" ng-click="openImg(item)">
                                </div>
                                <img ng-show="item.accessorytype == 3"
                                     style=" float: left; margin: 0 5px;width:60px; height:60px;}"
                                     src="img/music_img.png" ng-click="playAudio(item)" alt="巡河录音">
                                <img ng-show="item.accessorytype == 4"
                                     style="float: left;margin: 0 5px;width:60px; height:60px;}" src="img/audio_img.png"
                                     ng-click="playVideo(item)" alt="巡河视频">
                            </div>
                        </div>
                    </div>
                    <div class="form-item">
                        <label style="width: auto">说明:上报电话请填写手机号码或者座机号码，联系方式无限制</label>
                    </div>
                    <div class="basin_map" id="mapContainer" style="position: absolute;top: 30px;right: 30px;width: 320px;height: 240px;
                    border: 1px solid #cfdadd;
                    background: #eee;
                    z-index: 0;">
                        <!--<div class="proMgr-map-tool">
                            <ul class="drawTool">
                                <li ng-click="doDraw();">
                                    <a id="doDraw" href="javascript:void(0);" title="画面"><i class="fa fa-pencil"></i></a>
                                </li>
                                <li ng-click="clearDraw();">
                                    <a id="clearDraw" href="javascript:void(0);" title="清除"><i class="fa fa-ban"></i></a>
                                </li>
                                <li ng-click="mapExpand();">
                                    <a id="mapExpand"  href="javascript:void(0);" title="缩放"><i class="fa" ng-class="{true : 'fa-expand',false : 'fa-compress' }[switchMapIcon]"></i></a>
                                </li>
                            </ul>
                        </div>-->
                    </div>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <h4>处理状况<span class="badge">4</span></h4>
                    <table class="table table-bordered table-hover" data-filter="#filter">
                        <tr>
                            <th>到达时间</th>
                            <th>问题状态</th>
                            <th>处理人</th>
                            <th>处理内容</th>
                            <th>处理时间</th>
                            <th>处理时长(小时)</th>
                        </tr>
                        <tr ng-repeat="module in workTakeList" ng-init="index=$index+1" style="cursor:pointer;">
                            <td>{{module.taskCreateTime}}</td>
                            <td>{{module.taskName}}</td>
                            <td>{{module.handler}}</td>
                            <td>{{module.taskComment}}</td>
                            <td>{{module.taskEndTime}}</td>
                            <td>{{module.handlerTime}}</td>
                        </tr>
                    </table>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="tabs-list" id="tabs">
                        <li ng-repeat="(ind,item) in workTypeList" ng-class="ind == 0? 'select': ''"
                            ng-click="btnClick(item,ind)"><a>{{workTypeTurn(item)}}</a></li>
                    </ul>
                    <div class="tab-content" id="tabs-con">
                        <div class="tab-con" style="display: block">
                            <!-- <form class="form-inline" method="get">
                                <div class="form-item">
                                    <input type="radio" name="iCheck" checked ng-click="selectSenderType(0)"><span>根据人员派单</span>
                                    <input type="radio" name="iCheck" ng-click="selectSenderType(1)"><span>根据区域派单</span>
                                    <input type="radio" name="iCheck" ng-click="selectSenderType(2)"><span>根据河道派单</span>
                                </div>
                            </form> -->
                            <form class="form-inline" method="get"
                                  ng-show="typeModule == 'sendOrder' || typeModule == 'delegate'">
                                <div class="form-item" ng-if="commendName == '委办'">
                                    <label>选择区域</label>
                                    <select ng-model="choseRegion" class="form-control select-short"
                                            ng-change="selectRegion(choseRegion, '')">
                                        <option value="0" ng-show="areaWb">上级委办</option>
                                        <option value="1">本级委办</option>
                                    </select>
                                </div>
                                <div class="form-item" ng-if="commendName == '派单'">
                                    <label>选择区域</label>
                                    <select ng-model="senderRegion" ng-options="item.name for item in regionList"
                                            class="form-control select-short" ng-change="selectRegion('',senderRegion)">
                                    </select>
                                </div>
                                <div class="form-item">
                                    <label>选择人员</label>
                                    <select ng-model="chosePerson" ng-options="item.name for item in personList"
                                            class="form-control select-short"
                                            ng-change="selectPerson(chosePerson.id)"></select>
                                    <span class="required">*</span>
                                </div>
                            </form>
                            <form class="form-inline" method="get" ng-show="typeModule != 'sendOrder' && typeModule != 'delegate'">
                                <div class="form-item">
                                    <label>附件</label>
                                    <button type="button" class="btn btn-primary btn-xs" style="margin: 6px 0;" data-toggle="modal" data-target="#docList">
                                        <i class="fa fa-plus"></i> 新增
                                    </button>
                                </div>
                            </form>
                            <form class="form-inline" method="get" ng-show="moudleLength>0">
                                <div class="form-item">
                                    <label>{{commendName}}意见</label>
                                    <textarea class="form-control textarea-long" rows="4"
                                              ng-model="sendDescription"></textarea>
                                </div>
                            </form>
                            <div class="btn-box">
                                <button type="submit" class="btn btn-primary" ng-show="moudleLength>0"
                                        ng-click="certainClick()"><i
                                        class="fa fa-plus"></i>确认
                                </button>
                                <button type="submit" class="btn btn-default" ng-click="back()"><i
                                        class="fa fa-ban"></i>取消
                                </button>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $('#tabs li').click(function () {
                            var i = $(this).index();
                            $(this).addClass('select').siblings().removeClass('select');
                            $('#tabs-con .tab-con').eq(i).show().siblings().hide();
                        });
                    </script>
                </div>

            </div>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">选择区域</h4>
                        </div>
                        <div class="modal-body">
                            <my-tree></my-tree>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="docList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                            <h4 class="modal-title">附件上传</h4>
                        </div>
                        <div class="modal-body" style=" height: auto;">
                            <form class="form-inline" method="get">
                                <input id="input-file" name="input-file" type="file" placeholder="请选择相关文件" multiple>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="fileInput()" data-dismiss="modal">确定</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="videoBox"
             style="position: absolute!important;;z-index: 99998!important;;left: 30%;top: 30%;display: none;background-color: #333;padding: 30px;">
            <span style="position: absolute;z-index: 9991;top: 10px;right: 10px;color: #fff;padding: 2px 8px;cursor: pointer;"
                  ng-click="closePlayer()">关闭</span>
            <div id="videoPlayerBox">
                <video id="my-player" class="video-js" controls preload="auto" data-setup='{}'>
                    <source class="source" src="" type="video/mp4"></source>
                </video>
            </div>
            <div id="audioPlayer">
                <audio controls src="" autoplay="true"></audio>
            </div>
        </div>

        <div id="openImg"
             style="position: absolute!important;;z-index: 99998!important;display: none;top: 0;left: 0;width: 100%;height: 100%;">
            <img src="" style="height: 50%;left: 30%;position: absolute;top: 20%; z-index: 100000">
            <a ng-click="closeImg()" style="position: absolute; top: 15px; right: 15px; width: 30px; height: 30px; color: #fff; font-size: 20px;
    z-index: 100000; text-align: center; line-height: 30px;"><i class="fa fa-close"></i></a>
            <div id="imgShade" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: #000; opacity: 0.9"></div>

        </div>
    </div>
</div>
<script src="vendor/fileinput/fileinput.min.js"></script>
<script>

    layui.use('layer', function () {
        layer.photos({
            photos: '#layer-photos-before'
            , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    });
    layui.use('layer', function () {
        layer.photos({
            photos: '#layer-photos-after'
            , anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
        });
    });
</script>