<div ng-controller="integratedSearch">
	<div class="wrapper-md">
		<div class="panel panel-default m-n">
			<div class="panel-body" style="position: relative;">
				<span class="tag">综合查询</span><span class="tag-right"></span>
			</div>
		</div>
		<div class="panel panel-default m-all-0">
			<div class="panel-body">
				<form method="get">
					<div class="form-inline">
						<div class="form-item">
							<label>问题来源</label>
							<select class="form-control select-short" ng-change="selectChange();"
									ng-model="eventResource">
								<option value="A">河长APP</option>
								<option value="B">电话上报</option>
								<option value="C">公众APP</option>
								<option value="D">微信</option>
								<option value="F">曝光台</option>
								<option value="G">钉钉平台</option>
							</select>
						</div>
						<div class="form-item">
							<label>问题等级</label>
							<select class="form-control select-short" ng-change="selectChange();" ng-model="eventLevel">
								<option value="">请选择</option>
								<option value="0">一般</option>
								<option value="1">紧急</option>
								<option value="2">特急</option>
							</select>
						</div>
						<div class="form-item">
							<label>问题类型</label>
							<input type="text" class="form-control input-short-o" ng-model="eventTypeName"/>
							<a href="javascript:void(0);" data-toggle="modal" data-target="#typeModal" class="input-group-addon"><i class="fa fa-search"></i></a>
						</div>
						<div class="form-group" style="min-width: 276px;margin: 5px 0;">
                            <label style="width: 90px;padding: 5px;">开始时间</label>
                            <div class="input-group date date_picker" id="beginTime">
                                <input type="text" class="form-control input-short-o" ng-model="beginTime"/>
                                <span class="input-group-addon" style="padding: 6px 9px;">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
						<div class="form-group" style="min-width: 276px;margin: 5px 0;">
                            <label style="width: 90px;padding: 5px;">结束时间</label>
                            <div class="input-group date date_picker" id="endTime">
                                <input type="text" class="form-control input-short-o" ng-model="endTime"/>
                                <span class="input-group-addon" style="padding: 6px 9px;">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
						<div class="form-item">
							<label>问题内容</label>
							<input type="text" class="form-control input-short" ng-model="eventContent"/>
						</div>
						<div class="form-item">
							<label>事发区域</label>
							<input type="text" class="form-control input-short-o" ng-model="eventRegion"/>
							<a data-toggle="modal" data-target="#myModal" class="input-group-addon"><i
									class="fa fa-search"></i></a>
						</div>
						<div class="form-item">
							<label>问题状态</label>
							<select class="form-control select-short" ng-change="selectChange();" ng-model="status">
								<option value="">请选择</option>
								<option value="1">处理中</option>
								<option value="2">已结案件</option>
							</select>
						</div>
						<div class="form-item">
							<label>上报号码</label>
							<input type="text" class="form-control input-short" ng-model="eventTel"/>
						</div>
						<div class="form-item">
							<label>来源问题</label>
							<select class="form-control select-short" ng-change="selectChange();"
									ng-model="problemSources">
								<option value="">请选择</option>
								<option value="1">巡查</option>
								<option value="2">暗查</option>
								<option value="3">督查</option>
								<option value="4">监督评价</option>
								<option value="5">监督举报</option>
								<option value="6">督办</option>
								<option value="7">整改</option>
								<option value="8">河长巡河</option>
								<option value="9">抽查</option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary" ng-click="searchData()">
							<i class="fa fa-search"></i>搜索
						</button>
					</div>
				</form>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-bordered table-hover" data-filter="#filter">
						<tr>
							<th>到达时间</th>
							<th>问题来源</th>
							<th>问题等级</th>
							<th>发现时间</th>
							<th>问题内容</th>
							<th>行政区域</th>
							<th>问题状态</th>
						</tr>
						<tr ng-repeat="module in moduleList" ng-init="index=$index+1" ng-click="eventDetail(module.id)"
							style="cursor:pointer;">
							<td>{{module.arrivalTime}}</td>
                            <td>{{reportRes(module.eventresource)}}</td>
                            <td>{{evLevel(module.eventlevel)}}</td>
                            <td>{{module.createtime}}</td>
                            <td>{{module.content}}</td>
                            <td>{{module.eventbelongcity + module.eventbelongcounty + module.eventbelongtown + module.eventbelongvillage}}</td>
                            <td>{{statusEvent(module.status)}}</td>
						</tr>
					</table>

				</div>
				<tm-pagination conf="paginationConf"></tm-pagination>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">选择区域</h4>
				</div>
				<div class="modal-body">
					<ul id="tree1" class="ztree"></ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="typeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">问题类型</h4>
				</div>
				<div class="modal-body">
					<ul id="tree2" class="ztree"></ul>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>
</div>
