<li ng-repeat="item in navData">
       <a id="menu_{{item.id}}" href class="auto" ng-if="item.url==''">
	       <span  class="pull-right text-muted">
		        <i  class="fa fa-fw fa-angle-right text"></i>
		        <i  class="fa fa-fw fa-angle-down text-active"></i>
	       </span>
           <i class="{{item.icon}}"></i>
           <span class="font-bold" >{{item.name}}</span>
       </a>
       <a id="menu_{{item.id}}" ng-if="item.url!=''" ui-sref=app.index({param:item.moduleId+'_1_'+item.seqId})>
           		<i class="{{item.icon}}"></i>
           		<span class="font-bold">{{item.name}}</span>
           </a>
       <ul class="nav nav-sub dk">
           <li ui-sref-active="active" ng-repeat="leaf in item.children">
              <a id="menu_{{leaf.id}}" ui-sref=app.index({param:leaf.moduleId+'_1_'+leaf.seqId})>
                     <span>{{leaf.name}}</span>
              </a>
           </li>
       </ul>
</li>