<div class="anchaanfang" ng-controller="anchaReportListCtrl" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">暗查暗访</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">通报管理</span><span class="tag-right"></span>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-bar">
                    <form class="form-inline clearfix">
                        <div class="input-group date date_picker form-item" id="J-searchTime">
                            <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">月份</font></font></label>
                            <input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        <div class="form-item">
                            <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">通报名称</font></font></label>
                            <input type="text" class="form-control input-short" ng-model="name">
                        </div>
                        <div class="input-group form-item">
                            <label class="near n"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">状态</font></font></label>
                            <select ng-model="status" class="form-control select-short" style="width: auto;">
                                <option value="">请选择</option>
                                <option value="{{item.id}}" ng-repeat="item in statusList">{{item.status}}</option>
                            </select>
                        </div>
                        <!--<div class="form-item">-->
                        <!--<label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创建人</font></font></label>-->
                        <!--<input type="text" class="form-control input-short" ng-model="createuser">-->
                        <!--</div>	                    -->
                        <div class="input-group">
                            <button class="btn btn-primary" ng-click="search()">
                                <i class="fa fa-search"></i>搜索
                            </button>
                            <button type="button" class="btn btn-primary" style="margin:0 10px ;" ng-click="reset()">
                                <i class="fa fa-refresh"></i>重置
                            </button>
                        </div>
                        <!--<div class="input-group fr">-->
                            <!--<button type="button" class="btn btn-primary" ng-click="add()">-->
                                <!--<i class="fa fa-plus"></i> 添加台账-->
                            <!--</button>-->
                        <!--</div>-->
                    </form>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                <tr class='tHeader'>
                                    <th width="5%">序号</th>
                                    <th width="15%">月份</th>
                                    <th width="15%">通报名称</th>
                                    <th width="15%">计划方案</th>
                                    <th width="10%">状态</th>
                                    <th width="10%">操作</th>
                                </tr>
                                <tr ng-repeat="item in reportList">
                                    <td>{{$index+1}}</td>
                                    <td>{{item.month}}</td>
                                    <td>{{item.title}}</td>
                                    <td><a ng-click="viewReport()">{{item.schemeName}}</a></td>
                                    <td>
                                        <span class="label label-info" ng-if="item.status == 0">待通报</span>
                                        <span class="label label-success" ng-if="item.status == 1">已下发</span>
                                        <span class="label label-warning" ng-if="item.status == 2">已反馈</span>
                                        <span class="label label-danger" ng-if="item.status == 3">未按期</span>
                                    </td>
                                    <td style="text-align: left;">
                                        <button type="button" class="btn btn-success" ng-click="view(item.id,item.schemeid)">查看</button>
                                        <button type="button" class="btn btn-warning" ng-if="item.status == 0" ng-click="report(item.id)">下发并通报</button>
                                        <button type="button" class="btn btn-info" ng-if="permission !=2 && item.status == 1" ng-click="view(item.id,item.schemeid)">反馈</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                    </div>
                    <div class="tab-pane" id="chartStatistics">
                        <div id="patrolChart" class="tj-chart-con"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>