<div class="anchaanfang" ng-controller="anchaanfangReportViewCtrl" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">暗查暗访</span><span class="tag-right"></span><span class="tag-right tag-left"></span><span class="tag tag1">通报详情</span><span class="tag-right"></span>
                <div style="overflow: hidden;"><button type="button" class="btn btn-primary" ng-click="goBack()" style="position: absolute;right: 20px;bottom: 20px;">返回</button></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="js-tab">
                    <li class="basis tab-active" >基础资料</li>
                    <li class="reported">约谈台账</li>
                    <li class="deal">反馈结果</li>
                </ul>
                <div class="panel-body js-con">
                    <!--基础资料-->
                    <div class="basis-con con">
                        <div class="panel-body">
                            <h4>暗查暗访当月任务统计</h4>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tableStatistics1">
                                    <div class="table-responsive" style="margin-top: 20px;">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                            <tr class='tHeader'>
                                                <th width="5%">序号</th>
                                                <th width="15%">标题</th>
                                                <th width="10%">检查日期</th>
                                                <th width="10%">检查区域</th>
                                                <th width="15%">检查河道</th>
                                                <th width="10%">状态</th>
                                            </tr>
                                            <tr ng-repeat="item in taskList">
                                                <td>{{$index+1}}</td>
                                                <td>{{item.title}}</td>
                                                <td>{{item.date}}</td>
                                                <td>{{item.regionname}}</td>
                                                <td>{{item.reachname}}</td>
                                                <td>
                                                    <span class="label label-danger" ng-if="item.status == 0">已下发</span>
                                                    <span class="label label-info" ng-if="item.status == 1">检查中</span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <!--<tm-pagination conf="paginationConf"></tm-pagination>-->
                                    </div>
                                </div>
                                <div class="tab-pane" id="chartStatistics1">
                                    <div id="patrolChart1" class="tj-chart-con"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--约谈台账-->
                    <div class="reported-con con tab-show">
                        <div class="panel-body">
                            <div class="input-group fr" ng-if="num == 2">
                                <button type="button" class="btn btn-primary" ng-click="addBook()">
                                    <i class="fa fa-plus"></i> 添加台账
                                </button>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tableStatistics2">
                                    <div class="table-responsive" style="margin-top: 20px;">
                                        <table class="table table-bordered table-hover">
                                            <tbody>
                                                <tr class='tHeader'>
                                                    <th width="5%">序号</th>
                                                    <th width="10%">添加人</th>
                                                    <th width="10%">职务</th>
                                                    <th width="10%">约谈时间</th>
                                                    <th width="10%">约谈对象</th>
                                                    <th width="15%">约谈内容</th>
                                                    <th width="10%">问责类型</th>
                                                    <th width="10%">备注</th>
                                                    <th width="10%">操作</th>
                                                </tr>
                                                <tr ng-repeat="item in bookList">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.duty}}</td>
                                                    <td>{{item.turnarounddate}}</td>
                                                    <td>{{item.object}}</td>
                                                    <td>{{item.content}}</td>
                                                    <td>{{item.accountabilitytype}}</td>
                                                    <td>{{item.remark}}</td>
                                                    <td style="text-align: center;">
                                                        <button type="button" class="btn btn-warning" ng-click="editBook(item.id)" ng-if="num ==2">修改</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--<tm-pagination conf="paginationConf"></tm-pagination>-->
                                    </div>
                                </div>
                                <div class="tab-pane" id="chartStatistics2">
                                    <div id="patrolChart2" class="tj-chart-con"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!--反馈结果-->
                    <div class="deal-con con tab-show">
                        <div class="panel-body">
                            <form class="form-inline" style="padding-left: 25%;">
                                <div class="form-item" >
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">完成</font></font></label>
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{whether}}</font></font></label>
                                </div>
                                <div class="form-item" style="margin-left: 90px;">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">反馈时间</font></font></label>
                                    <input type="text" class="form-control input-short" readonly ng-model="feedbackTime">
                                </div>
                                <br />
                                <div class="form-item" style="margin-top: -2px;">
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">反馈描述</font></font></label>
                                    <textarea class="form-control" id="deblock_udid" name="deblock_udid" ng-model="describe" rows="3" readonly></textarea>
                                </div>
                                <div class="form-item" >
                                    <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">处理附件</font></font></label>
                                    <button type="button" class="btn btn-info" ng-click="viewFile()">查看附件</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            查看附件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div id="file" style="height: 400px;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>