<div ng-controller="superviseReportDetailMgtCtrl" ng-init="init()">
	<div class="wrapper-md">
		<div class="panel panel-default m-n">
			<div class="panel-body" style="position: relative;">
				<span class="tag">社会监督举报详情</span><span class="tag-right"></span>
			</div>
		</div>
		<div class="panel panel-default m-all-0">
			<div class="panel-body">
				<div class="panel-content">
					<div class="patrolDetailContent">
						<div class="form-item">
							<label>举报日期：</label>
							<span ng-bind="reportList.reportDate"></span>
						</div>
						<div class="form-item">
							<label>行政区域：</label>
							<span ng-bind="reportList.regionName"></span>
						</div>
						<br />
						<div class="form-item">
							<label>河段名称：</label>
							<span ng-bind="reportList.riverName"></span>
						</div>
						<div class="form-item">
							<label>举报人员：</label>
							<span ng-bind="reportList.reportor"></span>
						</div>
						<br />
						<div class="form-item">
							<label>联系电话：</label>
							<span ng-bind="reportList.contactType"></span>
						</div>
						<div class="form-item">
							<label>举报问题：</label>
							<span ng-bind="reportList.reportProblem"></span>
						</div>
						<br />
						<div class="form-item">
							<label>问题位置：</label>
							<span ng-bind="reportList.problemPosition"></span>
						</div>
						<div class="form-item">
							<label>办结日期：</label>
							<span ng-bind="reportList.overTime"></span>
						</div>
						<br />
						<div class="form-item">
							<label>问题类型：</label>
							<span ng-bind="reportList.eventType"></span>
						</div>
						<br>
						<div class="form-item">
							<label>转办方式：</label>
							<span ng-bind="reportList.way"></span>
						</div>
						<div class="form-item">
							<label>承办单位：</label>
							<span ng-bind="reportList.organizer"></span>
						</div>
						<div class="form-item">
							<label>回复方式：</label>
							<span ng-bind="reportList.reportway"></span>
						</div>

						<br>
						<div class="form-item">
							<label>实际回复日期：</label>
							<span ng-bind="reportList.finishReport"></span>
						</div>
						<div class="form-item">
							<label>要求回复日期：</label>
							<span ng-bind="reportList.RequireReport"></span>
						</div>
						<div class="form-item">
							<label>回复举报人日期：</label>
							<span ng-bind="reportList.reportorTime"></span>
						</div>

						<br>
						<div class="form-item">
							<label>备注：</label>
							<span ng-bind="reportList.remark"></span>
						</div>

						<br>

						<div class="form-item">
							<label>问题附件：</label>
							<button class="btn btn-info" ng-click="viewFile(1)"><i class="fa fa-css3"></i>查看附件</button>
						</div>
						<br />
						<div class="form-item">
							<label>批处理意见：</label>
							<button class="btn btn-primary" ng-click="viewFile(2)"><i class="fa fa-css3"></i>查看附件</button>
						</div>
						<br />
						<div class="form-item">
							<label>处理结果：</label>
							<button class="btn btn-success" ng-click="viewFile(3)"><i class="fa fa-css3"></i>查看附件</button>
						</div>
						<br />
						<!--<div class="form-item">-->
						<!--<label>处理状态：</label>-->
						<!--<span ng-bind="reportList.processingStatus"></span>-->
						<!--</div>-->
						<div class="form-item">
							<label>处理状态</label>
							<select ng-model="status" id="select" class="form-control select-short" style="width:160px">
								<option value="">请选择</option>
								<option value="{{item.name}}" ng-repeat="item in statusList">{{item.name}}</option>
							</select>
						</div>
						<div class="form-item">
							<label>举报人评价：</label>
							<span>{{reportList.reportEvaluate == 1 ? '满意' : '不满意'}}</span>
						</div>
						<div class="form-item">
							<label>举报来源：</label>
							<span ng-bind="reportList.reportSource"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer m-b-10">
				<div class="btn-box">
					<button type="submit" class="btn btn-primary" ng-click="getSubmit()" ng-show="showBut">
						<i class="fa fa-check"></i>修改
					</button>
					<button type="submit" class="btn btn-default" ng-click="getBack()">
						<i class="fa fa-reply"></i>返回
					</button>
				</div>
			</div>
		</div>
	</div>
	<!--查看附件-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		 data-backdrop="static" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						&times;
					</button>
					<h4 class="modal-title" id="myModalLabel">
						查看附件
					</h4>
				</div>
				<div class="modal-body">
					<div style="margin: 10px 0;" ng-show="showImg" >
						<img src="{{imgUrl}}" alt="">
					</div>
					<div id="file" style="height: 400px;" ng-show="!showImg"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消</button>
				</div>
			</div>
		</div>
	</div>
</div>