<div class="conferenceCtrl anchaanfang chouchadudao" ng-controller="workBriefListCtrl" ng-init="init()">
    <div class="wrapper-md ">
        <div class="panel panel-default m-n">
            <div class="panel-body" style="position: relative;">
                <span class="tag">信息报送</span><span class="tag-right"></span>
            </div>
        </div>
        <div class="panel panel-default m-all-0">
            <div class="panel-body">
                <form method="get">
                    <div class="form-inline">
                        <div class="form-item">
                            <label>报送标题</label>
                            <input type="text" class="form-control input-short" ng-model="eventContent"/>
                        </div>
                        <div class="form-item">
                            <label>发起时间</label>
                            <div class="input-group date date_picker" id="startTime">
                                <input type="text" class="form-control input-short-o" ng-model="startTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>截止时间</label>
                            <div class="input-group date date_picker" id="endTime">
                                <input type="text" class="form-control input-short-o" ng-model="endTime">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>应报送区域</label>
                            <input ng-model="regionName" type="text" class="form-control input-short-o" readonly="readonly" ng-click="getRegionShow()">
                            <a class="input-group-addon" ng-click="getRegionShow()"><i class="fa fa-search"></i></a>
                        </div>
                        <div class="form-item">
                            <label>报送状态</label>
                            <select class="form-control select-short" ng-change="selectChange();" ng-model="status">
                                <option value="">全部</option>
                                <option value="1">已上报</option>
                                <option value="2">未上报</option>
                                <option value="3">已退回</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label>报送方向</label>
                            <select class="form-control select-short" ng-model="direction">
                                <option value="">全部</option>
                                <option value="1">发起方</option>
                                <option value="2">报送方</option>
                            </select>
                        </div>
                        <button type="submit" ng-click="searchData()" class="btn btn-primary">
                            <i class="fa fa-search"></i>搜索
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="reset()" style="margin: 0 5px;">
                            <i class="fa fa-refresh"></i>重置
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <div class="form-inline" ng-if="num == 2">
                        <div class="input-group fr">
                            <button type="button" class="btn btn-primary btn-sm" ng-click="add()">
                                <i class="fa fa-plus"></i> 发起信息报送
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered table-hover" data-filter="#filter">
                        <tr>
                            <th style="width: 5%;">序号</th>
                            <th style="width: 15%">报送标题
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','title')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','title')"></i>
                            </th>
                            <th style="width: 10%">发起时间
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','sentTimeStart')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','sentTimeStart')"></i>
                            </th>
                            <th style="width: 10%">截止时间
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','sentTimeEnd')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','sentTimeEnd')"></i>
                            </th>
                            <th style="width: 10%">应报送区域</th>
                            <th style="width: 10%">报送方向
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','direction')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','direction')"></i>
                            </th>
                            <th style="width: 10%">报送状态
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','weatherSent')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','weatherSent')"></i>
                            </th>
                            <th style="width: 10%">是否采纳
                                <i class="fa fa-caret-up thSort" aria-hidden="true" title="升序" ng-click="sort('asc','weatherAccept')"></i>
                                <i class="fa fa-caret-down thSort" aria-hidden="true" title="降序" ng-click="sort('desc','weatherAccept')"></i>
                            </th>
                            <th style="width: 15%">操作</th>
                        </tr>
                        <tr ng-repeat="module in moduleList" style="cursor:pointer;">
                            <td>{{$index+1}}</td>
                            <td>{{module.title}}</td>
                            <td>{{module.sentTimeStart}}</td>
                            <td>{{module.sentTimeEnd}}</td>
                            <td>{{module.sentRegion}}</td>
                            <td>{{module.direction}}</td>
                            <td>
                                <span ng-if="module.weatherSent	 == 1" class="label label-danger">已上报</span>
                                <span ng-if="module.weatherSent	 == 2" class="label label-success">未上报</span>
                                <span ng-if="module.weatherSent	 == 3" class="label label-info">已退回</span>
                                <span ng-if="module.weatherSent  == 4" class="label label-info">延时上报</span>

                                <span ng-if="module.weatherSent != 1 &&  module.weatherSent != 2 &&  module.weatherSent != 3 &&  module.weatherSent != 4">-</span>
                            </td>
                            <td>
                                <span ng-if="module.weatherAccept == 1">已采纳</span>
                                <span ng-if="module.weatherAccept == 2">未采纳</span>
                                <span ng-if="module.weatherAccept != 2 &&  module.weatherAccept != 1">-</span>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs" ng-click="view(module.id)"><i class="fa fa-info" title="查看"></i></a>
                                <a class="btn btn-primary btn-xs" ng-if="num == 5 && module.replyState == 2 && module.weatherSent == 2" ng-click="answer(module)"><i class="fa fa-bullhorn" title="答复"></i></a>
                                <a class="btn btn-primary btn-xs" ng-if="num == 5 && module.replyState == 1 && module.weatherSent == 2" ng-click="report(module.id)"><i class="fa fa-level-up" title="上报"></i></a>
                                <a class="btn btn-primary btn-xs" ng-if="num == 2 && module.initiator == userInfo.id" ng-click="delete(module.id)"><i class="fa fa-trash-o" title="删除"></i></a>
                            </td>
                        </tr>
                    </table>

                </div>
                <tm-pagination conf="paginationConf"></tm-pagination>
            </div>
        </div>

        <!--描述：所属区域树-->
        <div class="modal fade" id="regionTreeModal" role="dialog_region" data-backdrop="static" style="z-index: 99999;">
            <div class="modal-dialog modal-jm " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">选择区域</h4>
                    </div>
                    <div class="modal-body">

                        <ul id="regionTreeContainer" class="ztree regionTreeContent"></ul>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getModalOk()">
                            <i class="fa fa-check"></i>
                            <span>确 定</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- 发起信息报送（Modal） -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel3">
                            发起信息报送
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 400px;">
                        <form class="form-inline">
                            <div class="form-item">
                                <label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">报送标题</font></font></label>
                                <input type="text" class="form-control input-long" ng-model="title">
                            </div>
                            <div class="input-group form-item" style="z-index: 9;">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">报送区域</font></font></label>
                                <select ng-model="region1" id="slpk" class="form-control select-short selectpicker" data-actions-box="true" data-size="8" multiple style="width: 160px;">
                                </select>
                            </div>
                            <div class="form-item">
                                <label>发起时间</label>
                                <div class="input-group date date_picker" id="startTime1">
                                    <input type="text" class="form-control input-short-o" ng-model="startTime1">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item">
                                <label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发起人</font></font></label>
                                <input type="text" class="form-control input-short" readonly ng-model="author">
                            </div>
                            <div class="form-item">
                                <label>结束时间</label>
                                <div class="input-group date date_picker" id="endTime1">
                                    <input type="text" class="form-control input-short-o" ng-model="endTime1">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item" style="margin-left: 20px;position: relative;left: -19px;">
                                <label>报送截止</label>
                                <div class="input-group date date_picker" id="J-searchTime">
                                    <input type="text" class="form-control input-short-o" ng-model="searchTime">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">报送说明</font></font></label>
                                <textarea class="form-control" rows="3" ng-model="briefDescription1"></textarea>
                            </div>
                            <div class="form-item">
                                <label><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">报送附件</font></font></label>
                                <button class="btn btn-info" ng-click="getUploadFile()"><i
                                        class="fa fa-css3"></i>上传附件
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="confirm()">确认发起</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- 信息答复（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel1">
                            报送
                        </h4>
                    </div>
                    <div class="modal-body" style="height: 350px;width: 595px;overflow-y: auto;overflow-x: hidden">
                        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title">
                                <li class="layui-this">答复报送</li>
                                <li>报送要求</li>
                            </ul>
                            <div class="layui-tab-content">
                                <!--答复报送-->
                                <div class="layui-tab-item layui-show">
                                    <form class="form-inline">
                                        <div class="form-item">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">报送说明</font></font></label>
                                            <textarea class="form-control" id="textarea" rows="3" ng-model="briefDescription"></textarea>
                                        </div>
                                        <div class="form-item">
                                            <label><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">报送附件</font></font></label>
                                            <button class="btn btn-info" ng-click="getUploadFile()"><i
                                                    class="fa fa-css3"></i>上传附件
                                            </button>
                                        </div>

                                    </form>
                                </div>
                                <!--报送要求-->
                                <div class="layui-tab-item">
                                    <form class="form-inline clearfix">
                                        <div class="form-item" style="float: inherit;">
                                            <label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">报送标题：</font></font></label>
                                            <span>{{resDetail.title}}</span>
                                        </div>
                                        <div class="form-item" style="float: inherit;">
                                            <label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">报送区域：</font></font></label>
                                            <span>{{resDetail.sentRegion}}</span>
                                        </div>
                                        <br>
                                        <div class="form-item" style="float: inherit;">
                                            <label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发起日期：</font></font></label>
                                            <span>{{resDetail.beginTime}}</span>
                                        </div>
                                        <div class="form-item" style="float: inherit;">
                                            <label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">截止日期：</font></font></label>
                                            <span>{{resDetail.deadline}}</span>
                                        </div>
                                        <div class="form-item" style="float: inherit;">
                                            <label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">发起人：</font></font></label>
                                            <span>{{resDetail.initiator}}</span>
                                        </div>
                                        <br>
                                        <div class="form-item" style="float: inherit;">
                                            <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">报送说明：</font></font></label>
                                            <!--<span>{{resDetail.briefDescription}}</span>-->
                                            <textarea class="form-control" id="textarea1" rows="3" readonly ng-model="resDetail.briefDescription" style="width: 400px;"></textarea>
                                        </div>
                                        <br>
                                        <div class="form-item" ng-if="fileList.length !=0" style="float: inherit;">
                                            <label><font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">报送附件</font></font></label>
                                        </div>
                                        <div class="form-item" style="position: relative;top: -50px;left:85px ;width: 446px;">
                                            <span ng-repeat="item in accessoryURL" style="color: #333;cursor: pointer;margin: 8px 10px;">{{item.name}}
                                               <span style="color: #3189e1;" ng-click="downFile(item.downloadURL)">下载</span>
                                            </span>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="save(1)">保存</button>
                        <button type="button" class="btn btn-primary" ng-click="save(2)">确认上报</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--描述：回复附件-->
        <div class="modal fade" id="coverModal" data-backdrop="static">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <li class="fa fa-remove"></li>
                        </button>
                        <h4>上传附件</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="wid-100 announcementCoverPanel">
                                    <input class="uploadfile" id="problemFile" type="file" name="file">
                                </div>
                            </div>
                        </form>
                    </div>
                    .
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-primary btn-o" ng-click="getUpload()">
                            <i class="fa fa-check"></i>
                            <span>确定</span>
                        </a>
                        <a href="javascript:;" class="btn btn-default btn-o" data-dismiss="modal">
                            <i class="fa fa-reply"></i>
                            <span>取消</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 查看附件（Modal） -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog" style="width: 680px!important;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel2">
                            查看附件
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div id="file" style="height: 400px;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel1()">取消</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    $(".uploadfile").fileinput({
        allowedFileExtensions: ['doc','docx','pdf','png','jpg','jpeg','xlsx','xls'],
        uploadAsync: true, //默认异步上传
        showRemove: true, //显示移除按钮
        maxFileCount: 5, //表示允许同时上传的最大文件个数
        language: 'zh', //设置语言
        uploadUrl: '#', //上传的地址
        showUpload: false, //显示批量上传按钮
        showCaption: true, //是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        showPreview: true, //是否显示预览
        dropZoneEnabled: false, //是否显示拖拽区域
        validateInitialCount: true,
        slugCallback: function (filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    });
    layui.use('element', function () {
        var $ = layui.jquery
            , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabChange: function () {
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });

        element.on('tab(test)', function (elem) {
            location.hash = 'test=' + $(this).attr('lay-id');
        });

    });
</script>