<div class="anchaanfang" ng-controller="anchaListCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">暗查暗访</span><span class="tag-right"></span>
        		<div style="overflow: hidden;"><button type="button" class="btn btn-primary" ng-click="goBack()" style="position: absolute;right: 20px;bottom: 20px;">返回</button></div>
        	</div>
       
        </div>
    	<div class="panel panel-default">
        	<div class="panel-body">
        		<div class="table-bar">
        			<form class="form-inline clearfix">        					                    
	        			<div class="input-group date date_picker form-item" id="J-searchTime">
	                        <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查日期</font></font></label>
	        				<input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
	                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
	                    </div>
	        			<div class="input-group form-item">
	                        <label class="near n"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">检查区域</font></font></label>
	        				<select ng-model="type" class="form-control select-short" style="width: auto;">
	                        	<option value=""></option>
	                        	<option value="0">已上报</option>
	                        	<option value="1">已退回</option>
	                        	<option value="2">未上报</option>
	                        </select>
	                    </div>
	                    <div class="form-item">
	                        <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创建人</font></font></label>
	                        <input type="text" class="form-control input-short" ng-model="createuser">
	                    </div>	                    
        				<div class="input-group">
		                    <button class="btn btn-primary" ng-click="search()">
		                    	<i class="fa fa-search"></i>搜索
		                    </button>
	                    </div>
	                    <div class="input-group fr">
		                    <button type="button" class="btn btn-primary" ng-click="add()">
		                        <i class="fa fa-plus"></i> 新增
		                    </button>
	                    </div>
                    </form>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                	<tr class='tHeader'>
	                                    <th width="5%">序号</th>
	                                    <th width="15%">标题</th>
	                                    <th width="10%">检查日期</th>
	                                    <th width="10%">检查区域</th>
	                                    <th width="15%">检查河道</th>
	                                    <th width="15%">检查内容</th>
	                                    <th width="10%">状态</th>
	                                    <th width="20%">操作</th>
	                                </tr>
	                                <tr>
	                                    <td>1</td>
	                                    <td>我是标题</td>
	                                    <td>2018-10</td>
										<td>河东区</td>
	                                    <td>河道</td>
	                                    <td>污染物检查</td>
	                                    <td>
	                                    	<span class="label label-danger">已下发</span>
	                                    </td>	                                   
	                                    <td style="text-align: left;">
	                                    	<button type="button" class="btn btn-success" ng-click="view(0)">查看</button>
	                                    	<button type="button" class="btn btn-danger" ng-click="report()">上报</button>	                                    	
	                                    	<button type="button" class="btn btn-warning" ng-click="edit()">修改</button>	                                    	
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td>1</td>
	                                    <td>我是标题</td>
	                                    <td>2018-10</td>
										<td>河东区</td>
	                                    <td>河道</td>
	                                    <td>污染物检查</td>
	                                    <td>
	                                    	<span class="label label-info">检查中</span>
	                                    </td>	                                   
	                                    <td style="text-align: left;">
	                                    	<button type="button" class="btn btn-success" ng-click="view(0)">查看</button>
	                                    	<button type="button" class="btn btn-danger" ng-click="report()">上报</button>	                                    	
	                                    	<button type="button" class="btn btn-info" ng-click="view(2)">通报</button>	                                    	
	                                    	<button type="button" class="btn btn-warning" ng-click="edit()">修改</button>	                                    	
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td>1</td>
	                                    <td>我是标题</td>
	                                    <td>2018-10</td>
	                                    <td>河东区</td>
	                                    <td>河道</td>
	                                    <td>污染物检查</td>
	                                    <td>
	                                    	<span class="label label-warning">已处理</span>
	                                    </td>	                                   
	                                    <td style="text-align: left;">
	                                    	<button type="button" class="btn btn-success" ng-click="view(0)">查看</button>
	                                    </td>
	                                </tr>
	                                <tr>
	                                    <td>1</td>
	                                    <td>我是标题</td>
	                                    <td>2018-10</td>
	                                    <td>河东区</td>
	                                    <td>河道</td>
	                                    <td>污染物检查</td>
	                                    <td>
	                                    	<span class="label label-primary">已通报</span>
	                                    </td>	                                   
	                                    <td style="text-align: left;">
	                                    	<button type="button" class="btn btn-success" ng-click="view(0)">查看</button>
	                                    	<button type="button" class="btn btn-info" ng-click="view(3)">处理</button>	                                    	
	                                    </td>
	                                </tr>
                            	</tbody>
                            </table>
                			<!--<tm-pagination conf="paginationConf"></tm-pagination>-->
                        </div>
                    </div>
                    <div class="tab-pane" id="chartStatistics">
                        <div id="patrolChart" class="tj-chart-con"></div>
                    </div>
                </div>
        	
        	</div>
        </div>
    	
    </div>
</div>