<div class="anchaanfang" ng-controller="anchaListCtrl" ng-init="init()">
    <div class="wrapper-md ">
    	<div class="panel panel-default m-n">
        	<div class="panel-body" style="position: relative;">
        		<span class="tag">暗查暗访</span><span class="tag-right"></span>

        	</div>
       
        </div>
    	<div class="panel panel-default">
        	<div class="panel-body">
        		<div class="table-bar">
        			<form class="form-inline clearfix">
						<div class="form-item">
						<label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">标题</font></font></label>
						<input type="text" class="form-control input-short" ng-model="title">
						</div>
                        <div class="input-group date date_picker form-item" id="J-searchTime">
                            <label class="near"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">期号</font></font></label>
                            <input type="text" class="form-control input-short-o ng-pristine ng-valid ng-touched" placeholder="请选择日期" ng-model="searchTime">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
        				<div class="input-group">
		                    <button class="btn btn-primary" ng-click="search()">
		                    	<i class="fa fa-search"></i>搜索
		                    </button>
							<button type="button" class="btn btn-primary" style="margin:0 10px ;" ng-click="reset()">
								<i class="fa fa-refresh"></i>重置
							</button>
	                    </div>
	                    <div class="input-group fr" ng-if="num == 2">
		                    <button type="button" class="btn btn-primary" ng-click="add()">
		                        <i class="fa fa-plus"></i> 新增
		                    </button>
	                    </div>
                    </form>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tableStatistics">
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                	<tr class='tHeader'>
	                                    <th width="5%">序号</th>
	                                    <th width="15%">标题</th>
	                                    <th width="15%">期号</th>
	                                    <th width="10%">创建人</th>
	                                    <th width="10%">通报名称</th>
										<th width="10%">操作</th>
	                                </tr>
	                                <tr ng-repeat="item in schemeList">
	                                    <td>{{$index+1}}</td>
	                                    <td>{{item.title}}</td>
	                                    <td>{{item.issue}}</td>
										<td>{{item.createuser}}</td>
										<td>
											<a ng-click="viewReport()" ng-if="num == 2">{{item.bulletinName}}</a>
											<a ng-if="num == 5" style="color: #666;cursor: auto">{{item.bulletinName}}</a>
										</td>
	                                    <td style="text-align: center;">
											<button type="button" class="btn btn-success" ng-click="viewDetail(item.id)">查看详情</button>
											<button type="button" class="btn btn-info" ng-click="view(item.id)">查看任务</button>
	                                    </td>
	                                </tr>
                            	</tbody>
                            </table>
                			<tm-pagination conf="paginationConf"></tm-pagination>
                        </div>
                    </div>
                    <div class="tab-pane" id="chartStatistics">
                        <div id="patrolChart" class="tj-chart-con"></div>
                    </div>
                </div>
				<video id="example_video_1" class="video-js vjs-default-skin video-js video-js vjs-big-play-centered" controls preload="none" width="640" height="264"
					   poster="http://vjs.zencdn.net/v/oceans.png">
					<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
				</video>

        	</div>
        </div>


		<!-- 查看详情（Modal） -->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel3">
							查看方案详情
						</h4>
					</div>
					<div class="modal-body" style="height: 300px;">
						<form class="form-inline">
							<div class="form-item">
								<label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">方案名称：</font></font></label>
								<span>{{detailInfo.title}}</span>
							</div>
							<div class="form-item">
								<label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">方案时间：</font></font></label>
								<span>{{detailInfo.issue}}</span>
							</div>
							<div class="form-item">
								<label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">创建人：</font></font></label>
								<span>{{detailInfo.createuser}}</span>
							</div>
							<div class="form-item">
								<label class=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">主要内容：</font></font></label>
								<span>{{detailInfo.content}}</span>
							</div>
							<div class="form-item" ng-if="detailInfo.assessory">
								<label><font style="vertical-align: inherit;"><font
										style="vertical-align: inherit;">附件</font></font></label>
								<button class="btn btn-info" ng-click="viewFile(detailInfo.assessory)"><i class="fa fa-css3"></i>查看附件
								</button>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
			 data-backdrop="static" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							&times;
						</button>
						<h4 class="modal-title" id="myModalLabel">
							查看附件
						</h4>
					</div>
					<div class="modal-body">
						<div id="file" style="height: 400px;"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">取消
						</button>
					</div>
				</div>
			</div>
		</div>

    </div>
</div>
<script>
    var player = videojs('example_video_1',{
        muted: true, //是否静音
        controls : true,//
        height:100,
        width:100,
        loop : true,
        // 更多配置.....
    });
    var options = {};

    var player = videojs('example_video_1', options, function onPlayerReady() {


        this.play();


        this.on('ended', function() {
            videojs.log('播放结束了!');
        });
    });

</script>